
<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <div class="row">
            <div class="col-10">
                <a href="/dashboard/wall">YourSpread</a>
                <a href="/academy">Academy</a>
                <a href="/business">Business</a>
                <a href="/news">News</a>
                <a href="/shopping">Shopping</a>
                <a href="/wellness">Wellness</a>
            </div>
            <div class="col-2">
                <a href="/users/logout" class="logout-button" style="padding-left: 10px; padding-right: 10px; text-shadow: 0 0 4px red; color: rgba(255, 255, 255, 0.712);">Logout</a>
            </div>
        </div>
    </div>
</div>

<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <div class="row">
            <div class="col-12">
                <a href="/academy">Your Desk</a>
                <a href="/academy/courses">Courses</a>
                <a href="#">Tools</a>
                <a href="#">Help</a>
            </div>

        </div>
    </div>
</div>
<h1><%= currentPageTitle %></h1>

<div class="students-current-courses">
    <h1>Your Current Courses</h1>
    <% academyInfo.academy_info.current_courses.forEach(function(course){ %>
        <div class="student-course">

            <h2><%= course.subject %></h2>
            <h2><%= course.course %></h2>
            <p>Difficulty: <%= course.difficulty %></p>
            <p>Credits: <%= course.credit_value %></p>
            <p>Current Grade: <%= course.current_grade %>%</p>
            <div class="go-to-course">
                <div class="nav-bar">
                    <a href="/academy/courses/<%= course.id %>">Go to Class</a>
                </div>
            </div>
            </div>

    <% }); %>
</div>
<div class="nav-bar">
    <a href="/academy/courses">All Courses</a>
</div>

<div class="academy-footer">
    <div class="nav-bar">
        <a href="/academy/add-course">Add New Course</a>
    </div>
</div>