<style>
    .page-title {
        padding-top: 20px;
        text-align: center;
        width: 100%;
    }
    .main-header-page-menu-container {
        padding: 10px;
        background: rgba(255, 255, 255, 0.308);
        backdrop-filter: blur(2px);
        border-radius: 12px;
        border: groove 1px rgba(135, 206, 250, 0.555);
        
    }
    .main-header-page-menu-inner {
        padding: 10px;
    }
    .main-header-page-menu-inner a {
        display: inline-flex;
        padding: 10px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.733);
        transition: ease-in 0.4s;
        background: rgba(135, 206, 250, 0.315);
        backdrop-filter: blur(4px);
        border-radius: 8px;
        text-align: center;
    }
    .main-header-page-menu-inner a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 3px lightskyblue;
        transition: ease-in 0.2s;
    }

    @media screen and (max-width: 500px) {
        .main-header-page-menu-container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            box-shadow: inset 0 0 4px black;
        }
        .main-header-page-menu-container p {
            margin: 0 auto;
            color: rgba(255, 255, 255, 0.76);
            text-align: center;
            font-size: 0.6rem;
        }
        .main-header-page-menu-inner a {
            text-align: center;
        }
        
        #mainHeaderPageMenu {
            width: 100%;
            position: relative;

        }

        .main-header-page-menu-inner {
            display: inline-flex;
            max-width: 100%;
            min-width: 100%;
            overflow-x: scroll;
            padding: 10px;
            width: 100%;
        }
        .main-header-page-menu-inner a {
            position: relative;
            padding: 10px;
            width: 150px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            text-align: center;
        }
        .course-selection-container {
            box-shadow: none;
            background: transparent;
        }
        .student-course {
            padding: 0;
            border-radius: 8px;
            box-shadow: none;
            overflow: hidden;
            position: relative;
            background: transparent;
        }
        .course-background-image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -20;
            width: 100%;
            height: 100%;
            min-width: 100%;
            border-radius: 8px;
            background: transparent;

        }
        .course-background-image img {
            width: 100%;
        }
        .course-header {
            background:rgba(255, 255, 255, 0.3);
            border-bottom: groove 2px lightskyblue;
            padding: 10px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        .course-stats {
            color: #fff;
            padding: 10px;
        }
        .go-to-course {
            width: 90%;
            margin-left: 7.5%;
            display: inline-flex;
        }
        
        .go-to-course p {
            width: 40%;
            background: green;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border: groove 2px green;
            box-shadow: inset 0 2px 2px 1px rgba(0, 0, 0, 0.445);
            border-bottom: none;
            padding: 5px;
            color: #fff;
            margin-bottom: 0;
            text-align: center;
        }
        .go-to-course a {
            color: #fff;
        }
        .go-to-course form {
            width: 40%;
            margin-left: 10%;
            position: relative;
        }
        .go-to-course button {
            background: green;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border: groove 2px green;
            box-shadow: inset 0 2px 2px 1px rgba(0, 0, 0, 0.445);
            border-bottom: none;
            color: #fff;
            height: 100%;
        }
    }
</style>
<%- include('partials/mainHeaderSiteMenu') %>
<div class="page-title">
    <h1><%= currentPageTitle %></h1>
</div>
<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenuu">
        <div class="main-header-page-menu-inner">
            <a href="/academy">Your Desk</a>
            <a href="/academy/courses">All Courses</a>

        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>

<div class="course-selection-container">
<% courses.forEach(function(course){ %>
    <div class="student-course">
        <div class="course-background-image">
            <img src="/image/<%= course.background_image %>" alt="">
        </div>
        <div class="course-header">
            <h2><%= course.course %></h2>
            <h5><%= course.subject %></h5>
        </div>
        <div class="course-stats">
            <p>Difficulty: <%= course.difficulty %></p>
            <p>Credits: <%= course.credit_value %></p>
            <p>Current Grade: <%= course.current_grade %>%</p>
        </div>
        <div class="go-to-course">
            <p><a href="/academy/courses/<%= course.id %>">Go to Class</a></p>
            
                <form action="/academy/courses/<%= course.id %>/add-course?_method=PATCH" method="POST">
                    <input type="text" value="<%= course.id %>" name="courseId" hidden="true">
                    <button type="submit">Add Course</button>
                </form>
        </div>
    </div>
<% }); %>
</div>