<style>

</style>

<div class="shopping-cart">
    <div class="items">
        <p><%= cart %></p>
        <p><%= company %></p>
        <p><%= item %></p>
        <p><%= cartId %></p>
        <p><%= user %></p>
    </div>
</div>