<style>
    .page-title {
        padding-top: 20px;
        text-align: center;
        width: 100%;
    }
    .main-header-page-menu-container {
        padding: 10px;
        background: rgba(255, 255, 255, 0.308);
        backdrop-filter: blur(2px);
        border-radius: 12px;
        border: groove 1px rgba(135, 206, 250, 0.555);
        
    }
    .main-header-page-menu-inner {
        padding: 10px;
    }
    .main-header-page-menu-inner a {
        display: inline-flex;
        padding: 10px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.733);
        transition: ease-in 0.4s;
        background: rgba(135, 206, 250, 0.315);
        backdrop-filter: blur(4px);
        border-radius: 8px;
        text-align: center;
    }
    .main-header-page-menu-inner a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 3px lightskyblue;
        transition: ease-in 0.2s;
    }

    @media screen and (max-width: 500px) {
        .spread-break hr {
    background: lightskyblue;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.534);
    width: 80%;
    margin-left: 10%;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
}
        .main-header-page-menu-container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            box-shadow: inset 0 0 4px black;
            background: rgba(0, 0, 0, 0.3);
            border: none;
            border-left: groove 1px lightskyblue;
            border-right: groove 1px lightskyblue;
            border-radius: 8px;
        }
        .main-header-page-menu-container p {
            margin: 0 auto;
            color: lightskyblue;
            text-align: center;
            font-size: 0.6rem;
            
        }
        .main-header-page-menu-inner a {
            border-top: groove 2px lightskyblue;
            border-bottom: groove 2px lightskyblue;
            text-align: center;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 8px;
            color: #fff;
        }
        #mainHeaderPageMenu {
            width: 100%;
            position: relative;

        }

        .main-header-page-menu-inner {
            display: inline-flex;
            max-width: 100%;
            min-width: 100%;
            overflow-x: scroll;
            padding: 10px;
            width: 100%;
        }
        .main-header-page-menu-inner a {
            position: relative;
            padding: 10px;
            width: 150px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            text-align: center;
        }
        .background-image {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -20;
            text-align: center;
        }
        .background-image img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            max-height: fit-content;
            max-width: fit-content;
            min-width: 100%;
            min-height: 100%;
        }
        .company-site-container {
        }
        .company-header {
            text-align: center;
            width: 100%;
            padding-top: 30px;
        }
        .company-header h1 {
            text-align: center;
            width: 100%;
        }
        .logo {
            width: 100%;
        }
        .logo img {
            width: 100%;
            border-radius: 8px;
            margin-bottom: 20px;
        }
        .company-header h5 {
            padding: 10px;
            width: 100%;
            text-align: center;
        }
        .sub-pages {
            padding: 5px;    
            margin-top: 20px;
        }
        .sub-pages a {
            color: lightskyblue;
            margin-left: 10px;
            padding-left: 10px;
            border-left: solid 1px #fff;
        }
        .sub-pages a:first-of-type {
            color: lightskyblue;
            border: none;
            padding: 0;
            margin: 0;
        }
        .company-bio {
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(2px);
            padding: 10px;
            border-radius: 8px;
            color: #fff;
            border-top: groove 2px lightskyblue;
            border-bottom: groove 2px lightskyblue;
        }
        .make-appointment {
            background:rgba(255, 255, 255, 0.3);
            border-radius: 8px;
            border-top: groove 2px lightskyblue;
            border-bottom: groove 2px lightskyblue;
            padding: 10px;
            text-align: center;
            margin-top: 20px;
        }
        .make-appointment a {
            color: #fff;
            text-align: center;
        }
        .company-info {
            background: rgba(255, 255, 255, 0.3);
            border-top: groove 2px lightskyblue;
            border-bottom: groove 2px lightskyblue;
            padding: 10px;
            border-radius: 8px;
            margin-top: 20px;
            margin-bottom: 70px;
        }
        .company-info p {
            color: #fff;
            text-align: right;
        }
    }
</style>
<%- include('partials/mainHeaderSiteMenu') %>
<div class="page-title">
    <h1><%= currentPageTitle %></h1>
</div>
<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenuu">
        <div class="main-header-page-menu-inner">
            <a href="/business">Business Home</a>
            <a href="/business/your-desk">Your Desk</a>
            <a href="/business/<%= company._id %>/store">Store</a>
            <a href="/business/<%= company._id %>/apply-for-job">Apply for a Job</a>
        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>


<div class="company-site-container">
    <div class="background-image">
        <% if (company.background_image) { %>
            <img src="/image/<%= company.background_image %>" alt="">
    <% } else { %>
        <span style="display: none;"></span>
    <% } %>
    </div>
    <div class="company-header">
        <h1><%= company.company_name %></h1>
        <h5><%= company.company_type %></h5>
        <div class="sub-pages">
            <% subPages.forEach(function(page){ %>
                <a href="/business/<%= company.id %>/sub/<%= page.id %>"><%= page.page_name %></a>
            <% }) %>
            </div>
    <hr>
        <div class="logo">
            <% if (company.background_image) { %>
                <img src="/image/<%= company.logo %>" alt="">
        <% } else { %>
            <span style="display: none;"></span>
        <% } %>
        </div>

    </div>


<div class="companySite-inner">

    <div class="company-bio">
        <p><%= company.company_bio %></p>
    </div>

    <div class="make-appointment">
        <a href="/business/<%= company.id %>/make-appointment">Make an Appointment</a>
    </div>
<div class="company-info">
<p><%= company.company_street_1 %></p>
<p><%= company.company_street_2 %></p>
<p><%= company.company_suite_number %></p>
<p><%= company.company_city %></p>
<p><%= company.company_state %></p>
<p><%= company.company_zip %></p>
<p><%= company.company_country %></p>
<p><a href="tel:<%= company.company_phone %>"><%= company.company_phone %></a></p>
<p><a href="mailto:<%= company.company_main_email %>"><%= company.company_main_email %></a></p>
<p><%= company.company_fax %></p>
<p><%= company.company_website %></p>
</div>
</div>



</div>