

<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <div class="row">
            <div class="col-10">
                <a href="/dashboard/wall">YourSpread</a>
                <a href="/academy">Academy</a>
                <a href="/business">Business</a>
                <a href="/news">News</a>
                <a href="/shopping">Shopping</a>
                <a href="/wellness">Wellness</a>
            </div>
            <div class="col-2">
                <a href="/users/logout" class="logout-button" style="padding-left: 10px; padding-right: 10px; text-shadow: 0 0 4px red; color: rgba(255, 255, 255, 0.712);">Logout</a>
            </div>
        </div>
    </div>
</div>

<h1 style="text-align: center;"><%= currentPageTitle %></h1>


<div class="resume-container">
<div class="resume-bio">
    <h2>Bio</h2>
   <p> <%= resume.bio %></p>
</div>
<div class="resume-objective">
    <h2>Objective</h2>
   <p> <%= resume.objective %></p>
</div>
<hr style="border-color: rgba(135, 206, 250, 0.623); margin-top: 40px; margin-bottom: 40px; width: 80%; margin-left: 10%;">
<div class="resume-education">
    <% if (resume.education) { %>
            <h2>Education</h2>
            <div style="padding: 10px; margin: 5px; border-radius: 10px;">
                <div>
                    <div class="nav-bar">
                       <h5><%= resume.education.school %></h5>
                    </div>
                    <div class="education-school-details">
                        <p>Graduated: <%= resume.education.graduated %></p>
                        <p>Major: <%= resume.education.major %></p>
                        <p>GPA: <%= resume.education.gpa %></p>
                    </div>
                </div>  
                
            </div>
        <%} else { %>
            <span></span>
            <% } %>
    </div>
    <hr style="border-color: rgba(135, 206, 250, 0.623); margin-top: 40px; margin-bottom: 40px; width: 80%; margin-left: 10%;">
<div class="resume-employment-history">
    <% if (resume.employment_history) { %>
            <h2>Employment History</h2>
            <div style="padding: 10px; margin: 5px; border-radius: 10px;">
                <div>
                    <div class="nav-bar">
                        <h5><%= resume.employment_history.company %></h5>
                    </div>
                    <div class="employment-history-details">
                        <h6><%= resume.employment_history.position %></h6>
                        <p><%= resume.employment_history.year_start %> - <%= resume.employment_history.year_end  %></p>
                        <div class="employment-history-details-reference">
                            <h5>Reference</h5>
                            <p><%= resume.employment_history.reference.fname %></p>
                            <p><%= resume.employment_history.reference.lname %></p>
                            <p><%= resume.employment_history.reference.email %></p>
                            <p><%= resume.employment_history.reference.phone %></p>
                        </div>
                    </div>
                </div>  
                
            </div>
        <%} else { %>
            <span></span>
            <% } %>
    </div>


<div class="resume-skills">


            <div style="padding: 10px; margin: 5px; border-radius: 10px;">
                <div>
                    <h2>Skills</h2>
                    <div class="resume-skills">
                        <p><%= resume.special_skill1 %></p>
                        <p><%= resume.special_skill2 %></p>
                        <p><%= resume.special_skill3 %></p>
                        <p><%= resume.special_skill4 %></p>
                        <p><%= resume.special_skill5 %></p>
                    </div>
                </div>  
                
            </div>
        </li>
    </div>

    </div>
    <div class="add-employee">
        <form action="/business/<%= company._id %>/add-employee" method="post">
            <input type="text" value="<%= resume.resumeOwner._id %>" name="newEmployee">
            <select name="departments">
                <option value="Frontend">Frontend</option>
                <option value="Backend">Backend</option>
                <option value="Security">Security</option>
            </select>
            <button type="submit">Add Employee</button>
        </form>
    </div>