<style>
    .page-title {
        padding-top: 20px;
        text-align: center;
        width: 100%;
    }
    .main-header-page-menu-container {
        padding: 10px;
        background: rgba(255, 255, 255, 0.308);
        backdrop-filter: blur(2px);
        border-radius: 12px;
        border: groove 1px rgba(135, 206, 250, 0.555);
        
    }
    .main-header-page-menu-inner {
        padding: 10px;
    }
    .main-header-page-menu-inner a {
        display: inline-flex;
        padding: 10px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.733);
        transition: ease-in 0.4s;
        background: rgba(135, 206, 250, 0.315);
        backdrop-filter: blur(4px);
        border-radius: 8px;
        text-align: center;
    }
    .main-header-page-menu-inner a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 3px lightskyblue;
        transition: ease-in 0.2s;
    }

    @media screen and (max-width: 500px) {
        .main-header-page-menu-container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            box-shadow: inset 0 0 4px black;
        }
        .main-header-page-menu-container p {
            margin: 0 auto;
            color: rgba(255, 255, 255, 0.76);
            text-align: center;
            font-size: 0.6rem;
        }
        .main-header-page-menu-inner a {
            text-align: center;
        }
        
        #mainHeaderPageMenu {
            width: 100%;
            position: relative;

        }

        .main-header-page-menu-inner {
            display: inline-flex;
            max-width: 100%;
            min-width: 100%;
            overflow-x: scroll;
            padding: 10px;
            width: 100%;
        }
        .main-header-page-menu-inner a {
            position: relative;
            padding: 10px;
            width: 150px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            text-align: center;
        }
        .sub-pages a {
            color: lightskyblue;
        }
    }
</style>
<%- include('partials/mainHeaderSiteMenu') %>
<div class="page-title">
    <h1><%= currentPageTitle %></h1>
</div>
<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenuu">
        <div class="main-header-page-menu-inner">
            <a href="/business">Business Home</a>
            <a href="/business/your-desk">Your Desk</a>
            <a href="/business/<%= company._id %>/manage">Manage Company</a>
            <a href="/business/<%= company._id %>/add-employee">Apply for a Job</a>
        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>

<div class="nav-bar">
    <a href="/business">Business Home</a>
</div>

<div class="companySite-container">

    <h1><%= company.company_name %></h1>
    <h5><%= company.company_type %></h5>

    <div class="sub-pages">
        <% subPages.forEach(function(page){ %>
            <a href="/business/<%= company.id %>/<%= page.id %>"><%= page.page_name %></a>
        <% }) %>
        </div>
<hr>
<div class="row companySite-inner">

    <div class="col-8">
        <p><%= company.company_bio %></p>
    </div>

<div class="col-4 companyInfo">
<p><%= company.company_street_1 %></p>
<p><%= company.company_street_2 %></p>
<p><%= company.company_suite_number %></p>
<p><%= company.company_city %></p>
<p><%= company.company_state %></p>
<p><%= company.company_zip %></p>
<p><%= company.company_country %></p>
<p><a href="tel:<%= company.company_phone %>"><%= company.company_phone %></a></p>
<p><a href="mailto:<%= company.company_main_email %>"><%= company.company_main_email %></a></p>
<p><%= company.company_fax %></p>
<p><%= company.company_website %></p>
</div>
</div>


<div class="nav-bar">

    <a href="/business/<%= company._id %>/add-employee">Apply for a Job</a>
</div>
</div>