
<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <div class="row">
            <div class="col-10">
                <a href="/dashboard/wall">YourSpread</a>
                <a href="/academy">Academy</a>
                <a href="/business">Business</a>
                <a href="/news">News</a>
                <a href="/shopping">Shopping</a>
                <a href="/wellness">Wellness</a>
            </div>
            <div class="col-2">
                <a href="/users/logout" class="logout-button" style="padding-left: 10px; padding-right: 10px; text-shadow: 0 0 4px red; color: rgba(255, 255, 255, 0.712);">Logout</a>
            </div>
        </div>
    </div>
</div>

<%= currentPageTitle %>
<h1><%= company.company_name %></h1>

<div class="current-employess">
    <h2>Current Employees</h2>
    <% company.employees.forEach(function(employee) { %>
        <p>Employee: <%= employee.fname %></p>
        <% }) %>
</div>

<div class="job-applicants">

    <h2>Job Applicants</h2>
    <% company.job_applicants.forEach(function(applicant){ %>
        <div style="padding: 10px; margin: 5px; border-radius: 10px;">
            <div>
                <div class="job-applicant-card">
                    <a href="/business/<%= company._id %>/resume/applicant/<%= applicant.id %>">
                        <h3><%= applicant.resumeOwner.fname %> <%= applicant.resumeOwner.lname %></h3>
                        <p><%= applicant.resumeOwner.town %>, <%= applicant.resumeOwner.state %></p>
                        <p><%= applicant.resumeOwner.country %></p>
                        
                        </a>
                </div>
            </div>  
            
        </div>
    <% }); %>
</div>
<div class="nav-bar">
    <a href="/business/<%= company._id %>/add-employee">Add New Employee</a>
    <a href="/business/<%= company._id %>/inventory">Inventory</a>

</div>