<style>
    .page-title {
        padding-top: 20px;
        text-align: center;
        width: 100%;
    }
    .main-header-page-menu-container {
        padding: 10px;
        background: rgba(255, 255, 255, 0.308);
        backdrop-filter: blur(2px);
        border-radius: 12px;
        border: groove 1px rgba(135, 206, 250, 0.555);
        
    }
    .main-header-page-menu-inner {
        padding: 10px;
    }
    .main-header-page-menu-inner a {
        display: inline-flex;
        padding: 10px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.733);
        transition: ease-in 0.4s;
        background: rgba(135, 206, 250, 0.315);
        backdrop-filter: blur(4px);
        border-radius: 8px;
        text-align: center;
    }
    .main-header-page-menu-inner a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 3px lightskyblue;
        transition: ease-in 0.2s;
    }

    @media screen and (max-width: 500px) {
        .spread-break hr {
    background: lightskyblue;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.534);
    width: 80%;
    margin-left: 10%;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
}
.page-title {
        padding: 20px;
        text-align: center;
    }

            .main-header-page-menu-container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            box-shadow: inset 0 0 4px black;
            background: rgba(0, 0, 0, 0.3);
        }
        .main-header-page-menu-container p {
            margin: 0 auto;
            color: rgba(255, 255, 255, 0.76);
            text-align: center;
            font-size: 0.6rem;
            
        }
        .main-header-page-menu-inner a {
            border-top: groove 2px lightskyblue;
            border-bottom: groove 2px lightskyblue;
            text-align: center;
            background: rgba(255, 255, 255, 0.3);
        }
        #mainHeaderPageMenu {
            width: 100%;
            position: relative;

        }

        .main-header-page-menu-inner {
            display: inline-flex;
            max-width: 100%;
            min-width: 100%;
            overflow-x: scroll;
            padding: 10px;
            width: 100%;
        }
        .main-header-page-menu-inner a {
            position: relative;
            padding: 10px;
            width: 150px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            text-align: center;
        }

        .company-name h1 {
            text-align: center;
            padding: 20px;
        }
        .manage-public-page {
            width: 100%:
        }
        .manage-public-page p {
            text-align: center;
            width: 100%;
            padding: 10px;
            background: rgba(255, 255, 255, 0.3);
            border-top: groove 2px lightskyblue;
            border-bottom: groove 2px lightskyblue;
            border-radius: 8px;
        }
        .manage-public-page a {
            color: #fff;
        }
        .add-new-subpage {
            margin-top: 20px;
        }
        .add-new-subpage a {
            color: lightskyblue;
            margin-left: 10px;
            padding: 10px;
        }
        .company-owner {
            display: inline-flex;
            width: 100%;
            background:rgba(255, 255, 255, 0.3);
            border-radius: 8px;
            border-top: groove 2px lightskyblue;
            border-bottom: groove 2px lightskyblue;
        }
        .owner-image {
            width: 25%;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .owner-image img {
            width: 100%;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border: groove 1px lightskyblue;
            border-left: none;
        }
        .owner-info {
            width: 75%;
            padding: 10px;
        }
        .owner-info h5 {
            text-align: center;
            padding: 10px;
        }
        .owner-info p {
            padding-left: 10px;    
        }
        .owner-info i {
            color: lightskyblue;
            margin-right: 5px;
        }
        .owner-info a {
            color: lightskyblue;
        }
        .current-employees {
            padding-top: 30px;
            margin-top: 10px;
            width: 100%;
        }
        .current-employees h2 {
            text-align: center;
        }
        .current-employees table {
            width: 100%;
        }
        .current-employees thead {
            background: lightskyblue;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        .current-employees th {
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .current-employees th:first-of-type {
            border-top-left-radius: 8px;
        }
        .current-employees th:last-of-type {
            border-top-right-radius: 8px;
        }
        .current-employees td {
            border-bottom: solid 1px lightskyblue;
            color: #fff;
        }
    }
</style>
<%- include('partials/mainHeaderSiteMenu') %>
<div class="page-title">
    <h1><%= currentPageTitle %></h1>
</div>
<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenuu">
        <div class="main-header-page-menu-inner">
            <a href="/business">Business Home</a>
            <a href="/business/<%= company._id %>/inventory">Inventory</a>
        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>
<br>
<br>
<div class="company-name">
    <h1><%= company.company_name %></h1>
</div>

<div class="manage-public-page">
    <p><a href="/business/<%= company.id %>/manage/public-page">Manage Public Pages</a></p>
</div>
<div class="company-owner">
    <div class="owner-image">
        <% if(employee.companyOwner.user_avatar) { %>
            <img src="/image/<%= employee.companyOwner.user_avatar %>" alt="<%= employee.companyOwner.fname %> <%= employee.companyOwner.lname %>">
        <% } else { %>
            <img src="/images/system/default-user_1a1a1a.png" alt="<%= employee.companyOwner.fname %> <%= employee.companyOwner.lname %>">
        <% } %>
    </div>
    <div class="owner-info">
        <a href="/users/<%= employee.companyOwner.id %>"><h5><%= employee.companyOwner.fname %> <%= employee.companyOwner.lname %></h5></a>
        <% if (employee.companyOwner.phone1) { %>
            <p><i class="fas fa-phone"></i><a href="tel:<%= employee.companyOwner.phone1 %>"><%= employee.companyOwner.phone1 %></a></p>
        <% } else { %>
            <span style="display: none;"></span>
        <% } %>
        <% if (employee.companyOwner.email) { %>
            <p><i class="far fa-envelope"></i><a href="mailto:<%= employee.companyOwner.email %>"><%= employee.companyOwner.email %></a></p>
        <% } else { %>
            <span style="display: none;"></span>
        <% } %>
    </div>
</div>
<div class="employee-portal">
    <a href="/business/employee/:id">Employee Portal</a>
</div>

<div class="spread-break">
    <hr>
</div>

<div class="current-employees">
    <h2>Current Employees</h2>
    <table>
        <thead>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Link</th>
        </thead>
        <tbody>
            <% employee.employees.forEach(function(employee) { %>
                <tr>
                    <td style="width: 20%; text-align: center;"><%= employee.lname %></td>
                    <td style="width: 20%; text-align: center;"><%= employee.fname %></td>
                        <td><a style="color: lightskyblue" href="/users/<%= employee.id %>"><%= employee.id %></a></td>

                    </tr>
                <% }) %>
                
            </tbody>
        </table>
</div>

<div class="spread-break">
    <hr>
</div>

<div class="current-employees">
    <h2>Job Applicants</h2>
    <table>
        <thead>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Resume</th>
        </thead>
        <tbody>
            <% employee.job_applicants.forEach(function(applicant) { %>
                <tr>
                    <td style="width: 20%; text-align: center;"><%= applicant.lname %></td>
                    <td style="width: 20%; text-align: center;"><%= applicant.fname %></td>
                        <td><a style="color: lightskyblue" href="/users/<%= applicant.resumeOwner.id %>/resume"><%= applicant.resumeOwner.id %></a></td>

                    </tr>
                <% }) %>
                
            </tbody>
        </table>
</div>

