<style>
            .spread-break hr {
    background: lightskyblue;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.534);
    width: 80%;
    margin-left: 10%;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
}
    .page-background-image {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 15px;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        margin-bottom: 20px;
    }
    .page-background-image h5 {
        text-align: center;
        padding: 10px;
    }
    .user-profile-image-form {
        max-width: 85vw;
        margin-left: 2.5vw;
        display: inline-flex;
        position: relative;
        background: rgba(0, 0, 0, 0.3);
        border: groove 1px rgba(135, 206, 250, 0.555);
        backdrop-filter: blur(2px);
        padding: 10px;
        color: #fff;
        border-radius: 8px;
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.514);
    }
    .custom-file-profile-image {
        width: 55vw;
        border: none;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.3);
    }
    .custom-file-profile-image input {
    }
    .custom-file-profile-image {
        width: 55vw;
        
    }
    .custom-file-profile-image-button {
        width: 20vw;
        position: absolute;
        right: 12px;
        top: 10px;
        padding: 10px;
        border-radius: 8px;
        background: rgba(0, 128, 0, 0.3);
        backdrop-filter: blur(4px);
        outline: none;
        border: none;
        border-top: groove 2px green;
        border-bottom: groove 2px green;
        color: #fff;
    }
    .company-background-image-preview {
        width: 100%;
        text-align: center;
    }
    .company-background-image-preview img {
        max-width: 100%;
        border-radius: 8px;
    }
    .subpage-actions {
        margin-top: 20px;
    }
    .subpage-actions h4 {
        text-align: center;
        padding: 15px;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.3);
    }
    .current-subpages {
    }
    .current-subpages h4 {
        padding: 10px;
        text-align: center;
    }
    .subpage {
        display: inline-flex;
        width: 100%;
        background: rgba(255, 255, 255, 0.3);
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        border-radius: 8px;
        margin-bottom: 5px;
        padding: 5px;
    }
    .subpage-name {
        width: 75%;
        border-right: solid 1px lightskyblue;
    }
    .subpage-name h5 {
        padding: 5px;
        padding-top: 15px;
    }
    .images {
        display: inline-flex;
        width: 100%;
        overflow-x: scroll;
    }
    .image {
        max-width: 100px;
        max-height: 100px;
        border-radius: 8px;
        padding: 5px;
    }
    .image img {
        border-radius: 8px;
        width: 100%;
        max-height: 100%;
    }
    .subpage-options {
        text-align: center;
        width: 25%;
    }
    .subpage-options p {
        width: 100%;
    }
    .subpage-options form {
        width: 100%;
        border-top: solid 1px lightskyblue;
        padding-top: 15px;
    }
    .subpage-options button {
        background: transparent;
        border: none;
        outline: none;
    }
    .subpage-options button i {
        font-size: 2rem;

    }
    .current-subpages i {
        color: lightskyblue;
        width: 50%;
        font-size: 1rem;
        text-align: center;
        padding-top: 15px;
    }
</style>


<div class="page-background-image">
    <h5>Change Logo</h5>
    <div class="user-profile-image-form">
            
        <form action="/upload-company-logo/<%= company.id %>?_method=PATCH" method="post" enctype="multipart/form-data">
            <input type="text" name="imageOwner" id="imageOwner" style="display: none;" value="<%= company.id %>">
                    <div class="custom-file-profile-image">
                        <input type="file" name="logo" id="logoImage">
                        <label for="logoImage" class="custom-file-label-choose-profile-image">Choose Logo</label>
                    </div>
                    
                    <div>
                        <button type="submit" class="custom-file-profile-image-button">Change</button>
                    </div>
            </form>
        </div>
        <% if (company.logo) { %>
            <div class="company-background-image-preview">
                <img src="/image/<%= company.logo %>" alt="">
            </div>
        <% } else { %>
            <span></span>
        <% } %>
</div>


<div class="page-background-image">
    <h5>Change Company Public Page Background Image</h5>
    <div class="user-profile-image-form">
            
        <form action="/upload-company-background-image/<%= company.id %>?_method=PATCH" method="post" enctype="multipart/form-data">
            <input type="text" name="imageOwner" id="imageOwner" style="display: none;" value="<%= company.id %>">
                    <div class="custom-file-profile-image">
                        <input type="file" name="background_image" id="companyBackgroundImage">
                        <label for="companyBackgroundImage" class="custom-file-label-choose-profile-image">Choose Background Image</label>
                    </div>
                    
                    <div>
                        <button type="submit" class="custom-file-profile-image-button">Change</button>
                    </div>
            </form>
        </div>
        <% if (company.background_image) { %>
            <div class="company-background-image-preview">
                <img src="/image/<%= company.background_image %>" alt="">
            </div>
        <% } else { %>
            <span></span>
        <% } %>
</div>
<div class="spread-break">
    <hr>
</div>
<div class="current-subpages">
    <h4>Current Subpages</h4>
    <% subpages.forEach(function(subpage) { %>
        <div class="subpage">
            <div class="subpage-name">
                <h5><%= subpage.page_name %></h5>
                <div class="images">
                    <% subpage.page_images.forEach(function(image) { %>
                        <div class="image">
                            <img src="/image/<%= image %>" alt="">
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="subpage-options">
                <p><span><a href="/business/<%= company.id %>/<%= subpage.id %>"><i class="far fa-eye"></i></a></span><span><a href="/business/<%= company.id %>/<%= subpage.id %>/edit"><i class="far fa-edit"></i></a></span><span><span><form action="/business/<%= company.id %>/<%= subpage.id %>/delete?_method=DELETE" method="post"><button><i class="far fa-trash-alt" style="color: red"></i></button></form></span></small></p>
            </div>
        </div>
    <% }) %>
</div>

<div class="spread-break">
    <hr>
</div>

<div class="subpage-actions">
    <a href="/business/<%= company.id %>/add-subpage"><h4>Add Subpage</h4></a>
    <a href="/business/<%=company.id %>/add-vr"><h4>Add VR Page</h4></a>
</div>

<div class="edit-subpage">
</div>