
<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <div class="row">
            <div class="col-10">
                <a href="/business/your-desk">Your Desk</a>
                <a href="/academy">Academy</a>
                <a href="/business">Business</a>
                <a href="/news">News</a>
                <a href="/shopping">Shopping</a>
                <a href="/wellness">Wellness</a>
            </div>
            <div class="col-2">
                <a href="/users/logout" class="logout-button" style="padding-left: 10px; padding-right: 10px; text-shadow: 0 0 4px red; color: rgba(255, 255, 255, 0.712);">Logout</a>
            </div>
        </div>
    </div>
</div>

<h1 style="text-align: center; margin-top: 50px; margin-bottom: 50px;">Business</h1>



<% companies.forEach(function(company){ %>
    <div class="company-container-card">
        <a style="text-decoration: none;" href="/business/<%= company._id %>">
            <h2><%= company.company_name %></h2>
            <h5><%= company.company_type %></h5>
        </a>
        <hr>
        <div class="company-bio">
            <p><%= company.company_bio %></p>
        </div>
        <hr>
        <div class="company-contact">
            <p><i class="fas fa-phone"></i><a href="tel:<%= company.company_phone %>"><%= company.company_phone %></a></p>
            <p><i class="far fa-envelope"></i><a href="mailto:<%= company.company_main_email %>"><%= company.company_main_email %></a></p>
        </div>
        <div class="employee-portal">
            <a href="/business/employee/:id">Employee Portal</a>
        </div>
    </div>
<% }); %>



<div class="business-footer">
    <a href="/business/add-new-business">Add New Business</a>
</div>