<style>
    .page-title {
        padding-top: 20px;
        text-align: center;
        width: 100%;
    }
    .main-header-page-menu-container {
        padding: 10px;
        background: rgba(255, 255, 255, 0.308);
        backdrop-filter: blur(2px);
        border-radius: 12px;
        border: groove 1px rgba(135, 206, 250, 0.555);
        
    }
    .main-header-page-menu-inner {
        padding: 10px;
    }
    .main-header-page-menu-inner a {
        display: inline-flex;
        padding: 10px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.733);
        transition: ease-in 0.4s;
        background: rgba(135, 206, 250, 0.315);
        backdrop-filter: blur(4px);
        border-radius: 8px;
        text-align: center;
    }
    .main-header-page-menu-inner a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 3px lightskyblue;
        transition: ease-in 0.2s;
    }

    @media screen and (max-width: 500px) {
        .main-header-page-menu-container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            box-shadow: inset 0 0 4px black;
        }
        .main-header-page-menu-container p {
            margin: 0 auto;
            color: rgba(255, 255, 255, 0.76);
            text-align: center;
            font-size: 0.6rem;
        }
        .main-header-page-menu-inner a {
            text-align: center;
        }
        
        #mainHeaderPageMenu {
            width: 100%;
            position: relative;

        }

        .main-header-page-menu-inner {
            display: inline-flex;
            max-width: 100%;
            min-width: 100%;
            overflow-x: scroll;
            padding: 10px;
            width: 100%;
        }
        .main-header-page-menu-inner a {
            position: relative;
            padding: 10px;
            width: 150px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            text-align: center;
        }
        .learning-point {
            position: relative;
        }
        .learning-point-header {
            display: inline-flex;
        }
        .learning-point-header h5 {
            width: 85%;
        }
        .learning-point-actions {
            padding: 10px;
            font-size: 1.5rem;
            position: absolute;
            color: rgba(255, 255, 255, 0.404);
            right: 20px;
            top: 32px;
        }
        .bookmark {
            display: block;
            color: yellow;
        }
        .add-note {
            padding-top: 10px;
            display: block;
            color: green;
        }
        .course-background {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -25;
        width: 100vw;
        height: 100vh;
    }
    .course-background img {
        height: 100vh;
        min-width: 100vw;
    }
    }
</style>

<div class="course-background" style="background: <%= thisCourse.course_colors.accent %>">
    <img src="/image/<%= thisCourse.background_image %>" alt="">
</div>
<%- include('partials/mainHeaderSiteMenu') %>
<div class="page-title">
    <h1><%= currentPageTitle %></h1>
</div>
<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenuu">
        <div class="main-header-page-menu-inner">
            <a href="/academy">Your Desk</a>
            <a href="/academy/<%= thisCourseId %>/<%= thisClass.id %>/flashcards">Flashcards</a>
            <a href="/academy/courses">All Courses</a>

        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>

<h2 style="margin-top: 30px; text-align: center;"><%= thisClass.name %></h2>



<div class="learning-points">
    <ol class="class-chapter">
    <% learningPoints.forEach(function(point){ %>
        <li>
            <div class="learning-point">
                <div class="learning-point-actions">
                    <span><i class="far fa-bookmark bookmark"></i></span>
                    <span><i class="fas fa-pencil-alt add-note"></i></span>
                </div>
                <div class="collapsible-learning-point">
                    <div class="learning-point-header">
                        <h5><%= point.section_header %></h5>
                        <span><i class="fas fa-angle-double-down"></i></span>


                    </div>

                </div>
                <p><%= point.section_body %></p>
                <p style="color: blue;"><%= point.section_notes %></p>
                <div class="learning-point-actions">
                    <p><span><a href="#"><i class="far fa-heart"></i></a><a href="#"><i class="fas fa-share-alt"></i></a><a href="#"><i class="far fa-comment-alt"></i></a><a href="#"><i class="fas fa-plus"></i></a></span></p>
                </div>
            </div>

        </li>
        
        <% }); %>
    </ol>
</div>
<div class="quiz">
    <h2 style="text-align: center;">Quiz Yourself</h2>
    <hr style="border-color: rgba(135, 206, 250, 0.623); margin-top: 40px; margin-bottom: 40px; width: 80%; margin-left: 10%;">
    <div class="quiz-container">
    <% quizzes.forEach(function(quiz){ %>
        <form action="/academy/<%= thisCourseId %>/<%= thisClass.id %>/<%= quiz.id %>/take-quiz" method="post">
            <input type="text" value="<%= quiz.id %>">
            <input type="text" value="<%= quiz.forLearningPoint %>">
        <ol>
            <li>
                <p><%= quiz.question1 %><span><small>  <%= quiz.difficulty1 %></small></span></p>
                <input type="text" name="studentAnswer1" placeholder="Your Answer">
            </li>
            <li>
                <p><%= quiz.question2 %><span><small>  <%= quiz.difficulty2 %></small></span></p>
                <input type="text" name="studentAnswer2" placeholder="Your Answer">
            </li>
            <li>
                <p><%= quiz.question3 %><span><small>  <%= quiz.difficulty3 %></small></span></p>
                <input type="text" name="studentAnswer3" placeholder="Your Answer">
            </li>
            
        </ol>
        <button type="submit">Hand in Quiz</button>
    </form>
    <% }) %>
    </div>
</div>
<div class="add-learning-content to-do">
<div class="to-do-data">
    <p>Create Teacher-Admin-Page and move this content to it. Will need to change route data. Move 'Create Quiz' forms there and remove the drop-down feature.</p>
</div>
    <div class="create-flashcard">
        <h3>Create a Flashcard</h3>
<form action="/academy/<%= thisCourseId %>/<%= thisClass.id %>/add-flashcard" method="post" class="add-form">
    <input type="text" name="question" id="flashcardQuestion" placeholder="Question">
    <input type="text" name="answer" id="flashcardAnswer" placeholder="Answer">
        <input type="text" name="difficulty" id="flashcardDifficulty" placeholder="Difficulty (1-3)">
        <button type="submit">Add Flashcard</button>
    </form>
</div>
<div class="create-learning-point">
    <h3>Create a Learning Point</h3>

    <form action="/academy/<%= thisClass.id %>/add-learning-point" method="post" class="add-form">
        <input type="text" hidden="true" value="<%=thisClass.id %>" name="class">
    <input type="text" name="section_header" id="section_header" placeholder="Section Header">
    <h5>Body</h5>
    <textarea name="section_body" id="section_body" rows="10"></textarea>
    <h5>Notes</h5>
    <textarea name="section_notes" id="section_notes" rows="10"></textarea>
    <input type="number" name="difficulty" id="difficulty" placeholder="Difficulty (1-3)">
    <input type="text" value="<%= thisCourseId %>" name="courseId">
    <button type="submit">Add Learning Point</button>
</form>
</div>
</div>



<div class="add-quiz nav-bar">
    <button>Create Quiz</button>

    <form action="/academy/<%= thisCourseId %>/<%= thisClass.id %>/add-quiz" method="post" class="add-form">
        <input type="text" name="classId" value="<%= thisClass.id %>">
        <input type="text" name="courseId" value="<%= thisCourseId %>">
        <select name="forLearningPoint" id="forLearningPoint">
            <% learningPoints.forEach(function(point){ %>
                <option value="<%= point.id %>"><%= point.section_header%> - <%= point.id %></option>
            <% })%>
        </select>
        <input type="text" name="question1" id="question1" placeholder="Question 1">
        <input type="text" name="answer1" id="answer1" placeholder="Answer 1">
        <input type="number" name="difficulty1" id="difficulty1" placeholder="Difficulty (1-3)">
        <input type="text" name="question2" id="question2" placeholder="Question 2">
        <input type="text" name="answer2" id="answer2" placeholder="Answer 2">
        <input type="number" name="difficulty2" id="difficulty2" placeholder="Difficulty (1-3)">
        <input type="text" name="question3" id="question3" placeholder="Question 3">
        <input type="text" name="answer3" id="answer3" placeholder="Answer 3">
        <input type="number" name="difficulty3" id="difficulty3" placeholder="Difficulty (1-3)">
        <button type="submit"><i class="fas fa-plus"></i>  Add Quiz</button>
    </form>
</div>



<script>
    var coll = document.getElementsByClassName("collapsible-learning-point");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
    </script>


