<style>
    .page-title {
        padding-top: 20px;
        text-align: center;
        width: 100%;
    }
    .main-header-page-menu-container {
        padding: 10px;
        background: rgba(255, 255, 255, 0.308);
        backdrop-filter: blur(2px);
        border-radius: 12px;
        border: groove 1px rgba(135, 206, 250, 0.555);
        
    }
    .main-header-page-menu-inner {
        padding: 10px;
    }
    .main-header-page-menu-inner a {
        display: inline-flex;
        padding: 10px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.733);
        transition: ease-in 0.4s;
        background: rgba(135, 206, 250, 0.315);
        backdrop-filter: blur(4px);
        border-radius: 8px;
        text-align: center;
    }
    .main-header-page-menu-inner a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 3px lightskyblue;
        transition: ease-in 0.2s;
    }

    @media screen and (max-width: 500px) {
        .main-header-page-menu-container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            box-shadow: inset 0 0 4px black;
        }
        .main-header-page-menu-container p {
            margin: 0 auto;
            color: rgba(255, 255, 255, 0.76);
            text-align: center;
            font-size: 0.6rem;
        }
        .main-header-page-menu-inner a {
            text-align: center;
        }
        
        #mainHeaderPageMenu {
            width: 100%;
            position: relative;

        }

        .main-header-page-menu-inner {
            display: inline-flex;
            max-width: 100%;
            min-width: 100%;
            overflow-x: scroll;
            padding: 10px;
            width: 100%;
        }
        .main-header-page-menu-inner a {
            position: relative;
            padding: 10px;
            width: 150px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            text-align: center;
        }
    }
    
    .course-background {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -25;
        width: 100vw;
        height: 100vh;
    }
    .course-background img {
        height: 100vh;
        min-width: 100vw;
    }
    .class-container {
        border-radius: 8px;
        padding: 0;
        box-shadow: none;
        position: relative;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        padding-bottom: 0;
        margin-bottom: 10px;
    }
    .class-background-color {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -22;
        opacity: 0.6;
        backdrop-filter: blur(2px);
        border-radius: 8px;
    }
    .class-header {
        padding: 10px;
        background:rgba(255, 255, 255, 0.3);
        border-bottom: groove 2px lightskyblue;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .class-description {
        padding: 15px;
        color: #fff;
        background: rgba(255, 255, 255, 0.3);
        margin-top: 10px;
        margin-bottom: 20px;
        border-top: groove 2px lightskyblue;    
        border-bottom: groove 2px lightskyblue;    
    }
    .go-to-class {
        width: 100%;
    }
    .go-to-class a {
        padding: 0;
    }
    .go-to-class p {
        width: 90%;
        margin-left: 5%;
        background: green;
        border: groove 2px green;
        border-bottom: none;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        color: #fff;
        padding: 2px;
        padding-top: 4px;
        margin-bottom: 0;
        text-align: center;
    }
</style>

<div class="course-background" style="background: <%= courseData.course_colors.accent %>">
    <img src="/image/<%= courseData.background_image %>" alt="">
</div>
<%- include('partials/mainHeaderSiteMenu') %>
<div class="page-title">
    <h1><%= courseData.course %></h1>
</div>
<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenuu">
        <div class="main-header-page-menu-inner">
            <a href="/academy">Your Desk</a>
            <a href="/academy/courses">All Courses</a>

        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>



<% courseData.classes.forEach(function(classes){ %>
    <div class="class-container">
        <div class="class-background-color" style="background: <%= courseData.course_colors.accent %>">

        </div>
        <div class="">
            <div class="class-header">
                <h1><%= classes.name %></h1>
            </div>
            <div class="class-description">
                <p><%= classes.description %></p>
            </div>
            <div class="go-to-class">
                    <a href="/academy/courses/<%= courseData.id %>/<%= classes.id %>"><p>Begin Class</p></a>
            </div>
        </div>
    </div>
    <% }); %>
<br>
<br>
<div class="user-profile-image-form">
            
    <form action="/upload-course-image/<%= courseData.id %>?_method=PATCH" method="post" enctype="multipart/form-data">
        <input type="text" name="for_course" id="backgroundImage" style="display: none;" value="<%= courseData.id %>">
                <div class="custom-file-profile-image">
                    <input type="file" name="background_image" id="backgroundImageUpload">
                    <label for="backgroundImageUpload" class="custom-file-label-choose-profile-image">Choose Background</label>
                </div>
                
                <div>
                    <button type="submit" class="custom-file-profile-image-button">Change</button>
                </div>
        </form>
    </div>
<br>
<hr>
<div class="nav-bar to-do">
    <a href="/academy/courses/<%= courseData.id %>/add-class">Add a Class</a>
</div>