<div class="row">
    <div class="col-8">
    </div>

</div>

<%- include('partials/mainHeaderSiteMenu') %>
<%- include('partials/mainHeaderPageMenu') %>
<h2 style="text-align: center; margin-bottom: 20px; margin-top: 30px;">SocialSpread - <%= data.author.fname %> <%= data.author.lname %></h2>
<hr style="border-color: rgba(135, 206, 250, 0.623); margin-top: 40px; margin-bottom: 40px; width: 80%; margin-left: 10%;">
    
    <div class="post-container-single">
        <h3><%= data.author.fname %> <%= data.author.lname %></h3>
        <p><%= data.postBody %></p>
        <div class="comment-actions">
            <p><span><a href="#"><i class="far fa-heart"></i></a><a href="#"><i class="fas fa-share-alt"></i></a><a href="#"><i class="far fa-comment-alt"></i></a><a href="#"><i class="fas fa-plus"></i></a></span></p>
        </div>
    </div>

    <div class="comment-container">
        <div class="comment-on-post">
            <h4>Leave a comment</h4>
            <form action="/users/<%= data.author.id %>/post/<%= data.id %>/comment" method="POST">
                <textarea required name="commentBody" id="commentBody" class="form-control"></textarea>
                <button class="btn-block block-button spread-it" type="submit">Spread More</button>
                <input type="text" name="fromPost" value="<%= data.id %>" hidden="true">
            </form>
        </div>
        <div class="comments">

            <% data.comments.forEach(function(comment){ %>
                <div class="comment">
                    <h5><%= comment.author.fname %> <%= comment.author.lname %></h5>
                    <p><%= comment.commentBody %></p>
                    <div class="comment-actions">
                        <p><span><a href="#"><i class="far fa-heart"></i></a><a href="#"><i class="fas fa-share-alt"></i></a><a href="#"><i class="far fa-comment-alt"></i></a><a href="#"><i class="fas fa-plus"></i></a></span></p>
                    </div>
                </div>
                <% }); %>
                
            </div>
        </div>
</div>