<style>
.spread-break hr {
    background: lightskyblue;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.534);
    width: 80%;
    margin-left: 10%;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
}
.user-profile-image-form {
    max-width: 200px;
}
.user-avatar {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    box-shadow: -3px -3px 6px #222, -3px -3px 6px #111, 3px 3px 3px #111,  3px 3px 6px #000, inset 0 0 10px #111;
    padding: 10px;
}
.user-avatar img {
    min-width: 160px;
    min-height: 160px;
    margin: -10px;
    margin-left: -40px;
    opacity: 0.7;
    transition: ease-in 0.4s;
}
@media screen and (max-width: 500px) {
    .user-profile-image-form {
        max-width: 85vw;
        margin-left: 2.5vw;
        display: inline-flex;
        position: relative;
        background: rgba(255, 255, 255, 0.308);
        border: groove 1px rgba(135, 206, 250, 0.555);
        backdrop-filter: blur(2px);
        padding: 10px;
        color: #fff;
        border-radius: 12px;
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.514);
    }
    .custom-file-profile-image {
        width: 55vw;
        border: solid 1px white;
        border-radius: 10px;
    }
    .custom-file-profile-image input {
    }
    .custom-file-profile-image {
        width: 55vw;
        
    }
    .custom-file-profile-image-button {
        width: 20vw;
        position: absolute;
        right: 12px;
        top: 10px;
        padding: 10px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.432);
        backdrop-filter: blur(4px);
        outline: none;
        border: none;
    }
    .user-profile-routes {
        background: rgba(255, 255, 255, 0.178);
        width: auto;
        margin: 0 auto;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.514);
    }
    .user-profile-routes a {
        margin-left: 5px;
        background: rgba(255, 255, 255, 0.377);
        backdrop-filter: blur(4px);
        width: 45%;
        border-radius: 10px;

    }
    .user-images {
    }
    .user-images h1 {
        text-align: center;
        padding-top: 20px;
    }
    .user-images {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    border: groove 2px lightskyblue;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.61);
}
.user-images img {
    border-radius: 8px;
    max-width: 100%;
}
    .your-friends {
        text-align: center;
        background: rgba(255, 255, 255, 0.301);
        backdrop-filter: blur(2px);  
        padding: 10px;
        padding-top: 15px;
        border-radius: 15px;
        margin-bottom: 30px;
    }
    .your-friends a {
        color: lightskyblue;
    }
    .find-new-friends {
        position: relative;
    }
    .find-new-friends {
        min-height: 450px;
    }
    .new-friend {
        position: relative;
        width: 300px;
        height: 400px;
        min-height: 400px;
        margin-left: 20px;
        border-radius: 15px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .possible-friend {
        margin-top: -140px;
        min-width: 300px;
        box-shadow: 0 8px rgba(0, 0, 0, 0.445);
        background: rgba(255, 255, 255, 0.37);
        backdrop-filter: blur(2px);
        z-index: 10;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    .possible-friend p {
        color: #fff;
    }
    .possible-friend-background {
        backdrop-filter: blur(0px);
        overflow: hidden;
        border-radius: 15px;
    }
    .possible-friend-image {
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        width: 300px;
        min-height: 100%;
        border-radius: 15px;
    }
    .possible-friend-image img {
        width: 300px;
        min-height: 100%;
        border-radius: 15px;
    }
    .friend-container {
        margin-top: 20px;
    }
    .add-friend-container {
        display: inline-flex;
    }
    .add-friend button {
        border-radius: 50%;
        background: green;
        width: 40px;
        height: 40px;
        margin-right: 5px;
        text-align: center;
        color: #fff;
    }
    .remove-friend button {
        border-radius: 50%;
        background: red;
        width: 40px;
        height: 40px;
        margin-left: 5px;
        text-align: center;
        color: #fff;
    }
    .see-albums {
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        padding-top: 20px;
        margin-bottom: 20px;
        background:rgba(255, 255, 255, 0.404);
        backdrop-filter: blur(2px);
        text-align: center;
        border-radius: 8px;
    }
    .see-albums p {
        color: #fff;
    }
    .inspread-container h5 {
        text-align: center;
    margin-bottom: 30px;
    }
    .inspreads {
        max-height: 500px;
    overflow-y: scroll;
}

.inspread {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    margin-bottom: 15px;
}
.inspread-from {
    display: inline-flex;
}
.inspread-from-image {
    background: rgba(40, 40, 40, 0.3);
    border: groove 2px lightskyblue;
    border-right: solid 1px lightskyblue;
    border-radius: 15px;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.452);
    padding-left: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    align-items: center;
  justify-content: center;
}
.inspread-from-image img {
    display: inline-flex;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.inspread-body {
    width: 100%;
}
.inspread-body h4 {
    color: lightskyblue;
    padding: 10px;
    width: 100%;

}
.inspread-body p {
    color: #fff;
    padding-left: 20px;
    padding-bottom: 0;
}
.inspread-body small {
    color: #ccc;
    padding: 10px;
    padding-left: 20px;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 0;
  padding-top: 20px;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */

}
.spread-post {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: none;
    border: none;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.spread-post h5 {
    text-align: center;
}
.spread-post textarea {
    width: 90%;
    margin-left: 5%;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
}
.spread-post input {
    width: 90%;
    margin-left: 5%;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;

}

.spread-file input {
    width: 90%;
    outline: none;
    border: none;
    background: transparent;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: ease-in 0.5s;
    color: #fff;
    text-shadow: 0 0 2px #000;
    font-size: 1rem;
}
#userVideo {
    width: 90%;
    margin-left: 5%;
}

.button {
    width: 80%;
    margin-left: 10%;
    background: green;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: groove 2px green;
    border-bottom: none;
    outline: none;
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
}
</style>
<div class="user-background-image">
    <% if (profile.user_background_image) { %>
        <img src="/image/<%= profile.user_background_image %>" alt="<%= profile.fname %> <%= profile.lname %>'s Avatar">
        <%} else { %>
            <div class="user-background-color" style="width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; background: <%= profile.favColor1 %>"></div>
            <% } %>
</div>
<%- include('partials/mainHeaderSiteMenu') %>
<%- include('partials/mainHeaderPageMenu') %>

<br>
<br>

<div class="row">
    <div class="col-8">
        <h2 class="lead mb-3">Welcome <%= fname %></h2>
    </div>

</div>

<h2 style="text-align: center; margin-bottom: 20px; margin-top: 30px;">Your Dashboard</h2>
<hr style="border-color: rgba(135, 206, 250, 0.623); margin-top: 40px; margin-bottom: 40px; width: 80%; margin-left: 10%;">

<!-- Profile Image -->
<div class="user-avatar">
    <% if (profile.user_avatar) { %>
        <img src="/image/<%= profile.user_avatar  %>" alt="<%= profile.fname %> <%= profile.lname %>'s Avatar" width="260px">
        <%} else { %>
        <img src="images/system/default-user_1a1a1a.png" alt="Default Avatar" width="260px" >
        <% } %>
</div>

<!-- Profile Image -->
<% if (!avatarImage) { %>

        <div class="user-profile-image-form">
            
            <form action="/upload-avatar?_method=PATCH" method="post" enctype="multipart/form-data">
                <input type="text" name="imageOwner" id="imageOwner" style="display: none;" value="<%= id %>">
                        <div class="custom-file-profile-image">
                            <input type="file" name="user_profile_image" id="userProfileImage">
                            <label for="userProfileImage" class="custom-file-label-choose-profile-image">Choose Profile Picture</label>
                        </div>
                        
                        <div>
                            <button type="submit" class="custom-file-profile-image-button">Change</button>
                        </div>
                </form>
            </div>
            <%} else { %>
                <div class="user-profile-image-form">
                    <form action="/upload-avatar?_method=PATCH" method="POST" enctype="multipart/form-data">
                        <input type="text" name="imageOwner" id="imageOwner" style="display: none;" value="<%= id %>">
                        <div class="custom-file-profile-image">
                            <input type="file" name="user_profile_image" id="userProfileImage">
                            <label for="userProfileImage" class="custom-file-label-choose-profile-image">Choose Profile Picture</label>
                        </div>
                        
                        <div>
                            <button type="submit" class="custom-file-profile-image-button">Change</button>
                        </div>
                </form>
                    </form>
                    </div>
                <% } %>

<div class="user-profile-routes">
    <a class="btn btn-dark" href="/users/<%= id %>">See Your Profile</a>
    <a class="btn btn-dark" href="/users/update-profile/<%= id %>">Update Your Profile</a>
</div>

<div class="spread-break">
    <hr>
</div>
    <h5 style="text-align: center;">Spread Something</h5>
    <div class="tab">
        <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'Post')">Post</button>
        <button class="tablinks" onclick="openCity(event, 'Article')">Article</button>
        <button class="tablinks" onclick="openCity(event, 'Video')">Video</button>
      </div>
      <div id="Post" class="tabcontent">
          <div class="spread-post">
            <h5>Create New Post</h5>
            <form action="/users/<%= id %>/post" method="POST">
                <textarea required name="postBody" id="postBody" class="form-control" placeholder="Spread something..."></textarea>
                <button class="button" type="submit">Spread It</button>
            </form>
        </div>
      </div>
      
      <div id="Article" class="tabcontent">
          <h5>Create New Article</h5>
        <div class="spread-post">
            <form action="/users/<%= id %>/article" method="POST">
                <input type="text" name="articleTitle" placeholder="Article Title" id="articleTitle"></input>
                <input type="text" name="articleHeader" id="articleHeader" placeholder="Article Header">
                <textarea required name="articleBody" id="articleBody" class="form-control" placeholder="Article body..."></textarea>
                <button class="button" type="submit">Spread It</button>
            </form>
        </div>
      </div>
      
      <div id="Video" class="tabcontent">
        <div class="spread-post">
    
            <form action="/upload-video" method="post" enctype="multipart/form-data">
                <div class="spread-file">
                    <input type="file" name="user_video" id="userVideo">
                </div>
                <input type="text" name="imageOwner" id="imageOwner" style="display: none;" value="<%= id %>">
                <input type="text" name="videoName" id="videoName" placeholder="Video Title" style="margin-top: 15px;">
                <input type="text" name="user_tags" id="user_tags" placeholder="Tag friends in this video">
                <input type="text" name="catagory_tags" id="catagory_tags" placeholder="Add Catagory Tags">
                <button type="submit" disabled class="button" style="color: red;">Add Video</button>
            </form>
        </div>
      </div>

      <div class="spread-break">
        <hr>
    </div>
    <h5 style="text-align: center;">Your Photos</h5>

    <div class="outer_cont_container" style="margin-top: 150px;">
        <div class="cont_container">
            <div class="cont_inner_container">
                <% profileImages.forEach(function(image){ %>
                    <div style="padding: 7px;">
                        <div> 
                            <div> 
                                    <div class="user-images"> 
                                        <img src="/image/<%= image.img.data %>"> 
                                    </div> 
                            </div> 
                        </div> 
                        
                    </div>
                    
                    <% }); %>
                    
                </div>
            </div>
        </div>
        <div class="user-profile-image-form">
        
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="text" name="imageOwner" id="imageOwner" style="display: none;" value="<%= id %>">
                <div class="custom-file-profile-image">
                    <input type="file" name="user_image" id="userImage">
                    <label for="userImage" class="custom-file-label-choose-profile-image">Upload an Image</label>
                </div>
                
                <div>
                    <button type="submit" class="custom-file-profile-image-button">Add</button>
                </div>
            </form>
        </div>
    <a href="/photo-album/<%= profile._id %>">
        <div class="see-albums">
            <p>Your Photo Album's</p>
        </div>
    </a>

    <div class="spread-break">
        <hr>
    </div>

    <div class="your-friends">
        <a href="/<%= profile.id %>/friends"><h5>Your Friends</h5></a>
    </div>
    <div class="row">
        <h5 style="text-align: center; width: 100%;">Find New Friends</h5>
        <div class="find-new-friends">
            <% nearbyUsers.forEach(function(friend){ %>
                <% if(nearbyUsers) { %>
            <div class="new-friend">

            
            <div class="possible-friend-background">

                <div class="possible-friend-image">
                    <% if (friend.user_avatar) { %>
                        <img src="/image/<%= friend.user_avatar   %>" alt="<%= profile.fname %> <%= profile.lname %>'s Avatar" width="60px">
                    <%} else { %>
                        <img src="/images/system/default-user_1a1a1a.png" alt="Default Avatar"  width="60px"  >
                        <% } %>
                </div>
            </div>
            <a href="/users/<%= friend.id %>">
                <div class="possible-friend">
                        <h3 style="text-shadow: 0 0 3px <%= friend.favColor1 %>"><%= friend.fname %> <%= friend.lname %></h3>
                        <% if (!friend.town && !friend.state && !friend.country) { %>
                            <br>
                            <br>
                            <% } else { %> 
                                <p><%= friend.town %>, <%= friend.state %></p>
                                <p><%= friend.country %></p>
                                <% } %>
                            </a>
                            <div class="add-friend-container">
                                <div class="add-friend">
                                    <form action="/users/<%= profile._id %>/add-friend" method="POST">
                                        <input type="text" name="friends" value="<%= friend.id %>" style="display: none;">
                                        <button class="" type="submit">
                                            <i class="fas fa-user-plus"></i>
                                        </button>
                                    </form>
                                </div>
                        <div class="remove-friend">
                            <form action="/users/<%= profile._id %>/remove-friend?_method=PATCH" method="POST">
                                <input type="text" name="friends" value="<%= friend.id %>" style="display: none;">
                                <button class="" type="submit">
                                    <i class="fas fa-user-minus"></i>
                                </button>
                            </form>
                        </div>

                    </div>
                    </div>
                </div>
                <%} else { %>
                    <span></span> 
                    <% } %>
            <% }) %>
        </div>
    </div>
<div class="inspread-container">
    <h5>Spread To You</h5>
    <div class="inspreads">
        <% inSpreads.forEach(function(inSpread) { %>
            <div class="inspread">
                <div class="inspread-from">
                    <div class="inspread-from-image">
                        <img src="/image/<%= inSpread.inSpreadFrom.user_avatar %>" alt="" width="40px" height="80px">
                    </div>
                    <div class="inspread-body">
                    <h4><%= inSpread.inSpreadFrom.fname %> <%= inSpread.inSpreadFrom.lname %></h4>
                    <p><%= inSpread.inSpreadBody %></p>
                        <div class="inspread-time">
                            <small><%= inSpread.inSpreadAt.toLocaleDateString() %></small>
                            <small><%= inSpread.inSpreadAt.toLocaleTimeString() %></small>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>


  <!--   <div class="row">
            <div class="col-12 user-posts">
                <div class="create-post">
                    <h5>Create New Post</h5>
                    <form action="/users/<%= id %>/post" method="POST">
                        <textarea required name="postBody" id="postBody" class="form-control"></textarea>
                        <button class="btn-block block-button spread-it" type="submit">Spread It</button>
                    </form>
                </div>
            </div>
    </div>
    
    <div class="row">
        <div class="col-12 user-posts">
            <div class="create-post">
                <h5>Create New Article</h5>
                <form action="/users/<%= id %>/article" method="POST">
                    <input type="text" name="articleTitle" placeholder="Article Title" id="articleTitle"></input>
                    <input type="text" name="articleHeader" id="articleHeader" placeholder="Article Header">
                    <textarea required name="articleBody" id="articleBody" class="form-control"></textarea>
                    <button class="btn-block block-button spread-it" type="submit">Spread It</button>
                </form>
            </div>
        </div>
    </div>


    <div class="nav-bar-outer">
        <div class="nav-bar nav-bar-ws">
            <div class="create-post">

                <form action="/upload-video" method="post" enctype="multipart/form-data">
                    <div class="custom-file">
                        <input type="file" name="user_video" id="userVideo">
                        <label for="userVideo" class="custom-file-label">Upload a Video</label>
                    </div>
                    <input type="text" name="imageOwner" id="imageOwner" style="display: none;" value="<%= id %>">
                    <input type="text" name="videoName" id="videoName" placeholder="Video Title" style="margin-top: 15px;">
                    <input type="text" name="user_tags" id="user_tags" placeholder="Tag friends in this video">
                    <input type="text" name="catagory_tags" id="catagory_tags" placeholder="Add Catagory Tags">
                    <button type="submit" disabled class="btn btn-block btn-success">Add Video</button>
                </form>
            </div>
        </div>
    </div> -->


    
<script>
    document.getElementById("defaultOpen").click();
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
</script>
       