<style>

    /* DESKTOP STYLE */

      @media screen and (min-width: 1200px) {
    .widespread-header {
      text-align: center;
      padding: 0;
    }
    .logo {
      margin: 0;
      width: 95%;
    }
    .logo h1 {
      margin: 0;
    }
    .user-background-color {
        z-index: -300;
    }
    .your-friends {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .your-friends a h5 {
        padding: 10px;
        width: 50%;
        margin-left: 25%;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 8px;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
    }
    .find-new-friends {
        padding: 10px;
        display: inline-flex;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 90%;
        height: 350px;
        min-height: 350px;
        max-height: 350px;
    }
    .new-friend {
        margin-left: 20px;
        position: relative;
        height: 90%;
    }
    .possible-friend-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .possible-friend-image {
        width: 100%;
        height: 300px;
        max-height: 300px;
        min-height: 300px;
        overflow-y: hidden;
        border-radius: 8px;
    }
    
    .possible-friend-image img {
        width: 100%;
    }
    
    .possible-friend {
        border-radius: 8px;
        width: 100%;
        height: 300px;
        min-height: 300px;
        max-height: 300px;
        background: rgba(0, 0, 0, 0.3);
        box-shadow: none;
        opacity: 1.0;
    }
    .possible-friend h3 {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: groove 2px lightskyblue;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(2px);
        color: #fff;
    }
    .possible-friend-data {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background:rgba(0, 0, 0, 0.3);
        padding: 10px;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
    }
    .possible-friend-data p {
        margin-bottom: 0;
        padding: 0;
    }
    .add-friend-container {
        display: inline-flex;
        width: 100%;
    }
    .add-friend {
        width: 50%;
    }
    .add-friend button {
        background: rgba(0, 128, 0, 0.3);
        width: 40px;
        height: 40px;
        border-top: groove 2px green;
        border-bottom: groove 2px green;
        color: #fff;
        box-shadow: none;
        
    }
    .remove-friend {
        width: 50%;
    }
    .remove-friend button {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background: rgba(255, 0, 0, 0.3);
        border: none;
        border-top: groove 2px red;
        border-bottom: groove 2px red;
        outline: none;
        color: #fff;
    }
  }



/* CELL PHONE STYLE */

.spread-break hr {
    background: lightskyblue;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.534);
    width: 80%;
    margin-left: 10%;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
}
.video-feature {
    width: 100%;
    max-width: 100%;
    max-height: 500px;
}
.video-feature iframe {
    max-height: 500px;
    width: 100%;
    border-radius: 8px;
}
.video-feature p {
    text-align: center;
    width: 100%;
    color: #fff;
}
.video-feature a {
    text-align: center;
    width: 100%;
    color: #fff;
}
.user-profile-image-form {
    max-width: 200px;
}
.user-avatar {
    max-width: 200px;
    margin: 0 auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 -4px 10px rgba(255, 255, 255, 0.75);
    border-top: groove 2px lightskyblue;
}
.user-avatar img {
    width: 200px;
    margin: -10px;
    opacity: 0.7;
    transition: ease-in 0.4s;
}
@media screen and (max-width: 1199px) {

   
    .user-background-image {
        z-index: -800;
    }
    .user-background-color {
        z-index: -801;
    }
    .user-profile-image-form {
        max-width: 85vw;
        margin-left: 2.5vw;
        display: inline-flex;
        position: relative;
        background: rgba(0, 0, 0, 0.3);
        border: groove 1px rgba(135, 206, 250, 0.555);
        backdrop-filter: blur(2px);
        padding: 10px;
        color: #fff;
        border-radius: 8px;
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.514);
    }
    .custom-file-profile-image {
        width: 55vw;
        border: none;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.3);
    }
    .custom-file-profile-image input {
    }
    .custom-file-profile-image {
        width: 55vw;
        
    }
    .custom-file-profile-image-button {
        width: 20vw;
        position: absolute;
        right: 12px;
        top: 10px;
        padding: 10px;
        border-radius: 8px;
        background: rgba(0, 128, 0, 0.3);
        backdrop-filter: blur(4px);
        outline: none;
        border: none;
        border-top: groove 2px green;
        border-bottom: groove 2px green;
        color: #fff;
    }
    .user-profile-routes {
        background: rgba(0, 0, 0, 0.3);
        width: auto;
        margin: 0 auto;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.514);
    }
    .user-profile-routes a {
        margin-left: 5px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(4px);
        width: 45%;
        border-radius: 8px;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;

    }
    .cont_container {
        border-left: groove 1px lightskyblue;
        border-right: groove 1px lightskyblue;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.3);
        margin-bottom: 20px;
    }
    .user-images h1 {
        text-align: center;
        padding-top: 20px;
    }
    .user-images {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    min-height: 100px;
    border-top: groove 2px lightskyblue;
    border-bottom: groove 2px lightskyblue;
    position: relative;
}
.user-images img {
    border-radius: 8px;
    max-width: 100%;
}
.user-images-info {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 280px;
    height: 50px;
    padding: 8px;
    margin-left: 10px;
    border-top: groove 2px lightskyblue;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.user-images-info p {
    color: #fff;
    text-align: center;
}
    .your-friends {
        text-align: center;
        background: rgba(255, 255, 255, 0.301);
        backdrop-filter: blur(2px);  
        padding: 10px;
        padding-top: 15px;
        border-radius: 8px;
        margin-bottom: 30px;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
    }
    .your-friends a {
        color: lightskyblue;
    }
    .find-new-friends {
        position: relative;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        border-left: groove 1px lightskyblue;
        border-right: groove 1px lightskyblue;
    }
    .find-new-friends {
        min-height: 450px;
    }
    .new-friend {
        position: relative;
        width: 300px;
        height: 400px;
        min-height: 400px;
        margin-left: 20px;
        border-radius: 15px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .possible-friend {
        margin-top: -140px;
        min-width: 300px;
        box-shadow: 0 8px rgba(0, 0, 0, 0.445);
        background: rgba(255, 255, 255, 0.37);
        backdrop-filter: blur(2px);
        z-index: 10;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    .possible-friend p {
        color: #fff;
    }
    .possible-friend-background {
        backdrop-filter: blur(0px);
        overflow: hidden;
        border-radius: 15px;
    }
    .possible-friend-image {
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        width: 300px;
        min-height: 100%;
        border-radius: 15px;
    }
    .possible-friend-image img {
        width: 300px;
        min-height: 100%;
        border-radius: 15px;
    }
    .friend-container {
        margin-top: 20px;
    }
    .add-friend-container {
        display: inline-flex;
    }
    .add-friend button {
        border-radius: 50%;
        background: rgba(0, 128, 0, 0.5);
        width: 40px;
        height: 40px;
        margin-right: 5px;
        text-align: center;
        color: #fff;
    }
    .remove-friend button {
        border-radius: 50%;
        background: red;
        width: 40px;
        height: 40px;
        margin-left: 5px;
        text-align: center;
        color: #fff;
    }
    .see-albums {
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        padding-top: 20px;
        margin-bottom: 20px;
        background:rgba(255, 255, 255, 0.404);
        backdrop-filter: blur(2px);
        text-align: center;
        border-radius: 8px;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
    }
    .see-albums p {
        color: #fff;
    }
    .inspread-container h5 {
        text-align: center;
    margin-bottom: 30px;
    }
    .inspreads {
        max-height: 500px;
    overflow-y: scroll;
}

.inspread {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    margin-bottom: 15px;
}
.inspread-from {
    display: inline-flex;
}
.inspread-from-image {
    background: rgba(40, 40, 40, 0.3);
    border: groove 2px lightskyblue;
    border-right: solid 1px lightskyblue;
    border-radius: 15px;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.452);
    padding-left: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    align-items: center;
  justify-content: center;
}
.inspread-from-image img {
    display: inline-flex;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.inspread-body {
    width: 100%;
}
.inspread-body h4 {
    color: lightskyblue;
    padding: 10px;
    width: 100%;

}
.inspread-body p {
    color: #fff;
    padding-left: 20px;
    padding-bottom: 0;
}
.inspread-body small {
    color: #ccc;
    padding: 10px;
    padding-left: 20px;
}
.tab {
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: inline-flex;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 0;
  padding-top: 20px;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */

}
.tabcontent h5 {
    text-align: center;
    margin-bottom: 10px;
}
.spread-post {
    box-shadow: none;
    border: none;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.spread-post h5 {
    text-align: center;
}
.spread-post textarea {
    width: 90%;
    margin-left: 5%;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
}
.spread-post input {
    width: 90%;
    margin-left: 5%;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;

}
.spread-post select {
    width: 90%;
    margin-left: 5%;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 20px;
}
.spread-post select:active {
    max-height: 50px;
    overflow-y: scroll;

}
.spread-post p {
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
}
.boolean-options {
    display: inline-flex;
    width: 100%;
}
.boolean-option {
    width: 50%;
    text-align: center;
}
.spread-file input {
    width: 90%;
    outline: none;
    border: none;
    background: transparent;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: ease-in 0.5s;
    color: #fff;
    text-shadow: 0 0 2px #000;
    font-size: 1rem;
}
#userVideo {
    width: 90%;
    margin-left: 5%;
}

.button {
    width: 80%;
    margin-left: 10%;
    background: rgba(0, 128, 0, 0.5);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: groove 2px green;
    border-bottom: none;
    outline: none;
    color: #fff;
}
.spreaded {
    max-height: 400px;
    overflow-x: scroll;
    width: 100%;
}
.new-spread {
    padding-top: 15px;
    border-top: groove 2px lightskyblue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.527);
}
.post-container {
    background: rgba(255, 255, 255, 0.3);
    width: 90%;
    margin-left: 0;
    padding: 0;
    border: none;
    border-radius: 15px;
    border-bottom: groove 2px lightskyblue;
    border-top: groove 2px lightskyblue;
    box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.75), inset 0 0 8px 3px rgba(255, 255, 255, 0.5);
}
.post-profile-image {
    width: 100%;
    height: 160px;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.post-profile-image img {
    width: 100px;
    height: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.post-author {
    backdrop-filter: 4px;
    margin-top: 20px;
    text-align: center;
    border: groove 2px lightskyblue;
    border-left: none;
    border-right: none;
    padding-top: 10px;
}
.post-body {
    padding: 15px;
    color: #fff;
}
.post-comments {
    position: relative;
    background: rgba(150, 150, 150, 0.3);
    margin-top: -20px;
    margin-bottom: 40px;
    width: 80%;
    margin-left: 5%;
    border-bottom: groove 2px lightskyblue;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.post-comments h4 {
    text-align: center;
    padding: 10px;
    padding-top: 15px;
    text-shadow: 0 0 2px #fff;
}

.post-comments p {
    color: #fff;
}
.post-comment {
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.3);
    padding-bottom: 10px;
    border-bottom: groove 2px lightskyblue;
    border-top: groove 2px lightskyblue;
    border-radius: 3px;
    box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.75), inset 0 0 8px 3px rgba(255, 255, 255, 0.5);
}
.comment-layout {
    display: inline-flex;
}
.comment-left {
    width: 80px;
    padding-top: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.comment-right {
    width: fit-content;
}
.comment-author-image {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.comment-author-image img {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.comment-author-name {
    padding: 10px;
    display: block;
    width: 100%;
}
.comment-body {
    padding: 8px;
}

.public-article {
}
.article {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    padding-top: 20px;
    border-top: groove 2px lightskyblue;
    border-bottom: groove 2px lightskyblue;
    box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.75), inset 0 0 8px 3px rgba(255, 255, 255, 0.5);
}
.article h3, .article h5 {
    padding: 5px;
}
.article h3 {
    color: lightskyblue;
}
.article h5 {
    color: #ccc;
}
.article p {
    text-align: left;
    padding: 15px;
    color: #fff;
}
.article small {
    color: #ccc;
}
.article-more {
    background: rgba(0, 128, 0, 0.5);
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: groove 2px green;
    border-bottom: none;
}
.article-more a {
    color: #fff;
    padding: 10px;

}
.article hr {
    width: 80%;
    margin-left: 10%;
    background: lightskyblue;
}
.question-container {
    background: rgba(255, 255, 255, 0.3);
    margin-top: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
}
.question {
    padding: 10px;
}
.question-category {
    text-align: center;
    color: lightskyblue;
}
.question-stats {
    padding: 5px;
}
.question-resolved p {
    color: #fff;
}
.question-page {
    text-align: center;
    padding-bottom: 10px;
}
.question-page a {
    text-align: center;
    color: #fff;
    padding: 10px;
    background: rgba(0, 128, 0, 0.5);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: groove 2px green;
    border-bottom: none;

}
.poll-container {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.poll-question h5 {
    color: #fff;
    padding: 10px;
}
.poll-reply-options {
    background: rgba(0, 0, 0, 0.3);
    display: inline-flex;
    width: 100%;
    padding-top: 20px;
}
.poll-option {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    margin-bottom: 10px;
    border-top: groove 2px lightskyblue;
    border-bottom: groove 2px lightskyblue;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    border-radius: 8px;
    width: 45%;
    margin-left: 2.5%;
}
.weather {
    width: 100%;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 8px;
}
.weather h5 {
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}
.weather h6 {
    color:rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 1px lightskyblue;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    border-bottom: groove 2px lightskyblue;
}
.weather-data {
    display: inline-flex;
    width: 100%;
}
.weather-info {
    width: 80%;
    padding-bottom: 10px;
}
.weather-info p {
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 0;
}
.weather-icons {
    width: 20%;
}
.weather-icons img {
    width: 90%;
}
.weather-link p {
    background: rgba(0, 128, 0, 0.5);
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: groove 2px green;
    border-bottom: none;
    text-align: center;
    padding: 5px;
}
.weather-link a {
    color: #fff;
}
.forecast-container {
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background:rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-top: groove 2px lightskyblue;
}
.forecast-container h5 {
    border-radius: 0;
    padding-bottom: 10px;
}
.weather-forecast {
    display: inline-flex;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 10px;
    border-radius: 8px;
    border-left: groove 1px lightskyblue;
    border-right: groove 1px lightskyblue;
    overflow-x: scroll;
    background:rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
}
.weather-forecast-day {
    width: 150px;
    min-width: 150px;
    margin-right: 20px;
    padding-right: 20px;
    border-right: solid 1px #ccc;
    text-align: center;
    color: #fff; 
    padding-top: 10px;
}
.weather-forecast-day:last-of-type {
    border-right: none;
}
.forecast-day {
    
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
}
@media screen and (max-width: 500px) {

   
    .user-background-image {
        z-index: -800;
    }
    .user-background-color {
        z-index: -801;
    }

    .dashboard-container {
        width: 95%;
        margin-left: 2.5%;
        text-align: center;
        
    }
    .dashboard-container h2 {
        padding: 15px;
    }
    .dashboard-container p {
        padding: 10px;
        color: #fff;
    }
    .dashboard-container small {
        color: lightskyblue;
    }
    .dashboard-container p a {
        border: none;
        padding: 0;
        background: none;
        width: none;
        border-radius: 0;
        margin: 0;
        color: lightskyblue;
    }
    .dashboard-container a {
        width: 100%;
        padding: 10px;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.3);
        margin-bottom: 10px;
    }
    .dashboard-container video {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .user-profile-image-form {
        max-width: 85vw;
        margin-left: 2.5vw;
        display: inline-flex;
        position: relative;
        background: rgba(0, 0, 0, 0.3);
        border: groove 1px rgba(135, 206, 250, 0.555);
        backdrop-filter: blur(2px);
        padding: 10px;
        color: #fff;
        border-radius: 8px;
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.514);
    }
    .custom-file-profile-image {
        width: 55vw;
        border: none;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.3);
    }
    .custom-file-profile-image input {
    }
    .custom-file-profile-image {
        width: 55vw;
        
    }
    .custom-file-profile-image-button {
        width: 20vw;
        position: absolute;
        right: 12px;
        top: 10px;
        padding: 10px;
        border-radius: 8px;
        background: rgba(0, 128, 0, 0.3);
        backdrop-filter: blur(4px);
        outline: none;
        border: none;
        border-top: groove 2px green;
        border-bottom: groove 2px green;
        color: #fff;
    }
    .user-profile-routes {
        background: rgba(0, 0, 0, 0.3);
        width: auto;
        margin: 0 auto;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.514);
    }
    .user-profile-routes a {
        margin-left: 5px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(4px);
        width: 45%;
        border-radius: 8px;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;

    }
    .cont_container {
        border-left: groove 1px lightskyblue;
        border-right: groove 1px lightskyblue;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.3);
        margin-bottom: 20px;
    }
    .user-images h1 {
        text-align: center;
        padding-top: 20px;
    }
    .user-images {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    min-height: 100px;
    border-top: groove 2px lightskyblue;
    border-bottom: groove 2px lightskyblue;
    position: relative;
}
.user-images img {
    border-radius: 8px;
    max-width: 100%;
}
.user-images-info {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 280px;
    height: 50px;
    padding: 8px;
    margin-left: 10px;
    border-top: groove 2px lightskyblue;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.user-images-info p {
    color: #fff;
    text-align: center;
}
    .your-friends {
        text-align: center;
        background: rgba(255, 255, 255, 0.301);
        backdrop-filter: blur(2px);  
        padding: 10px;
        padding-top: 15px;
        border-radius: 8px;
        margin-bottom: 30px;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
    }
    .your-friends a {
        color: lightskyblue;
    }
    .find-new-friends {
        position: relative;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        border-left: groove 1px lightskyblue;
        border-right: groove 1px lightskyblue;
    }
    .find-new-friends {
        min-height: 450px;
    }
    .new-friend {
        position: relative;
        width: 300px;
        height: 400px;
        min-height: 400px;
        margin-left: 20px;
        border-radius: 15px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .possible-friend {
        margin-top: -140px;
        min-width: 300px;
        box-shadow: 0 8px rgba(0, 0, 0, 0.445);
        background: rgba(255, 255, 255, 0.37);
        backdrop-filter: blur(2px);
        z-index: 10;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    .possible-friend p {
        color: #fff;
    }
    .possible-friend-background {
        backdrop-filter: blur(0px);
        overflow: hidden;
        border-radius: 15px;
    }
    .possible-friend-image {
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        width: 300px;
        min-height: 100%;
        border-radius: 15px;
    }
    .possible-friend-image img {
        width: 300px;
        min-height: 100%;
        border-radius: 15px;
    }
    .friend-container {
        margin-top: 20px;
    }
    .add-friend-container {
        display: inline-flex;
    }
    .add-friend button {
        border-radius: 50%;
        background: rgba(0, 128, 0, 0.5);
        width: 40px;
        height: 40px;
        margin-right: 5px;
        text-align: center;
        color: #fff;
    }
    .remove-friend button {
        border-radius: 50%;
        background: red;
        width: 40px;
        height: 40px;
        margin-left: 5px;
        text-align: center;
        color: #fff;
    }
    .see-albums {
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        padding-top: 20px;
        margin-bottom: 20px;
        background:rgba(255, 255, 255, 0.404);
        backdrop-filter: blur(2px);
        text-align: center;
        border-radius: 8px;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
    }
    .see-albums p {
        color: #fff;
    }
    .inspread-container h5 {
        text-align: center;
    margin-bottom: 30px;
    }
    .inspreads {
        max-height: 500px;
    overflow-y: scroll;
}

.inspread {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    margin-bottom: 15px;
}
.inspread-from {
    display: inline-flex;
}
.inspread-from-image {
    background: rgba(40, 40, 40, 0.3);
    border: groove 2px lightskyblue;
    border-right: solid 1px lightskyblue;
    border-radius: 15px;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.452);
    padding-left: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    align-items: center;
  justify-content: center;
}
.inspread-from-image img {
    display: inline-flex;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.inspread-body {
    width: 100%;
}
.inspread-body h4 {
    color: lightskyblue;
    padding: 10px;
    width: 100%;

}
.inspread-body p {
    color: #fff;
    padding-left: 20px;
    padding-bottom: 0;
}
.inspread-body small {
    color: #ccc;
    padding: 10px;
    padding-left: 20px;
}
.tab {
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: inline-flex;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 0;
  padding-top: 20px;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */

}
.tabcontent h5 {
    text-align: center;
    margin-bottom: 10px;
}
.spread-post {
    box-shadow: none;
    border: none;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.spread-post h5 {
    text-align: center;
}
.spread-post textarea {
    width: 90%;
    margin-left: 5%;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
}
.spread-post input {
    width: 90%;
    margin-left: 5%;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;

}
.spread-post select {
    width: 90%;
    margin-left: 5%;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 20px;
}
.spread-post select:active {
    max-height: 50px;
    overflow-y: scroll;

}
.spread-post p {
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
}
.boolean-options {
    display: inline-flex;
    width: 100%;
}
.boolean-option {
    width: 50%;
    text-align: center;
}
.spread-file input {
    width: 90%;
    outline: none;
    border: none;
    background: transparent;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: ease-in 0.5s;
    color: #fff;
    text-shadow: 0 0 2px #000;
    font-size: 1rem;
}
#userVideo {
    width: 90%;
    margin-left: 5%;
}

.button {
    width: 80%;
    margin-left: 10%;
    background: rgba(0, 128, 0, 0.5);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: groove 2px green;
    border-bottom: none;
    outline: none;
    color: #fff;
}
.spreaded {
    max-height: 400px;
    overflow-x: scroll;
    width: 100%;
}
.new-spread {
    padding-top: 15px;
    border-top: groove 2px lightskyblue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.527);
}
.post-container {
    background: rgba(255, 255, 255, 0.3);
    width: 90%;
    margin-left: 0;
    padding: 0;
    border: none;
    border-radius: 15px;
    border-bottom: groove 2px lightskyblue;
    border-top: groove 2px lightskyblue;
    box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.75), inset 0 0 8px 3px rgba(255, 255, 255, 0.5);
}
.post-profile-image {
    width: 100%;
    height: 160px;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.post-profile-image img {
    width: 100px;
    height: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.post-author {
    backdrop-filter: 4px;
    margin-top: 20px;
    text-align: center;
    border: groove 2px lightskyblue;
    border-left: none;
    border-right: none;
    padding-top: 10px;
}
.post-body {
    padding: 15px;
    color: #fff;
}
.post-comments {
    position: relative;
    background: rgba(150, 150, 150, 0.3);
    margin-top: -20px;
    margin-bottom: 40px;
    width: 80%;
    margin-left: 5%;
    border-bottom: groove 2px lightskyblue;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.post-comments h4 {
    text-align: center;
    padding: 10px;
    padding-top: 15px;
    text-shadow: 0 0 2px #fff;
}

.post-comments p {
    color: #fff;
}
.post-comment {
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.3);
    padding-bottom: 10px;
    border-bottom: groove 2px lightskyblue;
    border-top: groove 2px lightskyblue;
    border-radius: 3px;
    box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.75), inset 0 0 8px 3px rgba(255, 255, 255, 0.5);
}
.comment-layout {
    display: inline-flex;
}
.comment-left {
    width: 80px;
    padding-top: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.comment-right {
    width: fit-content;
}
.comment-author-image {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.comment-author-image img {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.comment-author-name {
    padding: 10px;
    display: block;
    width: 100%;
}
.comment-body {
    padding: 8px;
}

.public-article {
}
.article {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    padding-top: 20px;
    border-top: groove 2px lightskyblue;
    border-bottom: groove 2px lightskyblue;
    box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, 0.75), inset 0 0 8px 3px rgba(255, 255, 255, 0.5);
}
.article h3, .article h5 {
    padding: 5px;
}
.article h3 {
    color: lightskyblue;
}
.article h5 {
    color: #ccc;
}
.article p {
    text-align: left;
    padding: 15px;
    color: #fff;
}
.article small {
    color: #ccc;
}
.article-more {
    background: rgba(0, 128, 0, 0.5);
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: groove 2px green;
    border-bottom: none;
}
.article-more a {
    color: #fff;
    padding: 10px;

}
.article hr {
    width: 80%;
    margin-left: 10%;
    background: lightskyblue;
}
.question-container {
    background: rgba(255, 255, 255, 0.3);
    margin-top: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
}
.question {
    padding: 10px;
}
.question-category {
    text-align: center;
    color: lightskyblue;
}
.question-stats {
    padding: 5px;
}
.question-resolved p {
    color: #fff;
}
.question-page {
    text-align: center;
    padding-bottom: 10px;
}
.question-page a {
    text-align: center;
    color: #fff;
    padding: 10px;
    background: rgba(0, 128, 0, 0.5);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: groove 2px green;
    border-bottom: none;

}
.poll-container {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.poll-question h5 {
    color: #fff;
    padding: 10px;
}
.poll-reply-options {
    background: rgba(0, 0, 0, 0.3);
    display: inline-flex;
    width: 100%;
    padding-top: 20px;
}
.poll-option {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    margin-bottom: 10px;
    border-top: groove 2px lightskyblue;
    border-bottom: groove 2px lightskyblue;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    border-radius: 8px;
    width: 45%;
    margin-left: 2.5%;
}
.weather {
    width: 100%;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 8px;
}
.weather h5 {
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}
.weather h6 {
    color:rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 1px lightskyblue;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    border-bottom: groove 2px lightskyblue;
}
.weather-data {
    display: inline-flex;
    width: 100%;
}
.weather-info {
    width: 80%;
    padding-bottom: 10px;
}
.weather-info p {
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 0;
}
.weather-icons {
    width: 20%;
}
.weather-icons img {
    width: 90%;
}
.weather-link p {
    background: rgba(0, 128, 0, 0.5);
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: groove 2px green;
    border-bottom: none;
    text-align: center;
    padding: 5px;
}
.weather-link a {
    color: #fff;
}
.forecast-container {
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background:rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-top: groove 2px lightskyblue;
}
.forecast-container h5 {
    border-radius: 0;
    padding-bottom: 10px;
}
.weather-forecast {
    display: inline-flex;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 10px;
    border-radius: 8px;
    border-left: groove 1px lightskyblue;
    border-right: groove 1px lightskyblue;
    overflow-x: scroll;
    background:rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
}
.weather-forecast-day {
    width: 150px;
    min-width: 150px;
    margin-right: 20px;
    padding-right: 20px;
    border-right: solid 1px #ccc;
    text-align: center;
    color: #fff; 
    padding-top: 10px;
}
.weather-forecast-day:last-of-type {
    border-right: none;
}
.forecast-day {
    
}
.spreadshield-demos {
            width: 95%;
            margin-left: 2.5%;
            text-align: center;

        }
        .spreadshield-demos video {
            border-radius: 8px;
            width: 100%;
            height: auto;
        }
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
}
</style>
<div class="user-background-image">
    <% if (profile.user_background_image) { %>
        <img src="/image/<%= profile.user_background_image %>" alt="<%= profile.fname %> <%= profile.lname %>'s Avatar">
        <%} else { %>
            <div class="user-background-color" style="width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; background: <%= profile.favColor1 %>"></div>
            <% } %>
</div>


<%- include('partials/mainHeaderSiteMenu') %>
<div class="intro-message" data-title="Page Slider Menu" data-intro="Slide this menu left and right to access more features. SocialSpread, YourSpread, SpreadChat(Real-time text, audio, video chat), Tools(Notes, ToDo's, Encyclopedia, Dictionary, etc.), SpreadShield & FlexFloor.">
    <%- include('partials/mainHeaderPageMenu') %>
</div>

<br>
<br>

<div class="row">
    <div class="col-8">
        <h2 class="lead mb-3" id="top">Welcome <%= fname %></h2>
    </div>

</div>
<p style="text-align: center;"><a style="color: lightskyblue;" href="#itsMessy">A quick Welcome from WideSpread!</a></p>

<div class="dashboard-container">
    <h2 style="text-align: center; margin-bottom: 20px; margin-top: 30px;">Your Dashboard</h2>
    <a class="btn btn-dark" href="/vr-ar/vr-dashboard">Go To Your VR Dashboard</a>
</div>

    <div class="spread-break">
    <hr>
</div>


<% if (!profile.zip) { %>
<span style="display: none;"></span>
<% } else { %>
<div class="weather">
    <h5>Current Weather</h5>
    <h6><%= weather.name %></h6>
    <div class="weather-data">
        <div class="weather-info">
            <p style="color: #fff"><i class="fas fa-thermometer-three-quarters"></i> <%= weather.main.temp %> &#8457;</p>
            <p style="color: #fff"><i class="fas fa-wind"></i> <%= weather.wind.speed %> mph</p>
        </div>
        <div class="weather-icons">
            <% weather.weather.forEach(function(item) { %>
                <div class="weather-icon">
                    <img src="https://openweathermap.org/img/wn/<%= item.icon %>.png" alt="<%= item.main %>">
                </div>
            <% }) %>
        </div>
    </div>
    <div class="forecast-container">

    <h5>Forecast</h5>
        <div class="weather-forecast">
            <% forecast.list.forEach(function(day) { %>
                <div class="weather-forecast-day">
                    <div class="day-container">
                        <p class="forecast-day"><small><%= day.dt_txt %></small></p>
                    </div>
                    <div class="forecast-icon">
                        <% day.weather.forEach(function(icon) { %>
                        <img src="https://openweathermap.org/img/wn/<%= icon.icon %>.png" alt="<%= day.weather.main %>">
                        <% }) %>
                    </div>
                    <div class="forecast-temp">
                        <p><i class="fas fa-thermometer-three-quarters"></i> <%= day.main.temp %></p>
                    </div>
                </div>
            <% }) %>
        </div>
        <div class="weather-link">
            <p><a href="/news/weather">More Weather</a></p>
        </div>
    </div>
</div>
    
<% } %>



<div class="spread-break">
    <hr>
</div>

<!-- Profile Image -->
<div class="user-avatar">
    <% if (profile.user_avatar) { %>
        <img src="/image/<%= profile.user_avatar  %>" alt="<%= profile.fname %> <%= profile.lname %>'s Avatar" width="260px">
        <%} else { %>
        <img src="images/system/default-user_1a1a1a.png" alt="Default Avatar" width="260px" >
        <% } %>
</div>

<!-- Profile Image -->
<% if (!avatarImage) { %>

        <div class="user-profile-image-form">
            
            <form action="/upload-avatar?_method=PATCH" method="post" enctype="multipart/form-data">
                <input type="text" name="imageOwner" id="imageOwner" style="display: none;" value="<%= id %>">
                        <div class="custom-file-profile-image">
                            <input type="file" name="user_profile_image" id="userProfileImage">
                            <label for="userProfileImage" class="custom-file-label-choose-profile-image">Choose Profile Picture</label>
                        </div>
                        
                        <div>
                            <button type="submit" class="custom-file-profile-image-button">Change</button>
                        </div>
                </form>
            </div>
            <%} else { %>
                <div class="user-profile-image-form">
                    <form action="/upload-avatar?_method=PATCH" method="POST" enctype="multipart/form-data">
                        <input type="text" name="imageOwner" id="imageOwner" style="display: none;" value="<%= id %>">
                        <div class="custom-file-profile-image">
                            <input type="file" name="user_profile_image" id="userProfileImage">
                            <label for="userProfileImage" class="custom-file-label-choose-profile-image">Choose Profile Picture</label>
                        </div>
                        
                        <div>
                            <button type="submit" class="custom-file-profile-image-button">Change</button>
                        </div>
                </form>
                    </form>
                    </div>
                <% } %>

<div class="user-profile-routes">
    <a class="btn btn-dark" href="/users/<%= id %>">See Your Profile</a>
    <a class="btn btn-dark" href="/users/update-profile/<%= id %>">Update Your Profile</a>
</div>



<div class="spread-break">
    <hr>
</div>
    <h5 style="text-align: center;">Spread Something</h5>
    <p style="width: 100%; text-align: center; font-size: 0.6rem; color: lightskyblue;">Scroll left & right for more Spreaders</p>
    <div class="tab" data-title="The Spreader" data-intro="This is where you can Spread things!">
        <button data-title="SocialSpread" data-intro="Post something you want to tell the world!" class="tablinks" id="defaultOpen" onclick="openCity(event, 'Post')">Post</button>
        <button data-title="Articles" data-intro="Would you like to write an article? Here is where it can happen!"  class="tablinks" onclick="openCity(event, 'Article')">Article</button>
        <button data-title="Questions" data-intro="Have a question? Have some answers? Ask anything you'd like. Help others by answering their questions."  class="tablinks" onclick="openCity(event, 'Question')">Question</button>
        <button data-title="The Polls" data-intro="See what the world thinks about everything! Create your own poll here." class="tablinks" onclick="openCity(event, 'Poll')">Poll</button>
        <button class="tablinks" onclick="openCity(event, 'Video')">Video</button>
        <button class="tablinks" onclick="openCity(event, 'Audio')">Audio</button>
        <button class="tablinks" onclick="openCity(event, 'Event')">Event</button>
      </div>
      <div id="Post" class="tabcontent">
          <div class="spread-post">
            <div class="spreaded">
                    <h5>Your Posts</h5>
                    <ul>
                        <% posts.forEach(function(post){ %>
                            <div class="post-container">
                                <div class="post-profile-image">
                                        <% if (profile.user_avatar) { %>
                                            <img src="/image/<%= profile.user_avatar %>" alt="<%= profile.fname %> <%= profile.lname %>'s Avatar">
                                            <%} else { %>
                                                <img src="/images/system/default-user_1a1a1a.png" alt="<%= profile.fname %> <%= profile.lname %>'s Avatar">
                                                <% } %>
                                </div>
                                <div class="post-author">
                                    <h3><%= profile.fname %> <%= profile.lname %></h3>
                                </div>
                                <div class="post-body">
                                    <p><%= post.postBody %></p>
                                </div>
                            </div>
                                <div class="post-comments">
                                        <h4>Comments</h4>
                                        <% if (post.comments) { %>
                                            <% post.comments.forEach(function(comment) { %>
                                                <div class="post-comment">
                                                    
                    
                                                    <div class="comment-layout">
                                                        <div class="comment-left">
                                                            <% if (comment.author.user_avatar) { %>
                                                                <div class="comment-author-image">
                                                                <img src="/image/<%= comment.author.user_avatar %>" alt="" width="auto" height="80px">
                                                            </div>
                                                                <% } else { %>
                                                                <img src="/images/system/default-user_1a1a1a.png" alt="" width="80px" height="80px">
                                                                <% } %>
                                                        </div>
                                                        <div class="comment-right">
                                                            <div class="comment-author-name">
                                                                <h6><%= comment.author.fname %> <%= comment.author.lname %></h6>
                                                            </div>
                                                            <div class="comment-body">
                                                                <p><%= comment.commentBody %></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% }) %>
                                            <% } else { %>
                                                <p>Be the first to comment...</p>
                                            <% } %>
                                </div>
                    
                    <!--                             <a href="/users/posts/<%= post.id %>">See More</a> -->
                    
                                
                            <% }); %>
                        </ul>
            </div>
            <div class="new-spread">
                <h5>Create New Post</h5>
                <form action="/users/<%= id %>/post" method="POST">
                    <textarea required name="postBody" id="postBody" class="form-control" placeholder="Spread something..."></textarea>
                    <button class="button" type="submit">Spread It</button>
                </form>
            </div>
        </div>
      </div>
      



      <div id="Article" class="tabcontent">
        <div class="spread-post" style="border-radius: 15px; padding-bottom: 20px;">
            <div class="spreaded">
                <h5>Your Articles</h5>
                <% articles.forEach(function(article){ %>
                    <div class="public-article">
                        <div class="article">
                            <h3><%= article.articleTitle %></h3>
                            <h5><%= article.articleHeader %></h5>
                            <div class="article-published">
                                <small class="d-inline"><%= article.createdAt.toLocaleDateString() %> - <%= article.createdAt.toLocaleTimeString('en-US') %></small>
                            </div>
                            <hr>
                            <p><%= article.articleBody %></p>
                            <div class="article-more">
                                <a href="/users/articles/<%= article.id %>">See More</a>
                            </div>
                        </div>  
                        
                    </div>
                <% }); %>
            </div>
            <div class="new-spread">

                <h5>Create New Article</h5>
                <form action="/users/<%= id %>/article" method="POST">
                <input type="text" name="articleTitle" placeholder="Article Title" id="articleTitle"></input>
                <input type="text" name="articleHeader" id="articleHeader" placeholder="Article Header">
                <textarea required name="articleBody" id="articleBody" class="form-control" placeholder="Article body..."></textarea>
                <button class="button" type="submit">Spread It</button>
            </form>
        </div>
        </div>
      </div>
            
      <div id="Question" class="tabcontent">
          <div class="spreaded">
              <h5>Your Questions</h5>
              <% questions.forEach(function(question) { %>
                <div class="question-container">
                    <div class="question">
                        <h5><%= question.question_body %></h5>
                    </div>
                    <div class="question-category">
                        <p>Category: <%= question.category %></p>
                    </div>
                    <div class="question-author">
                    </div>
                    <div class="question-stats">
                        <div class="question-resolved">
                            <% if (question.resolved == true) { %>
                                <p style="text-shadow: 0 0 3px green;">This question is resolved.</p>
                            <% } else { %>
                                <p style="text-shadow: 0 0 3px red;">This question hasn't been resolved yet.</p>
                            <% } %>
                        </div>
                    </div>
                    <div class="question-page">
                        <a href="/academy/question/<%= question.id %>">See More</a>
                    </div>
                </div>
            <% }) %>
          </div>
          <div class="new-spread">
        <h5>Ask a Question</h5>
      <div class="spread-post">
          <form action="/academy/question" method="POST">
              <textarea required name="question_body" id="questionBody" class="form-control" placeholder="What is your question?"></textarea>
              <select name="category" id="category">
                  <option value="Math">Math</option>
                  <option value="Science">Science</option>
                  <option value="History">History</option>
                  <option value="Politics">Politics</option>
                  <option value="Legal">Legal</option>
                  <option value="Technology">Technology</option>
                  <option value="Geography">Geography</option>
                  <option value="Construction">Construction</option>
                  <option value="Sports">Sports</option>
                  <option value="Art">Art</option>
                  <option value="Music">Music</option>
                  <option value="Health">Health</option>
                  <option value="Nature">Nature</option>
                  <option value="Engineering">Engineering</option>
                  <option value="Automotive">Automotive</option>
                  <option value="Other">Other</option>
              </select>
              <button class="button" type="submit">Spread It</button>
          </form>
        </div>
      </div>
    </div>
          
    <div id="Poll" class="tabcontent">
        <div class="spreaded">
            <h5>Your Polls</h5>
            <p><a href="/polls">All Polls</a></p>
            <% polls.forEach(function(poll) { %>
                <div class="poll-container">
                    <div class="poll-question">
                        <h5><%= poll.poll_body %></h5>
                    </div>
                    <div class="poll-reply-options">
                        <form action="/users/<%= poll.id %>/poll-response?_method=PATCH" method="POST">
                            <label class="poll-option">
                                <input type="radio" name="votes" value="1">
                                <span><%= poll.poll_reply1.reply_option %></span>
                            </label>
                            <label class="poll-option">
                                <input type="radio" name="votes" value="2">
                                <span><%= poll.poll_reply2.reply_option %></span>
                            </label>
                            <label class="poll-option">
                                <input type="radio" name="votes" value="3">
                                <span><%= poll.poll_reply3.reply_option %></span>
                            </label>
                            <label class="poll-option">
                                <input type="radio" name="votes" value="4">
                                <span><%= poll.poll_reply4.reply_option %></span>
                            </label>
                            <label class="poll-option">
                                <input type="radio" name="votes" value="5">
                                <span><%= poll.poll_reply5.reply_option %></span>
                            </label>
                            <label class="poll-option">
                                <input type="radio" name="votes" value="6">
                                <span><%= poll.poll_reply6.reply_option %></span>
                            </label>
                            <button class="button" style="margin-top: 10px;" type="submit">Vote</button>
                        </form>
                    </div>
                </div>
            <% }) %>
        </div>
        <div class="new-spread">
        <h5>Create New Poll</h5>
      <div class="spread-post">
          <form action="/users/<%= id %>/poll" method="POST">
            <textarea required name="poll_body" required id="pollBody" class="form-control" placeholder="Poll question..."></textarea>
            <input type="text" name="poll_reply1" required placeholder="Poll Reply 1" id="poll_reply1"></input>
            <input type="text" name="poll_reply2" required placeholder="Poll Reply 2" id="poll_reply2"></input>
            <input type="text" name="poll_reply3" placeholder="Poll Reply 3" id="poll_reply3"></input>
            <input type="text" name="poll_reply4" placeholder="Poll Reply 4" id="poll_reply4"></input>
            <input type="text" name="poll_reply5" placeholder="Poll Reply 5" id="poll_reply4"></input>
            <input type="text" name="poll_reply6" placeholder="Poll Reply 6" id="poll_reply4"></input>
              <button class="button" type="submit">Spread It</button>
          </form>
        </div>
      </div>
    </div>
          
      <div id="Video" class="tabcontent">
          <div class="new-spread">
              <h5>Add New Video</h5>
        <div class="spread-post">
    
            <form action="/upload-video" method="post" enctype="multipart/form-data">
                <div class="spread-file">
                    <input type="file" name="user_video" id="userVideo">
                </div>
                <input type="text" name="videoOwner" id="videoOwner" style="display: none;" value="<%= id %>">
                <input type="text" name="videoName" id="videoName" placeholder="Video Title" style="margin-top: 15px;">
                <input type="text" name="user_tags" id="user_tags" placeholder="Tag friends in this video">
                <input type="text" name="catagory_tags" id="catagory_tags" placeholder="Add Catagory Tags">
                <button type="submit" disabled class="button" style="color: red;">Add Video</button>
            </form>
        </div>
        </div>
      </div>
      <div id="Audio" class="tabcontent">
          <div class="new-spread">
              <h5>Add New Audio</h5>
        <div class="spread-post">
    
            <form action="/upload-audio" method="post" enctype="multipart/form-data">
                <div class="spread-file">
                    <input type="file" name="user_audio" id="userAudio">
                </div>
                <input type="text" name="audioOwner" id="audioOwner" style="display: none;" value="<%= id %>">
                <input type="text" name="audio_name" id="audioName" placeholder="Track Title" style="margin-top: 15px;">
                <input type="text" name="user_tags" id="user_tags" placeholder="Tag friends in this track">
                <input type="text" name="catagory_tags" id="catagory_tags" placeholder="Add Catagory Tags">
                <button type="submit"  class="button" style="color: red;">Add Audio</button>
            </form>
        </div>
        </div>
      </div>
      <div id="Event" class="tabcontent">
          <div class="new-spread">
        <h5>Create an Event</h5>
      <div class="spread-post">
          <form action="/users/<%= id %>/event" method="POST">
                <input type="text" name="eventName" id="eventName" placeholder="Name of Event">
              <textarea required name="eventDescription" id="eventDescription" class="form-control" placeholder="Describe your event..."></textarea>
              <p>Party Type</p>
              <select name="category" id="category">
                  <option value="Birthday">Birthday</option>
                  <option value="Holiday Party">Holiday Party</option>
                  <option value="Cookout">Cookout</option>
                  <option value="Dinner Party">Dinner Party</option>
                  <option value="Celebration">Celebration</option>
                  <option value="Fund Raiser">Fund Raiser</option>
                  <option value="Music Performace">Music Performace</option>
                  <option value="Tournament">Tournament</option>
                  <option value="Meet-Up">Meet-Up</option>
                  <option value="Specialty Party">Specialty Party</option>
                  <option value="Baby Shower">Baby Shower</option>
                  <option value="Funural">Funural</option>
                  <option value="Celebration of Life">Celebration of Life</option>
                  <option value="Other">Other</option>
              </select>
              <p>What day is your event?</p>
              <input type="date" name="eventDate" id="eventDate">
              <p>What time will your event begin?</p>
              <input type="time" name="eventStart" id="eventStart">
              <p>What time will your event end?</p>
              <input type="time" name="eventEnd" id="eventEnd">
              <p>Who would you like to invite?</p>
              <p style="font-size: 0.6rem; color: red">Need to add multi-select</p>
              <select name="invitees" id="invitees">
                  <% profile.friends.forEach(function(friend) { %>
                    <option value="<%= friend.id %>"><%= friend.fname %> <%= friend.lname %></option>
                <% }) %>
              </select>
              <p>Is this event invite only?</p>
              <div class="boolean-options">
                  <div class="boolean-option">
                      <p>Yes</p>
                      <input type="radio" name="inviteOnly" id="inviteOnly" value="true">
                    </div>
                    <div class="boolean-option">
                      <p>No</p>
                      <input type="radio" name="inviteOnly" id="inviteOnly" value="false">
                    </div>
              </div>
              <button class="button" disabled type="submit">Spread It</button>
          </form>
        </div>
      </div>
    </div>
      <div class="spread-break">
        <hr>
    </div>
    <h5 style="text-align: center; padding-bottom: 20px;">Your Photos</h5>

    <div class="outer_cont_container" style="margin-top: 150px;">
        <div class="cont_container">
            <div class="cont_inner_container">
                <% profileImages.forEach(function(image){ %>
                    <div style="padding: 7px;">
                        <div> 
                            <div> 
                                    <div class="user-images"> 
                                        <img src="/image/<%= image.img.data %>">

                                    </div> 
                            </div> 
                        </div> 
                        
                    </div>
                    
                    <% }); %>
                    
                </div>
            </div>
        </div>
        <div class="user-profile-image-form">
        
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="text" name="imageOwner" id="imageOwner" style="display: none;" value="<%= id %>">
                <div class="custom-file-profile-image">
                    <input type="file" name="user_image" id="userImage">
                    <label for="userImage" class="custom-file-label-choose-profile-image">Upload an Image</label>
                </div>
                
                <div>
                    <button type="submit" class="custom-file-profile-image-button">Add</button>
                </div>
            </form>
        </div>
    <a href="/photo-album/<%= profile._id %>">
        <div class="see-albums">
            <p>Your Photo Album's</p>
        </div>
    </a>

    <div class="spread-break">
        <hr>
    </div>

    <div class="your-friends">
        <a href="/<%= profile.id %>/friends"><h5>Your Friends</h5></a>
    </div>
    <div class="row">
        <h5 style="text-align: center; width: 100%;">Find New Friends</h5>
        <p style="text-align: center; color: lightskyblue; width: 100%;"><small style="text-align: center; color: lightskyblue; width: 100%;">Scroll left & right for more people</small></p>
        <div class="find-new-friends">
            <% nearbyUsers.forEach(function(friend){ %>
                <% if(nearbyUsers) { %>
            <div class="new-friend">

            
            <div class="possible-friend-background">

                <div class="possible-friend-image">
                    <% if (friend.user_avatar) { %>
                        <img src="/image/<%= friend.user_avatar   %>" alt="<%= profile.fname %> <%= profile.lname %>'s Avatar" width="60px">
                    <%} else { %>
                        <img src="/images/system/default-user_1a1a1a.png" alt="Default Avatar"  width="60px"  >
                        <% } %>
                </div>
            </div>
            <a href="/users/<%= friend.id %>">
                <div class="possible-friend">
                        <h3 style="text-shadow: 0 0 3px <%= friend.favColor1 %>"><%= friend.fname %> <%= friend.lname %></h3>
                        <div class="possible-friend-data">

                        <% if (!friend.town && !friend.state && !friend.country) { %>
                            <br>
                            <br>
                            <% } else { %>
                                <p><%= friend.town %>, <%= friend.state %></p>
                                <p><%= friend.country %></p>
                                <% } %>
                            </a>
                            <div class="add-friend-container">
                                    <div class="add-friend">
                                        <form action="/users/<%= profile._id %>/add-friend" method="POST">
                                            <input type="text" name="friends" value="<%= friend.id %>" style="display: none;">
                                            <button class="" type="submit">
                                                <i class="fas fa-user-plus"></i>
                                            </button>
                                        </form>
                                    </div>
                                <div class="remove-friend">
                                    <form action="/users/<%= profile._id %>/remove-friend?_method=PATCH" method="POST">
                                        <input type="text" name="friends" value="<%= friend.id %>" style="display: none;">
                                        <button class="" type="submit">
                                            <i class="fas fa-user-minus"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%} else { %>
                    <span></span> 
                    <% } %>
            <% }) %>
        </div>
    </div>
<div class="inspread-container" data-title="InSpreads" data-intro="This is where all your InSpreads will be, both public and private. (InSpreads are messages directed at you from your public profile.)">
    <h5>Spread To You</h5>
    <div class="inspreads">
        <% inSpreads.forEach(function(inSpread) { %>
            <div class="inspread">
                <div class="inspread-from">
                    <div class="inspread-from-image">
                        <img src="/image/<%= inSpread.inSpreadFrom.user_avatar %>" alt="" width="40px" height="80px">
                    </div>
                    <div class="inspread-body">
                    <h4><%= inSpread.inSpreadFrom.fname %> <%= inSpread.inSpreadFrom.lname %></h4>
                    <p><%= inSpread.inSpreadBody %></p>
                        <div class="inspread-time">
                            <small><%= inSpread.inSpreadAt.toLocaleDateString() %></small>
                            <small><%= inSpread.inSpreadAt.toLocaleTimeString() %></small>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<div class="spread-break">
    <hr>
</div>

<div class="its-messy" id="itsMessy" style="color: #fff; background: rgba(255, 0, 0, 0.3); border-radius: 8px; padding: 10px;">
    <p>    Welcome to WideSpread! Please excuse any mess I may have overlooked or didn't get to yet.. WideSpread is still under construction, but feel free to explore and enjoy! Do your best to try and break things (just let me know on SocialSpread or send me an InSpread (working title...) so I can fix it.</p>
    <p>    I'm Jon, and I'll be the first person in the "Find New Friends" slider on your Dashboard, feel free to add me to get new feature updates.. don't hesitate to ever ask me any questions or make recommendations for something you would like to be added... WideSpreads conception was built around helping any and everyone anyway possible! Not judge people by their looks like how Facebook got started...</p>
    <p>    Also, feel free to check out some demo videos and screenshots to hopefully give some guidance until I build walkthroughs and explain things... <a href="https://www.instagram.com/widespread_os/" target="_blank" style="color: lightskyblue;">WideSpread OS</a> (Yeah, yeah, it's Instagram... time to put them in their place... the trash!)</p>
    <p style="text-align: center;"><a style="color: lightskyblue;" href="#top">Back to Top</a></p>
</div>


<script>
    document.getElementById("defaultOpen").click();
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
</script>

<script>
    introJs().start();
</script>