<div class="row">
    <div class="col-8">
    </div>

</div>

<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <div class="row">
            <div class="col-10">
                <a href="/academy">Academy</a>
                <a href="/business">Business</a>
                <a href="/news">News</a>
                <a href="/shopping">Shopping</a>
                <a href="/wellness">Wellness</a>
            </div>
            <div class="col-2">
                <a href="/users/logout" class="logout-button" style="padding-left: 10px; padding-right: 10px; text-shadow: 0 0 4px red; color: rgba(255, 255, 255, 0.712);">Logout</a>
            </div>
        </div>
    </div>
</div>

<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        
        <a href="/flexfloor">FlexFloor</a>
        <a href="/spreadshield">SpreadShield</a>
    </div>
</div>
<h2 style="text-align: center; margin-bottom: 20px; margin-top: 30px;">SocialSpread</h2>
<hr style="border-color: rgba(135, 206, 250, 0.623); margin-top: 40px; margin-bottom: 40px; width: 80%; margin-left: 10%;">






<% data.forEach(function(post){ %>
    <div class="outer-post-container">
                <div class="ss-post">
  
                    <div class="post-timestamp">
                        
                        <small class="post-span"><%= post.createdAt.toLocaleDateString() %> - <%= post.createdAt.toLocaleTimeString() %></small>
                    </div>
                    <h3><%= post.author.fname %> <%= post.author.lname%></h3>
                    <div class="post-body">
                        <p><%= post.postBody %></p>
                    </div>

                    <div class="post-actions">
                        <span class="like-button">
                            <form action="/dashboard/wall/post/<%= post.id %>/like?_method=PATCH" method="post">
                                <input type="text" name="likedBy" value="<%= id %>" hidden="true">
                                <button type="submit"><i class="far fa-heart"></i></button>
                                <span><%= post.likes %></span>
                            </form>
                        </span>
                        <p><span><a href="#"></a><a href="#"><i class="fas fa-share-alt"></i></a><a href="/dashboard/wall/<%= post.id %>/comment"><i class="far fa-comment-alt"></i></a><a href="#"><i class="fas fa-plus"></i></a></span></p>
                    </div>
                          

                    <div class="comment-container">
                    <div class="comment-on-post">
                        <h4>Leave a comment</h4>
                        <form action="/users/<%= post.author.id %>/post/<%= post.id %>/comment" method="POST">
                            <textarea required name="commentBody" id="commentBody" class="form-control"></textarea>
                            <button class="btn-block block-button spread-it" type="submit">Spread More</button>
                            <input type="text" name="fromPost" value="<%= post.id %>" hidden="true">
                        </form>

                    </div>
                        <div class="comments">
                
                            <% post.comments.forEach(function(comment){ %>
                                <div class="comment">
                                    <h5><%= comment.author.fname %> <%= comment.author.lname %></h5>
                                    <p><%= comment.commentBody %></p>
                                    <div class="comment-actions">
                                        <span class="like-button">
                                            <form action="/<%= comment.id %>/like?_method=PATCH" method="post">
                                                <input type="text" name="likedBy" value="<%= id %>" hidden="true">
                                                <button type="submit"><i class="far fa-heart"></i></button>
                                                <span><%= comment.likes %></span>
                                            </form>
                                        </span>
                                        <p><span><a href="#"><i class="far fa-heart"></i></a><a href="#"><i class="fas fa-share-alt"></i></a><a href="#"><i class="far fa-comment-alt"></i></a><a href="#"><i class="fas fa-plus"></i></a></span></p>
                                        <div class="comment-time">
                                            <p><small><%= comment.createdAt.toLocaleDateString() %> - <%= comment.createdAt.toLocaleTimeString() %></small></p>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                                
                            </div>
                        </div>
                </div>
                </div>

<% }); %>
