
<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <div class="row">
            <div class="col-10">
                <a href="/dashboard/wall">YourSpread</a>
                <a href="/academy">Academy</a>
                <a href="/business">Business</a>
                <a href="/news">News</a>
                <a href="/shopping">Shopping</a>
                <a href="/wellness">Wellness</a>
            </div>
            <div class="col-2">
                <a href="/users/logout" class="logout-button" style="padding-left: 10px; padding-right: 10px; text-shadow: 0 0 4px red; color: rgba(255, 255, 255, 0.712);">Logout</a>
            </div>
        </div>
    </div>
</div>

<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <a href="/socialspread/<%= id %>">SocialSpread</a>
        <a href="/flexfloor">FlexFloor</a>
        <a href="/spreadshield">SpreadShield</a>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-8">
        <h2 class="lead mb-3">Welcome <%= fname %></h2>
    </div>

</div>

<h2 style="text-align: center; margin-bottom: 20px; margin-top: 30px;">Your Dashboard</h2>
<hr style="border-color: rgba(135, 206, 250, 0.623); margin-top: 40px; margin-bottom: 40px; width: 80%; margin-left: 10%;">
<div class="row">
    <div class="col-12">

        <div class="user-profile-image-form">
            <form action="/upload-avatar" method="post" enctype="multipart/form-data">
                <div class="custom-file-profile-image">
                    <input type="file" name="user_profile_image" id="userProfileImage">
                    <label for="userProfileImage" class="custom-file-label-choose-profile-image">Choose Profile Picture</label>
                </div>
                <input type="text" name="imageOwner" id="imageOwner" style="display: none;" value="<%= id %>">
                <div class="custom-file-profile-image-button">
                    <input type="submit" value="Change" class="" style="margin-top: 15px;">
                </div>
            </form>
</div>
</div>
</div>
<div class="user-avatar">
    <% if (avatarImage) { %>
        <img src="/image/<%= avatarImage.img.data  %>" alt="<%= profile.fname %> <%= profile.lname %>'s Avatar">
        <%} else { %>
        <img src="images/system/default-user_1a1a1a.png" alt="Default Avatar" width="260px" >
        <% } %>
</div>
    <div class="row">
        <div class="col-5">
        <div class="nav-bar-outer">
            <div class="nav-bar nav-bar-ws" style="padding: 25px;">
                <div class="row">
                    <div class="col-6">
                        <a class="btn btn-dark" href="/users/<%= id %>">See Your Profile</a>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-dark" href="/users/update-profile/<%= id %>">Update Your Profile</a>
                            </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-7">
            <div class="nav-bar-outer">
                <div class="nav-bar nav-bar-ws">
                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <div class="custom-file">
                            <input type="file" name="user_image" id="userImage">
                            <label for="userImage" class="custom-file-label">Upload an Image</label>
                        </div>
                        <input type="text" name="imageOwner" id="imageOwner" style="display: none;" value="<%= id %>">
                        <input type="submit" value="Add Image" class="btn-block block-button" style="margin-top: 15px;">
                    </form>
                </div>
            </div>
        </div>
    </div>

<div class="row">
<div class="col-2" style="padding-top: 10px;">

    <div class="nav-bar-outer">
        <div class="nav-bar nav-bar-ws">
        <a class="btn btn-dark" href="/users/new-resume/<%= id %>">Add Resume</a>
        
    </div>
</div>
</div>

<div class="col-10 resume-nav" style="padding-top: 10px;">
    <div class="nav-bar-outer">
        <div class="nav-bar nav-bar-ws">
    <% resume.forEach(function(resume){ %>
        <li style="list-style: none;">
            <div style="padding: 7px;">
                <div>
                        <a href="/users/resume/<%= resume.id %>">See This Resume</a>
                </div>  
                
            </div>
        </li>
        <% }); %>
        </div>
    </div>
    </div>
        </div>


        <h2 style="text-align: center; margin-bottom: 20px;">Your Photos</h2>
        <div class="outer_cont_container" style="margin-top: 150px;">
            <div class="cont_container">
                <div class="cont_inner_container">
        <% profileImages.forEach(function(image){ %>
                <div style="padding: 7px;">
                    <div> 
                        <div> 
                            <div class="med-image"> 
                                <img src="/image/<%= image.img.data %>" width="300px" height="300px"> 
    
                            </div> 
                        </div> 
                    </div> 
                    
                </div>
            
            <% }); %>
        
                </div>
            </div>
        </div>

        <h2 style="text-align: center; margin-bottom: 20px;">Your Friends</h2>
    <div class="row">
        <div class="find-new-friends">
                <% profile.friends.forEach(function(friend){ %>
                    <div class="possible-friend" style="box-shadow: 0 0 10px <%= friend.favColor1 %>;">
                        <a href="/users/<%= friend.id %>">
                            <div class="possible-friend-image" style="border: groove 1px <%= friend.favColor1 %>; border-top: none;">
                        <% if (friend.user_image) { %>
                                <img src="/image/<%= friend.user_images[0].img.data   %>" alt="<%= profile.fname %> <%= profile.lname %>'s Avatar">
                                <%} else { %>
                                    <img src="/images/system/default-user_1a1a1a.png" alt="Default Avatar"  width="100%" style="box-shadow: 0 3px 10px <%= friend.favColor1 %>;" >
                                    <% } %>
                                </div>
                        <h3 style="text-shadow: 0 0 3px <%= friend.favColor1 %>; border-top: solid 1px <%= friend.favColor1 %>; border-bottom: solid 1px <%= friend.favColor1 %>;"><%= friend.fname %> <%= friend.lname %></h3>
                        <p><%= friend.town %>, <%= friend.state %></p>
                        <p><%= friend.country %></p>
                        <small><%= friend.gender %></small>
                        <p><%= friend.email %></p>
                        
                    </a>
                </div>
                        <% }); %>
                    </div>

    </div>
    <div class="row">
        <h1 style="text-align: center; width: 100%;">Find New Friends</h1>
        <div class="find-new-friends">
            <% nearbyUsers.forEach(function(friend){ %>
                <% if(nearbyUsers) { %>
            <div class="possible-friend-background"></div>
            <a href="/users/<%= friend.id %>">
                <div class="possible-friend" style="box-shadow: 0 0 10px <%= friend.favColor1 %>;">
                        <img src="/images/system/default-user_1a1a1a.png" alt="Default User Image" width="60px" style="box-shadow: 0 5px 10px <%= friend.favColor1 %>;">
                        <h3 style="text-shadow: 0 0 3px <%= friend.favColor1 %>"><%= friend.fname %> <%= friend.lname %></h3>
                        <p><%= friend.town %>, <%= friend.state %></p>
                        <p><%= friend.country %></p>
                        <small><%= friend.gender %></small>
                        <p><%= friend.email %></p>
                        
                    </a>
                    <div class="add-friend-container">

                        <div class="add-friend">
                            <form action="/users/<%= profile._id %>/add-friend" method="POST">
                                <input type="text" name="friends" value="<%= friend.id %>" style="display: none;">
                                <button class="" type="submit">
                                    <i class="fas fa-user-plus"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    </div>
            
                <%} else { %>
                    <span></span> 
                    <% } %>
            <% }) %>
        </div>
    </div>

    <div class="row">
            <div class="col-12 user-posts">
                <div class="create-post">
                    <h5>Create New Post</h5>
                    <form action="/users/<%= id %>/post" method="POST">
                        <textarea required name="postBody" id="postBody" class="form-control"></textarea>
                        <button class="btn-block block-button spread-it" type="submit">Spread It</button>
                    </form>
                </div>
                <div class="spread-h3">
                    <h3>Your Posts</h3>
                </div>
                <div class="user-posts-container">
                <ul>
                    <% posts.forEach(function(post){ %>
                        <li style="list-style: none;">
                            <div class="outer-post-container" style="padding: 10px; margin: 5px; border-radius: 10px;">
                                <a href="/users/post/<%= post.id%>">&times;</a>
                                <div class="post-container">
                                    <img src="/images/system/default-post_1a1a1a.png" alt="Post Icon" width="50px" height="50px">
                                    <small class="text-muted"><%= post.createdAt.toLocaleDateString() %></small>
                                    <div class="post">
                                        <p><%= post.postBody %></p>
                                    </div>
                                </div>  
                                
                            </div>
                        </li>
                    <% }); %>
                </ul>
                </div>

            </div>
    </div>
    
    <div class="row">
        <div class="col-12 user-posts">
            <div class="create-post">
                <h5>Create New Article</h5>
                <form action="/users/<%= id %>/article" method="POST">
                    <input type="text" name="articleTitle" placeholder="Article Title" id="articleTitle"></input>
                    <input type="text" name="articleHeader" id="articleHeader" placeholder="Article Header">
                    <textarea required name="articleBody" id="articleBody" class="form-control"></textarea>
                    <button class="btn-block block-button spread-it" type="submit">Spread It</button>
                </form>
            </div>
            <div class="spread-h3">
                <h3>Your Articles</h3>
            </div>
            <div class="user-posts-container">
            <ul>
                <% article.forEach(function(article){ %>
                    <li style="list-style: none;">
                        <div class="outer-post-container" style="padding: 10px; margin: 5px; border-radius: 10px;">
                            <a href="/users/article/<%= article.id%>">&times;</a>
                            <div class="post-container">
                                <img src="/images/system/default-post_1a1a1a.png" alt="Post Icon" width="50px" height="50px">
                                <small class="text-muted"><%= article.createdAt.toLocaleDateString() %></small>
                                <div class="post">
                                    <h2><%= article.articleTitle %></h2>
                                    <h5><%= article.articleHeader %></h5>
                                    <p><%= article.articleBody %></p>
                                </div>
                            </div>  
                            
                        </div>
                    </li>
                <% }); %>
            </ul>
            </div>
        </div>
    </div>


    <div class="nav-bar-outer">
        <div class="nav-bar nav-bar-ws">
            <form action="/upload-video" method="post" enctype="multipart/form-data">
                <div class="custom-file">
                    <input type="file" name="user_video" id="userVideo">
                    <label for="userVideo" class="custom-file-label">Upload a Video</label>
                </div>
                <input type="text" name="imageOwner" id="imageOwner" style="display: none;" value="<%= id %>">
                <input type="text" name="videoName" id="videoName" placeholder="Video Title">
                <input type="text" name="user_tags" id="user_tags" placeholder="Tag friends in this video">
                <input type="text" name="catagory_tags" id="catagory_tags" placeholder="Add Catagory Tags">
                <input type="submit" value="Add Video" class="btn-block block-button" style="margin-top: 15px;">
            </form>
        </div>
    </div>
    <div class="iframe">
        <iframe src="https://drive.google.com/file/d/19DL4xxP8yCV4-QN5CeXEy7SS6b32LVft/preview" width="420" height="360"></iframe>
    </div>

    <h2 style="text-align: center; margin-bottom: 20px;">Your Videos</h2>
    <div class="outer_cont_container" style="margin-top: 150px;">
        <div class="cont_container">
            <div class="cont_inner_container">
    <% videos.forEach(function(video){ %>
            <div style="padding: 7px;">
                <div> 
                    <div> 
                        <div class="med-image"> 
                            <video src="/image/<%= video.video.data %>" controls></video>

                        </div> 
                    </div> 
                </div> 
                
            </div>
        
        <% }); %>
    
            </div>
        </div>
    </div>