<div class="nav-bar">
    <a href="/academy">Academy</a>
    <a href="/business">Business</a>
    <a href="/news">News</a>
</div>
<div class="jumbotron">
    <div class="row">
        <div class="col-8">
            <p class="lead mb-3">Welcome <%= fname %></p>
        </div>
        <div class="col-4">
            <a href="/users/logout" class="btn btn-secondary">Logout</a>
        </div>
    </div>
    <div class="row">
        <div class="nav-bar">
            <a class="btn btn-dark" href="/users/<%= id %>">See Your Profile</a>
            <a class="btn btn-dark" href="/users/update-profile/<%= id %>">Update Your Profile</a>
            
        </div>
    </div>
    
    <hr class="my-4">
    <div class="row">
<div class="col-2">

    <div class="nav-bar">
        <a class="btn btn-dark" href="/users/new-resume/<%= id %>">Add Resume</a>
        
    </div>
</div>
<div class="col-10 resume-nav">

    <% resume.forEach(function(resume){ %>
        <li style="list-style: none;">
            <div style="padding: 10px; margin: 5px; border-radius: 10px;">
                <div>
                    <div class="nav-bar">
                        <a href="/users/resume/<%= resume.id %>"> <%= resume.bio %></a>
                    </div>
                </div>  
                
            </div>
        </li>
        <% }); %>
    </div>
        </div>
    <div class="row">
        <div class="col-5 friends">
            <h5>Friend List:</h5>
            <ul>
                <% profile.friends.forEach(function(friend){ %>
                    <li style="list-style: none;">
                        <div style="padding: 10px; margin: 5px; border-radius: 10px;">
                            <div>
                                <img src="/images/system/default-user_1a1a1a.png" alt="Default User" width="50px" height="50px">
                                <a href="/users/<%= friend._id %>"><%= friend.fname %> <%= friend.lname %></a>
                                <p class="d-inline"> - </p>
                                <a class="d-inline" href="#">Business/School Name</a>
                            </div>  
                            
                        </div>
                    </li>
                    <% }); %>
                </ul>
            </div>
    </div>
    <div class="row">
        <div class="col-6 user-posts">
            <h5>Create New Article</h5>
            <div class="create-post">
                <form action="/users/<%= id %>/article" method="POST">
                    <input type="text" name="articleTitle" placeholder="Article Title" id="articleTitle"></input>
                    <input type="text" name="articleHeader" id="articleHeader" placeholder="Article Header">
                    <textarea required name="articleBody" id="articleBody" class="form-control"></textarea>
                    <button class="btn btn-success" type="submit">Add Article</button>
                </form>
            </div>
            <h5>Your Articles:</h5>
            <div class="user-posts-container">
            <ul>
                <% article.forEach(function(article){ %>
                    <li style="list-style: none;">
                        <div class="outer-post-container" style="padding: 10px; margin: 5px; border-radius: 10px;">
                            <a href="/users/article/<%= article.id%>">X</a>
                            <div class="post-container">
                                <img src="/images/system/default-post_1a1a1a.png" alt="Post Icon" width="50px" height="50px">
                                <small class="text-muted"><%= article.createdAt.toLocaleDateString() %></small>
                                <div class="post">
                                    <h3><%= article.articleTitle %></h3>
                                    <h5><%= article.articleHeader %></h5>
                                    <p><%= article.articleBody %></p>
                                </div>
                            </div>  
                            
                        </div>
                    </li>
                <% }); %>
            </ul>
            </div>
        </div>
            <div class="col-6 user-posts">
                <h5>Create New Post</h5>
                <div class="create-post">
                    <form action="/users/<%= id %>/post" method="POST">
                        <textarea required name="postBody" id="postBody" class="form-control"></textarea>
                        <button class="btn btn-success" type="submit">Add Post</button>
                    </form>
                </div>
                <h5>Your Posts:</h5>
                <div class="user-posts-container">
                <ul>
                    <% posts.forEach(function(post){ %>
                        <li style="list-style: none;">
                            <div class="outer-post-container" style="padding: 10px; margin: 5px; border-radius: 10px;">
                                <a href="/users/post/<%= post.id%>">X</a>
                                <div class="post-container">
                                    <img src="/images/system/default-post_1a1a1a.png" alt="Post Icon" width="50px" height="50px">
                                    <small class="text-muted"><%= post.createdAt.toLocaleDateString() %></small>
                                    <div class="post">
                                        <p><%= post.postBody %></p>
                                    </div>
                                </div>  
                                
                            </div>
                        </li>
                    <% }); %>
                </ul>
                </div>

            </div>
    </div>
</div>
<div class="outer_cont_container">
    <div class="cont_container">
        <div class="cont_inner_container">
    <% profile.friends.forEach(function(friend){ %>
            <div id="userCard_<%=friend.id %>" class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="/images/system/default-user_1a1a1a.png" alt="Default User Image">
                        <h3><%= friend.fname %> <%= friend.lname %></h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p><%= friend.about %></p>
                            <a href="/users/<%= friend.id %>">Profile</a><a style="background: green;" href=""><i  class="fas fa-user-plus"></i></a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
        </div>
        </div>
    <!-- Static User Routes -->
    <div class="static-users">
        <h2>User Profiles</h2>
        <h5>Jonny O</h5>
        <p><a href="/users/5f60d9bc564a9e3010a0c5ad">5f60d9bc564a9e3010a0c5ad</a></p>
        <h5>Mike Jones</h5>
        <p><a href="/users/5f7d064688285325f888e2c3">5f7d064688285325f888e2c3</a></p>
        <h5>Jon Olson</h5>
        <p><a href="/users/5f749fd3bd01753cb4f9677a">5f749fd3bd01753cb4f9677a</a></p>
    </div>
    <!-- End Static Users -->

