<style>
    .add-to-recommended {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 70vw
    }
    .add-to-recommended button {
        background: rgba(0, 128, 0, 0.3);
        border: none;
        outline: none;
        width: 95%;
        border-top-right-radius: 8px;
        border-top: groove 2px green;
        border-right: groove 2px green;
        color: #fff;
        padding: 10px;
    }
    .spread-break hr {
    background: lightskyblue;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.534);
    width: 80%;
    margin-left: 10%;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
    }
    h5 {
        text-align: center;
    }
    
    .movie-search {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 8px;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        padding: 10px;
        padding-bottom: 0;
        width: 100%;
        margin-bottom: 30px;
    }
    .movie-search input {
        width: 90%;
        margin-left: 5%;
        border-radius: 8px;
        outline: none;
        border: none;
        padding: 5px;
    }
    .movie-search button {
        width: 80%;
        margin-left: 10%;
        background: green;
        border: groove 2px green;
        border-bottom: none;
        margin-bottom: 0;
        color: #fff;
        margin-top: 10px;
        border-top-left-radius: 8px;  
        border-top-right-radius: 8px;  
    }
    p {
        color: #fff;
    }
    .spreadshield-link p {
        width: 100%;
        text-align: center;
        padding: 10px;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(2px);
        border-radius: 8px;
    }
    .spreadshield-link a {
        color: lightskyblue;
    }
    .movie-title {
        margin-bottom: 20px;
    }
    .movie-title h1 {
        text-align: center;
    }
    .movie-poster {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -50;
        background-image: url('<%= returnedData.Poster %>');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 8px;
    }
    .movie-ratings {
        display: inline-flex;
        width: 100%;
    }
    .movie-ratings p {
    }
    .video-stream {
        width: 100%;
        max-width: 90vw;
        text-align: center;
        padding-top: 10px;
        border-radius: 8px;
        margin-bottom: 20px;
    }
    .video-stream iframe {
        border-radius: 8px;

    }
    .add-to-list {
        width: 100%;
    }
    .add-to-list button {
        width: 80%;
        margin-left: 10%;
        border: none;
        border-top: groove 2px green;
        border-bottom: groove 2px green;
        border-radius: 8px;
        background: rgba(0, 128, 0, 0.3);
        color: #fff;
        outline: none;
    }
    
    .add-to-list p {
        width: 80%;
        margin-top: 10px;
        margin-left: 10%;
        color: #fff;
        text-align: center;
        padding: 10px;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 8px;
    }
    .add-to-list a {
        width: 100%;
        color: #fff;
        text-align: center;
    }
</style>

<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenu">
        <div class="main-header-page-menu-inner">
            <a href="/entertainment">Entertainment Home</a>
            <a href="/entertainment/movies">Movies</a>
            <a href="/entertainment/tv">TV Shows</a>
            <a href="/entertainment/videos">Videos</a>
            <a href="/entertainment/music">Music</a>
            <a href="/entertainment/podcasts">Podcasts</a>
            <a href="/entertainment/audio-books">Audio Books</a>
            <a href="/entertainment/sports">Sports</a>

        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>

<div class="movie-search">
    <form action="/entertainment/movies/search" method="POST">
        <input type="text" name="movie" id="movie" placeholder="Search for movies...">
        <button type="submit">Search</button>
    </form>
</div>
<div class="movie-poster">
</div>

<div class="movie-container">
    <div class="movie-title">
        <h1><%= returnedData.Title %></h1>
    </div>
    <div class="spreadshield-link">
        <p><a href="/entertainment/movies/<%= movie %>/vr">Watch in VR</a></p>
        <p><a href="/entertainment/movies/<%= movie %>/spreadshield">Watch on SpreadShield</a></p>
    </div>
    <div class="video-stream">
        <iframe src="https://www.2embed.ru/embed/imdb/movie?id=<%= returnedData.imdbID %>" frameborder="0" allowfullscreen="true"></iframe>
    </div>
    <div class="movie-data">
        <div class="add-to-list">
            <form action="/entertainment/movies/save" method="post">
                <input type="text" name="movie_name" value="<%= returnedData.Title %>" hidden>
                <input type="text" name="movie_title" value="<%= movie %>" hidden>
                <input type="text" name="movie_poster" value="<%= returnedData.Poster %>" hidden>
                <button>Add to List</button>
            </form>
            <p><a href="/yourspread">See Your List</a></p>
        </div>
        <div class="spread-break">
            <hr>
        </div>
        <div class="movie-plot">
            <h5>Plot</h5>
            <p><%= returnedData.Plot %></p>
        </div>
            <div class="spread-break">
                <hr>
            </div>
            <h5>Ratings</h5>
            <div class="movie-ratings">
                <% returnedData.Ratings.forEach(function(rating) { %>
                    <p><%= rating.Source %>: <%= rating.Value %></p>
                <% }) %>
            </div>
        <div class="spread-break">
            <hr>
        </div>
        <div class="movie-crew">
            <h5>Cast & Crew</h5>
            <p>Director: <%= returnedData.Director %></p>
            <p>Writer: <%= returnedData.Writer %></p>
            <p>Cast: <%= returnedData.Actors %></p>
        </div>
    </div>
    <div class="spread-break">
        <hr>
    </div>
    <div class="movie-stats">
        <h5>More Info</h5>
        <p><%= returnedData.Year %></p>
        <p>Rated: <%= returnedData.Rated %></p>
        <p>Released: <%= returnedData.Released %></p>
        <p>Runtime: <%= returnedData.Runtime %></p>
        <p>Genre: <%= returnedData.Genre %></p>
        <p>Box Office: <%= returnedData.BoxOffice %></p>
        <p>Production Company: <%= returnedData.Production %></p>
        <p>Awards: <%= returnedData.Awards %></p>
        <p>Language: <%= returnedData.Language %></p>
    </div>
</div>


<div class="add-to-recommended">
    <form action="/entertainment/movies/add-to-recommended" method="post">
        <input type="text" name="name" value="<%= returnedData.Title %>" hidden>
        <input type="text" name="link" value="<%= movie %>" hidden>
        <input type="text" name="poster" value="<%= returnedData.Poster %>" hidden>
        <input type="text" name="genre" value="<%= returnedData.Genre %>" hidden>
        <input type="text" name="rated" value="<%= returnedData.Rated %>" hidden>
        <input type="checkbox" name="for_kids" value="true" hidden>
        <button type="submit">Add to WideSpread Collection</button>
    </form>
</div>
