<style>
    .page-title {
        padding-top: 20px;
        text-align: center;
        width: 100%;
    }
    .main-header-page-menu-container {
        padding: 10px;
        background: rgba(255, 255, 255, 0.308);
        backdrop-filter: blur(2px);
        border-radius: 12px;
        border: groove 1px rgba(135, 206, 250, 0.555);
        
    }
    .main-header-page-menu-inner {
        padding: 10px;
    }
    .main-header-page-menu-inner a {
        display: inline-flex;
        padding: 10px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.733);
        transition: ease-in 0.4s;
        background: rgba(135, 206, 250, 0.315);
        backdrop-filter: blur(4px);
        border-radius: 8px;
        text-align: center;
    }
    .main-header-page-menu-inner a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 3px lightskyblue;
        transition: ease-in 0.2s;
    }

    @media screen and (max-width: 500px) {
        .main-header-page-menu-container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            box-shadow: inset 0 0 4px black;
            background: rgba(0, 0, 0, 0.308);
        }
        .main-header-page-menu-container p {
            margin: 0 auto;
            color: rgba(255, 255, 255, 0.76);
            text-align: center;
            font-size: 0.6rem;
            
        }
        .main-header-page-menu-inner a {
            border-top: groove 2px lightskyblue;
            border-bottom: groove 2px lightskyblue;
            text-align: center;
            background: rgba(255, 255, 255, 0.3);
        }
        
        #mainHeaderPageMenu {
            width: 100%;
            position: relative;

        }

        .main-header-page-menu-inner {
            display: inline-flex;
            max-width: 100%;
            min-width: 100%;
            overflow-x: scroll;
            padding: 10px;
            width: 100%;
        }
        .main-header-page-menu-inner a {
            position: relative;
            padding: 10px;
            width: 150px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            text-align: center;
        }
        .flip-card {
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(2px);
        }
        .flip-card-front {
            padding: 10px;
            padding-top: 60px;
            background: rgba(0, 0, 0, 0.5);
        }
        .flip-card-front p {
            font-weight: bolder;
            font-size: 1.2rem;
        }
        .flip-card-back p {
            font-weight: bolder;
            font-size: 1.2rem;
        }
        .flip-card-back {
            padding: 10px;
            padding-top: 60px;
            background: rgba(255, 255, 255, 0.6);
            box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.7);
        }
        .flip-card-back p {
            color: #333;
            font-weight: bolder;    
        }
        .course-background {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -25;
        width: 100vw;
        height: 100vh;
    }
    .course-background img {
        height: 100vh;
    }
    }
</style>

<div class="course-background">
    <img src="/image/<%= thisCourse.background_image %>" alt="">
</div>
<%- include('partials/mainHeaderSiteMenu') %>
<div class="page-title">
    <h1><%= currentPageTitle %> for <%= thisClass.name %></h1>
</div>

<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenuu">
        <div class="main-header-page-menu-inner">
            <a href="/academy/courses/<%= courseId %>/<%= thisClass.id %>/"><p>Back to Class</p></a>
            <a href="/academy"><p>Your Desk</p></a>
            <a href="/academy/courses"><p>All Courses</p></a>
            <a href="/notebooks">Your Notebooks</a>
            <a href="/tools/dictionary">Dictionary</a>
            <a href="/tools/encyclopedia">Encyclopedia</a>
            <a href="/tools/calculator">Calculator</a>
        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>

<div class="flashcard-container">

    <% flashcards.forEach(function(flashcard) { %>
        <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front easy">
                <p><%= flashcard.question %></p>
                
            </div>
            <div class="flip-card-back easy">
                <p><%= flashcard.answer %></p>
            </div>
        </div>
    </div>
    <% }); %>
</div>