
<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <div class="row">
            <div class="col-10">
                <a href="/dashboard/wall">YourSpread</a>
                <a href="/academy">Academy</a>
                <a href="/business">Business</a>
                <a href="/news">News</a>
                <a href="/shopping">Shopping</a>
                <a href="/wellness">Wellness</a>
            </div>
            <div class="col-2">
                <a href="/users/logout" class="logout-button" style="padding-left: 10px; padding-right: 10px; text-shadow: 0 0 4px red; color: rgba(255, 255, 255, 0.712);">Logout</a>
            </div>
        </div>
    </div>
</div>

<h1>Full Post</h1>
<a href="/users/<%= postAuthor.id %>">Go Back</a>

<div class="full-page-post-container">

    <h3><%= postAuthor.fname %> <%= postAuthor.lname %></h3>
    <small><%= thisPost.createdAt.toLocaleDateString()%> - <%= thisPost.createdAt.toLocaleTimeString('en-US') %></small>
    <hr>
    <p><%= thisPost.postBody %></p>

</div>