<style>
    .page-title {
        padding-top: 20px;
        text-align: center;
        width: 100%;
    }
    .main-header-page-menu-container {
        padding: 10px;
        background: rgba(255, 255, 255, 0.308);
        backdrop-filter: blur(2px);
        border-radius: 12px;
        border: groove 1px rgba(135, 206, 250, 0.555);
        
    }
    .main-header-page-menu-inner {
        padding: 10px;
    }
    .main-header-page-menu-inner a {
        display: inline-flex;
        padding: 10px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.733);
        transition: ease-in 0.4s;
        background: rgba(135, 206, 250, 0.315);
        backdrop-filter: blur(4px);
        border-radius: 8px;
        text-align: center;
    }
    .main-header-page-menu-inner a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 3px lightskyblue;
        transition: ease-in 0.2s;
    }

    @media screen and (max-width: 500px) {
        .main-header-page-menu-container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            box-shadow: inset 0 0 4px black;
            background: rgba(0, 0, 0, 0.3);
        }
        .main-header-page-menu-container p {
            margin: 0 auto;
            color: rgba(255, 255, 255, 0.76);
            text-align: center;
            font-size: 0.6rem;
            
        }
        .main-header-page-menu-inner a {
            border-top: groove 2px lightskyblue;
            border-bottom: groove 2px lightskyblue;
            text-align: center;
            background: rgba(255, 255, 255, 0.3);
        }
        #mainHeaderPageMenu {
            width: 100%;
            position: relative;

        }

        .main-header-page-menu-inner {
            display: inline-flex;
            max-width: 100%;
            min-width: 100%;
            overflow-x: scroll;
            padding: 10px;
            width: 100%;
        }
        .main-header-page-menu-inner a {
            position: relative;
            padding: 10px;
            width: 150px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            text-align: center;
        }

        .current-inventory th {
            text-align: center;
        }
        .inventory-item {
            padding-top: 20px;
        }
        .inventory-item h2 {
            color: lightskyblue;
            text-align: center;
        }
        .inventory-item p {
            color: #fff;
        }
    }
</style>
<%- include('partials/mainHeaderSiteMenu') %>
<div class="page-title">
    <h1><%= currentPageTitle %></h1>
</div>
<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenuu">
        <div class="main-header-page-menu-inner">
            <a href="/business/your-desk">Your Desk</a>
            <a href="/business/<%= company.id %>/inventory">Inventory</a>
        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>

<div class="inventory-item">
    <h2><%= companyInventory.name %></h2>
    <p>SKU#: <%= companyInventory.sku %></p>
    <p>Description: <%= companyInventory.description %></p>
    <p>Make: <%= companyInventory.make %></p>
    <p>Model: <%= companyInventory.model %></p>
    <p>Year: <%= companyInventory.year %></p>
    <p>Price: <%= companyInventory.price %></p>
    <p>Color 1: <%= companyInventory.color1 %></p>
    <p>Color 2: <%= companyInventory.color2 %></p>
    <p>Width: <%= companyInventory.dimensions.width %></p>
    <p>Height: <%= companyInventory.dimensions.height %></p>
    <p>Depth: <%= companyInventory.dimensions.depth %></p>
    <p>Weight: <%= companyInventory.weight %></p>
    <p>Category: <%= companyInventory.category %></p>
    <p>Supplier Main Website: <a style="color: lightskyblue" href="<%= companyInventory.supplier_website %>" target="_blank"><%= companyInventory.supplier_website %></a></p>
    <p>Product URL: <a style="color: lightskyblue" href="<%= companyInventory.product_webpage %>" target="_blank"><%= companyInventory.product_webpage %></a></p>
    <p>Total: <%= companyInventory.total %></p>
    <p>Need: <%= companyInventory.need %></p>
    
</div>