<style>
    .page-title {
        padding-top: 20px;
        text-align: center;
        width: 100%;
    }
    .main-header-page-menu-container {
        padding: 10px;
        background: rgba(255, 255, 255, 0.308);
        backdrop-filter: blur(2px);
        border-radius: 12px;
        border: groove 1px rgba(135, 206, 250, 0.555);
        
    }
    .main-header-page-menu-inner {
        padding: 10px;
    }
    .main-header-page-menu-inner a {
        display: inline-flex;
        padding: 10px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.733);
        transition: ease-in 0.4s;
        background: rgba(135, 206, 250, 0.315);
        backdrop-filter: blur(4px);
        border-radius: 8px;
        text-align: center;
    }
    .main-header-page-menu-inner a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 3px lightskyblue;
        transition: ease-in 0.2s;
    }

    @media screen and (max-width: 500px) {
        .main-header-page-menu-container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            box-shadow: inset 0 0 4px black;
            background: rgba(0, 0, 0, 0.3);
        }
        .main-header-page-menu-container p {
            margin: 0 auto;
            color: rgba(255, 255, 255, 0.76);
            text-align: center;
            font-size: 0.6rem;
            
        }
        .main-header-page-menu-inner a {
            border-top: groove 2px lightskyblue;
            border-bottom: groove 2px lightskyblue;
            text-align: center;
            background: rgba(255, 255, 255, 0.3);
        }
        #mainHeaderPageMenu {
            width: 100%;
            position: relative;

        }

        .main-header-page-menu-inner {
            display: inline-flex;
            max-width: 100%;
            min-width: 100%;
            overflow-x: scroll;
            padding: 10px;
            width: 100%;
        }
        .main-header-page-menu-inner a {
            position: relative;
            padding: 10px;
            width: 150px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            text-align: center;
        }


        .current-inventory {
            padding-top: 30px;
            margin-top: 10px;
        }
        .current-inventory thead {
            background: lightskyblue;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        .current-inventory th {
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .current-inventory th:first-of-type {
            border-top-left-radius: 8px;
        }
        .current-inventory th:last-of-type {
            border-top-right-radius: 8px;
        }
        .current-inventory td {
            border-bottom: solid 1px lightskyblue;
            color: #fff;
        }
        .add-form {
            padding: 0;
        }
        .add-form button {
            box-shadow: none;

        }
        .add-to-inventory {
            margin-top: 20px;
            border-top: groove 2px lightskyblue;
            background:rgba(255, 255, 255, 0.3);
            border-radius: 8px;
        }
        .add-to-inventory h5 {
            text-align: center;
            padding: 15px;
            padding-bottom: 5px;
        }
        .add-to-inventory button {
            width: 80%;
        margin-left: 10%;
        border: groove 2px green;
        border-bottom: none;
        outline: none;
        background: green;
        border-radius: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin-top: 10px;
        color: #fff;
        }
    }
</style>
<%- include('partials/mainHeaderSiteMenu') %>
<div class="page-title">
    <h1><%= currentPageTitle %></h1>
</div>
<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenu">
        <div class="main-header-page-menu-inner">
            <a href="/business/your-desk">Your Desk</a>
            <a href="/business/<%= company.id %>/inventory">Inventory</a>
        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>


<div class="current-inventory">
<table>
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Have</th>
        <th>Need</th>
    </thead>
    <tbody>
        <% companyInventory.forEach(function(item){ %>
            <tr>
                    <td style="width: 40%;"><a style="color: lightskyblue" href="/business/<%= company.id %>/inventory/<%= item.id %>"><%= item.name %></a></td>
                    <td style="width: 20%; text-align: center;"><%= item.price %></td>
                    <td style="width: 10%; text-align: center;"><%= item.total %></td>
                    <td style="width: 10%; text-align: center;"><%= item.need %></td>
                </tr>
            <% }) %>
            
        </tbody>
    </table>
</div>

    <div class="add-to-inventory">
        <h5>Add New Item</h5>
    <form action="/business/<%=company.id %>/inventory" method="post" class="add-form">
    <input type="text" name="name" id="itemName" placeholder="Name of Item">
    <input type="text" name="description" id="itemDescription" placeholder="Item Description">
    <input type="text" name="sku" id="itemSku" placeholder="Item SKU">
    <input type="text" name="make" id="itemMake" placeholder="Make">
    <input type="text" name="model" id="itemModel" placeholder="Model">
    <input type="text" name="year" id="itemYear" placeholder="Year">
    <input type="number" name="price" id="itemPrice" placeholder="Price Each">
    <input type="color" name="color1" id="itemColor1" placeholder="Main Color">
    <input type="color" name="color2" id="itemColor2" placeholder="Secondary Color">
    <input type="text" name="width" id="itemWidth" placeholder="Width">
    <input type="text" name="height" id="itemHeight" placeholder="Height">
    <input type="text" name="depth" id="itemDepth" placeholder="Depth">
    <input type="text" name="weight" id="itemWeight" placeholder="Weight">
    <input type="text" name="category" id="itemCategory" placeholder="Item Category">
    <input type="text" name="supplier_website" id="supplierWebsite" placeholder="Supplier Website">
    <input type="text" name="product_webpage" id="productWebpage" placeholder="Product Webpage">
    <input type="number" name="total" id="total" placeholder="Total" value="<%= companyInventory.total%>">
    <input type="number" name="need" id="need" placeholder="Need" value="<%= companyInventory.need%>">
    <button type="submit">Add to Inventory</button>
</form>
</div>


    <div class="add-to-inventory">
        <h5>Add New Store Item</h5>
    <form action="/business/<%=company.id %>/inventory/for-sale" method="post" class="add-form">
    <input type="text" name="name" id="itemName" placeholder="Name of Item">
    <input type="text" name="description" id="itemDescription" placeholder="Item Description">
    <input type="text" name="sku" id="itemSku" placeholder="Item SKU">
    <input type="text" name="make" id="itemMake" placeholder="Make">
    <input type="text" name="model" id="itemModel" placeholder="Model">
    <input type="text" name="year" id="itemYear" placeholder="Year">
    <input type="number" name="price" id="itemPrice" placeholder="Price Each">
    <input type="color" name="color1" id="itemColor1" placeholder="Main Color">
    <input type="color" name="color2" id="itemColor2" placeholder="Secondary Color">
    <input type="text" name="width" id="itemWidth" placeholder="Width">
    <input type="text" name="height" id="itemHeight" placeholder="Height">
    <input type="text" name="depth" id="itemDepth" placeholder="Depth">
    <input type="text" name="weight" id="itemWeight" placeholder="Weight">
    <input type="text" name="category" id="itemCategory" placeholder="Item Category">
    <input type="text" name="supplier_website" id="supplierWebsite" placeholder="Supplier Website">
    <input type="text" name="product_webpage" id="productWebpage" placeholder="Product Webpage">
    <input type="number" name="total" id="total" placeholder="Total" value="<%= companyInventory.total%>">
    <input type="radio" name="for_sale" checked value="true">
    <button type="submit">Add to Inventory</button>
</form>
</div>
  