<style>
    .page-title {
        padding-top: 20px;
        text-align: center;
        width: 100%;
    }
    .main-header-page-menu-container {
        padding: 10px;
        background: rgba(255, 255, 255, 0.308);
        backdrop-filter: blur(2px);
        border-radius: 12px;
        border: groove 1px rgba(135, 206, 250, 0.555);
        
    }
    .main-header-page-menu-inner {
        padding: 10px;
    }
    .main-header-page-menu-inner a {
        display: inline-flex;
        padding: 10px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.733);
        transition: ease-in 0.4s;
        background: rgba(135, 206, 250, 0.315);
        backdrop-filter: blur(4px);
        border-radius: 8px;
        text-align: center;
    }
    .main-header-page-menu-inner a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 3px lightskyblue;
        transition: ease-in 0.2s;
    }

    @media screen and (max-width: 500px) {
        .main-header-page-menu-container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            box-shadow: inset 0 0 4px black;
            background: rgba(0, 0, 0, 0.3);
        }
        .main-header-page-menu-container p {
            margin: 0 auto;
            color: rgba(255, 255, 255, 0.76);
            text-align: center;
            font-size: 0.6rem;
            
        }
        .main-header-page-menu-inner a {
            border-top: groove 2px lightskyblue;
            border-bottom: groove 2px lightskyblue;
            text-align: center;
            background: rgba(255, 255, 255, 0.3);
        }
        #mainHeaderPageMenu {
            width: 100%;
            position: relative;

        }

        .main-header-page-menu-inner {
            display: inline-flex;
            max-width: 100%;
            min-width: 100%;
            overflow-x: scroll;
            padding: 10px;
            width: 100%;
        }
        .main-header-page-menu-inner a {
            position: relative;
            padding: 10px;
            width: 150px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            text-align: center;
        }


        .current-inventory {
            padding-top: 30px;
            margin-top: 10px;
        }
        .current-inventory h5 {
            text-align: center;
            padding: 10px;
        }
        .current-inventory thead {
            background: lightskyblue;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        .current-inventory th {
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .current-inventory th:first-of-type {
            border-top-left-radius: 8px;
        }
        .current-inventory th:last-of-type {
            border-top-right-radius: 8px;
        }
        .current-inventory td {
            border-bottom: solid 1px lightskyblue;
            color: #fff;
        }
        .add-form {
            padding: 0;
        }
        .add-form button {
            box-shadow: none;

        }
        .add-to-inventory {
            background: rgba(0, 0, 0, 0.3);
            border-radius: 8px;
            border-top: groove 2px lightskyblue;
            border-bottom: groove 2px lightskyblue;
            margin-top: 20px;
        }
        .add-to-inventory h5 {
            text-align: center;
            padding: 15px;
            padding-bottom: 5px;
        }
        button {
            width: 80%;
        margin-left: 10%;
        border: groove 2px green;
        border-top: none;
        outline: none;
        background: rgba(0, 128, 0, 0.3);
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        color: #fff;
        padding: 5px;
        }
        .add-to-inventory input {
            width: 100%;
        border: none;
        outline: none;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(2px);
        color: #fff;
        padding: 5px;
        transition: ease-in 0.3s;
        }
        .add-to-inventory input:focus {
            outline: none;
            border: none;
            background: rgba(135, 206, 250, 0.3);
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
            border-top: groove 2px #fff;
            border-bottom: groove 2px #fff;
            transition: ease-in 0.3s;
        }
        .add-to-inventory textarea {
            width: 100%;
            border: none;
            margin-top: 10px;
            outline: none;
            border-top: groove 2px lightskyblue;
            border-bottom: groove 2px lightskyblue;
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(2px);
            color: #fff;
            padding: 5px;
            transition: ease-in 0.3s;
        }
        .add-to-inventory textarea:focus {
            outline: none;
            border: none;
            background: rgba(135, 206, 250, 0.3);
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
            border-top: groove 2px #fff;
            border-bottom: groove 2px #fff;
            transition: ease-in 0.3s;
        }
        .add-to-inventory input::placeholder {
            color: #fff;
        }
        .add-to-inventory textarea::placeholder {
            color: #fff;
        }
        .add-to-inventory input[type="color"] {
            min-height: 40px;
        }
        .custom-select {
  position: relative;
  font-family: Arial;
  background:rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 100%;
  padding: 0;
  border-top: groove 2px lightskyblue;
    border-bottom: groove 2px lightskyblue;
    margin-top: 10px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  transition: ease-in 0.3s;
  padding: 5px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
  transition: ease-in 0.3s;
  
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
  top: 7px;
  transition: ease-in 0.3s;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 5px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(255, 255, 255, 0.3) transparent;
  cursor: pointer;
  user-select: none;
  transition: ease-in 0.3s;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background: rgba(135, 206, 250, 0.3);
  border-bottom: groove 2px #fff;
  backdrop-filter: blur(4px);
  max-height: 310px;
  overflow-y: scroll;
  top: 100%;
  left: 5%;
  right: 5%;
  margin-top: 2px;
  z-index: 20;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: ease-in 0.3s;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
    }
</style>
<%- include('partials/mainHeaderSiteMenu') %>
<div class="page-title">
    <h1><%= currentPageTitle %></h1>
</div>
<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenu">
        <div class="main-header-page-menu-inner">
            <a href="/business/your-desk">Your Desk</a>
            <a href="/business/<%= company.id %>/inventory">Inventory</a>
        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>


<div class="current-inventory">
    <h5>Store Inventory</h5>
<table>
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Have</th>
        <th>Need</th>
    </thead>
    <tbody>
        <% companyInventory.forEach(function(item){ %>
            <% if (item.for_sale == true) { %>
            <tr>
                    <td style="width: 40%;"><a style="color: lightskyblue" href="/business/<%= company.id %>/inventory/<%= item.id %>"><%= item.name %></a></td>
                    <td style="width: 20%; text-align: center;"><%= item.price %></td>
                    <td style="width: 10%; text-align: center;"><%= item.total %></td>
                    <td style="width: 10%; text-align: center;"><%= item.need %></td>
                </tr>
            <% } else { %>
                <span style="display: none;"></span>    
            <% } %>
            <% }) %>
        </tbody>
    </table>
</div>

<div class="spread-break">
    <hr>
</div>

<div class="current-inventory">
    <h5>Company Inventory</h5>
<table>
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Have</th>
        <th>Need</th>
    </thead>
    <tbody>
        <% companyInventory.forEach(function(item){ %>
            <% if (item.for_sale == false) { %>
            <tr>
                    <td style="width: 40%;"><a style="color: lightskyblue" href="/business/<%= company.id %>/inventory/<%= item.id %>"><%= item.name %></a></td>
                    <td style="width: 20%; text-align: center;"><%= item.price %></td>
                    <td style="width: 10%; text-align: center;"><%= item.total %></td>
                    <td style="width: 10%; text-align: center;"><%= item.need %></td>
                </tr>
            <% } else { %>
                <span style="display: none;"></span>    
            <% } %>
            <% }) %>
        </tbody>
    </table>
</div>

<div class="spread-break">
    <hr>
</div>
    <div class="add-to-inventory">
        <h5>Add New Item</h5>
    <form action="/business/<%=company.id %>/inventory" method="post" class="add-form">
    <input type="text" name="name" id="itemName" placeholder="Name of Item">
    <textarea name="description" placeholder="Add a description..."></textarea>
    <input type="text" name="sku" id="itemSku" placeholder="Item SKU">
    <input type="text" name="make" id="itemMake" placeholder="Make">
    <input type="text" name="model" id="itemModel" placeholder="Model">
    <input type="text" name="year" id="itemYear" placeholder="Year">
    <input type="number" name="price" id="itemPrice" placeholder="Price Each">
    <input type="color" name="color1" id="itemColor1" placeholder="Main Color">
    <input type="color" name="color2" id="itemColor2" placeholder="Secondary Color">
    <div class="custom-select">
    <select name="meaurement_units" id="meaurementUnits">
        <option value="mm">Milimeters</option>
        <option value="cm">Centimeters</option>
        <option value="m">Meters</option>
        <option value="msq">Square Meters</option>
        <option value="mcube">Cubic Meters</option>
        <option value="in">Inches</option>
        <option value="ft">Feet</option>
        <option value="ftsq">Square Feet</option>
        <option value="yd">Yards</option>
        <option value="ydsq">Square Yards</option>
        <option value="ydcube">Cubic Yards</option>
    </select>
</div>
    <input type="text" name="width" id="itemWidth" placeholder="Width">
    <input type="text" name="height" id="itemHeight" placeholder="Height">
    <input type="text" name="depth" id="itemDepth" placeholder="Depth">
    <div class="custom-select">
    <select name="weight_units" id="weightUnits">
        <option value="g">Grams</option>
        <option value="kg">Kilograms</option>
        <option value="oz">Ounces</option>
        <option value="lbs">Pounds</option>
    </select>
</div>
    <input type="text" name="weight" id="itemWeight" placeholder="Weight">
    <input type="text" name="category" id="itemCategory" placeholder="Item Category">
    <input type="text" name="supplier_website" id="supplierWebsite" placeholder="Supplier Website">
    <input type="text" name="product_webpage" id="productWebpage" placeholder="Product Webpage">
    <input type="text" name="product_image_url" id="productImageUrl" placeholder="Product Image URL">
    <input type="number" name="total" id="total" placeholder="Total" value="<%= companyInventory.total%>">
    <input type="number" name="need" id="need" placeholder="Need" value="<%= companyInventory.need%>">
    <input type="radio" name="for_sale" checked value="false" hidden>
</div>
    <button type="submit">Add to Inventory</button>
</form>


    <div class="add-to-inventory">
        <h5>Add New Store Item</h5>
    <form action="/business/<%=company.id %>/inventory/for-sale" method="post" class="add-form">
    <input type="text" name="name" id="itemName" placeholder="Name of Item">
    <textarea name="description" placeholder="Add a description..."></textarea>
    <input type="text" name="sku" id="itemSku" placeholder="Item SKU">
    <input type="text" name="make" id="itemMake" placeholder="Make">
    <input type="text" name="model" id="itemModel" placeholder="Model">
    <input type="text" name="year" id="itemYear" placeholder="Year">
    <input type="number" name="price" id="itemPrice" placeholder="Price Each">
    <input type="color" name="color1" id="itemColor1" placeholder="Main Color">
    <input type="color" name="color2" id="itemColor2" placeholder="Secondary Color">
    <div class="custom-select">
        <select name="measurement_units" id="meaurementUnits">
            <option value="mm">Milimeters</option>
            <option value="cm">Centimeters</option>
            <option value="m">Meters</option>
            <option value="msq">Square Meters</option>
            <option value="mcube">Cubic Meters</option>
            <option value="in">Inches</option>
            <option value="ft">Feet</option>
            <option value="ftsq">Square Feet</option>
            <option value="yd">Yards</option>
            <option value="ydsq">Square Yards</option>
            <option value="ydcube">Cubic Yards</option>
        </select>
    </div>
    <input type="text" name="width" id="itemWidth" placeholder="Width">
    <input type="text" name="height" id="itemHeight" placeholder="Height">
    <input type="text" name="depth" id="itemDepth" placeholder="Depth">
    <div class="custom-select">
        <select name="weight_units" id="weightUnits">
            <option value="g">Grams</option>
            <option value="kg">Kilograms</option>
            <option value="oz">Ounces</option>
            <option value="lbs">Pounds</option>
        </select>
    </div>
    <input type="text" name="weight" id="itemWeight" placeholder="Weight">
    <input type="text" name="category" id="itemCategory" placeholder="Item Category">
    <input type="text" name="supplier_website" id="supplierWebsite" placeholder="Store Website">
    <input type="text" name="product_webpage" id="productWebpage" placeholder="Product Webpage">
    <input type="text" name="product_image_url" id="productImageUrl" placeholder="Product Image URL">
    <input type="number" name="total" id="total" placeholder="Total" value="<%= companyInventory.total%>">
    <input type="radio" name="for_sale" checked value="true" hidden>
</div>
    <button type="submit">Add to Store</button>
</form>
  

<script>
    var x, i, j, l, ll, selElmnt, a, b, c;
    /*look for any elements with the class "custom-select":*/
    x = document.getElementsByClassName("custom-select");
    l = x.length;
    for (i = 0; i < l; i++) {
      selElmnt = x[i].getElementsByTagName("select")[0];
      ll = selElmnt.length;
      /*for each element, create a new DIV that will act as the selected item:*/
      a = document.createElement("DIV");
      a.setAttribute("class", "select-selected");
      a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
      x[i].appendChild(a);
      /*for each element, create a new DIV that will contain the option list:*/
      b = document.createElement("DIV");
      b.setAttribute("class", "select-items select-hide");
      for (j = 1; j < ll; j++) {
        /*for each option in the original select element,
        create a new DIV that will act as an option item:*/
        c = document.createElement("DIV");
        c.innerHTML = selElmnt.options[j].innerHTML;
        c.addEventListener("click", function(e) {
            /*when an item is clicked, update the original select box,
            and the selected item:*/
            var y, i, k, s, h, sl, yl;
            s = this.parentNode.parentNode.getElementsByTagName("select")[0];
            sl = s.length;
            h = this.parentNode.previousSibling;
            for (i = 0; i < sl; i++) {
              if (s.options[i].innerHTML == this.innerHTML) {
                s.selectedIndex = i;
                h.innerHTML = this.innerHTML;
                y = this.parentNode.getElementsByClassName("same-as-selected");
                yl = y.length;
                for (k = 0; k < yl; k++) {
                  y[k].removeAttribute("class");
                }
                this.setAttribute("class", "same-as-selected");
                break;
              }
            }
            h.click();
        });
        b.appendChild(c);
      }
      x[i].appendChild(b);
      a.addEventListener("click", function(e) {
          /*when the select box is clicked, close any other select boxes,
          and open/close the current select box:*/
          e.stopPropagation();
          closeAllSelect(this);
          this.nextSibling.classList.toggle("select-hide");
          this.classList.toggle("select-arrow-active");
        });
    }
    function closeAllSelect(elmnt) {
      /*a function that will close all select boxes in the document,
      except the current select box:*/
      var x, y, i, xl, yl, arrNo = [];
      x = document.getElementsByClassName("select-items");
      y = document.getElementsByClassName("select-selected");
      xl = x.length;
      yl = y.length;
      for (i = 0; i < yl; i++) {
        if (elmnt == y[i]) {
          arrNo.push(i)
        } else {
          y[i].classList.remove("select-arrow-active");
        }
      }
      for (i = 0; i < xl; i++) {
        if (arrNo.indexOf(i)) {
          x[i].classList.add("select-hide");
        }
      }
    }
    /*if the user clicks anywhere outside the select box,
    then close all select boxes:*/
    document.addEventListener("click", closeAllSelect);
    </script>