<style>
    .page-title {
        padding-top: 20px;
        text-align: center;
        width: 100%;
    }
    .main-header-page-menu-container {
        padding: 10px;
        background: rgba(255, 255, 255, 0.308);
        backdrop-filter: blur(2px);
        border-radius: 12px;
        border: groove 1px rgba(135, 206, 250, 0.555);
        
    }
    .main-header-page-menu-inner {
        padding: 10px;
    }
    .main-header-page-menu-inner a {
        display: inline-flex;
        padding: 10px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.733);
        transition: ease-in 0.4s;
        background: rgba(135, 206, 250, 0.315);
        backdrop-filter: blur(4px);
        border-radius: 8px;
        text-align: center;
    }
    .main-header-page-menu-inner a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 3px lightskyblue;
        transition: ease-in 0.2s;
    }

    @media screen and (max-width: 500px) {
        .main-header-page-menu-container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            box-shadow: inset 0 0 4px black;
        }
        .main-header-page-menu-container p {
            margin: 0 auto;
            color: rgba(255, 255, 255, 0.76);
            text-align: center;
            font-size: 0.6rem;
        }
        .main-header-page-menu-inner a {
            text-align: center;
        }
        
        #mainHeaderPageMenu {
            width: 100%;
            position: relative;

        }

        .main-header-page-menu-inner {
            display: inline-flex;
            max-width: 100%;
            min-width: 100%;
            overflow-x: scroll;
            padding: 10px;
            width: 100%;
        }
        .main-header-page-menu-inner a {
            position: relative;
            padding: 10px;
            width: 150px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            text-align: center;
        }
    }
</style>
<%- include('partials/mainHeaderSiteMenu') %>
<div class="page-title">
    <h1><%= currentPageTitle %></h1>
</div>
<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenuu">
        <div class="main-header-page-menu-inner">
            <a href="/business">Business Home</a>
            <a href="/business/your-desk">Your Desk</a>
        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>


<div class="current-inventory">
<table>
    <thead>
        <th>Name</th>
        <th>SKU</th>
        <th>Price</th>
        <th>Dimensions (WxHxD)</th>
        <th></th>
    </thead>
    <tbody>
        <% companyInventory.forEach(function(item){ %>
            <td><%= item.name %></td>
            <td><%= item.sku %></td>
            <td><%= item.price %></td>
            <td><%= item.dimensions.width %>x<%= item.dimensions.height %>x<%= item.dimensions.depth %></td>
            <% }) %>
            
        </tbody>
    </table>
</div>

    
    <form action="/business/<%=company.id %>/inventory" method="post" class="add-form">
    <input type="text" name="name" id="itemName" placeholder="Name of Item">
    <input type="text" name="description" id="itemDescription" placeholder="Item Description">
    <input type="text" name="sku" id="itemSku" placeholder="Item SKU">
    <input type="text" name="make" id="itemMake" placeholder="Make">
    <input type="text" name="model" id="itemModel" placeholder="Model">
    <input type="text" name="year" id="itemYear" placeholder="Year">
    <input type="number" name="price" id="itemPrice" placeholder="Price Each">
    <input type="color" name="color1" id="itemColor1" placeholder="Main Color">
    <input type="color" name="color2" id="itemColor2" placeholder="Secondary Color">
    <input type="text" name="width" id="itemWidth" placeholder="Width">
    <input type="text" name="height" id="itemHeight" placeholder="Height">
    <input type="text" name="depth" id="itemDepth" placeholder="Depth">
    <input type="text" name="weight" id="itemWeight" placeholder="Weight">
    <input type="text" name="category" id="itemCategory" placeholder="Item Category">
    <button type="submit">Add to Inventory</button>
</form>