
<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <div class="row">
            <div class="col-10">
                <a href="/dashboard/wall">YourSpread</a>
                <a href="/academy">Academy</a>
                <a href="/business">Business</a>
                <a href="/news">News</a>
                <a href="/shopping">Shopping</a>
                <a href="/wellness">Wellness</a>
            </div>
            <div class="col-2">
                <a href="/users/logout" class="logout-button" style="padding-left: 10px; padding-right: 10px; text-shadow: 0 0 4px red; color: rgba(255, 255, 255, 0.712);">Logout</a>
            </div>
        </div>
    </div>
</div>

<h1><%= currentPageTitle %></h1>
<h2><%=company.id %></h2>
<p><%=company.inventory %></p>
<p><%= company.inventoryData %></p>



<form action="/business/<%=company.id %>/inventory" method="post" class="add-form">
    <input type="text" name="name" id="itemName" placeholder="Name of Item">
    <input type="text" name="description" id="itemDescription" placeholder="Item Description">
    <input type="text" name="sku" id="itemSku" placeholder="Item SKU">
    <input type="text" name="make" id="itemMake" placeholder="Make">
    <input type="text" name="model" id="itemModel" placeholder="Model">
    <input type="text" name="year" id="itemYear" placeholder="Year">
    <input type="number" name="price" id="itemPrice" placeholder="Price Each">
    <input type="color" name="color1" id="itemColor1" placeholder="Main Color">
    <input type="color" name="color2" id="itemColor2" placeholder="Secondary Color">
    <input type="text" name="width" id="itemWidth" placeholder="Width">
    <input type="text" name="height" id="itemHeight" placeholder="Height">
    <input type="text" name="depth" id="itemDepth" placeholder="Depth">
    <input type="text" name="weight" id="itemWeight" placeholder="Weight">
    <input type="text" name="category" id="itemCategory" placeholder="Item Category">
    <button type="submit">Add to Inventory</button>
</form>