<style>
    .main-header-page-menu-container {
        padding: 10px;
        background: rgba(255, 255, 255, 0.308);
        backdrop-filter: blur(2px);
        border-radius: 12px;
        border: groove 1px rgba(135, 206, 250, 0.555);
        
    }
    .main-header-page-menu-inner {
        padding: 10px;
    }
    .main-header-page-menu-inner a {
        display: inline-flex;
        padding: 10px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.733);
        transition: ease-in 0.4s;
        background: rgba(135, 206, 250, 0.315);
        backdrop-filter: blur(4px);
        border-radius: 8px;
    }
    .main-header-page-menu-inner a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 3px lightskyblue;
        transition: ease-in 0.2s;
    }

    @media screen and (max-width: 500px) {
        .main-header-page-menu-container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            box-shadow: inset 0 0 4px black;
            background: rgba(0, 0, 0, 0.3);
        }
        .main-header-page-menu-container p {
            margin: 0 auto;
            color: rgba(255, 255, 255, 0.76);
            text-align: center;
            font-size: 0.6rem;
            
        }
        .main-header-page-menu-inner a {
            border-top: groove 2px lightskyblue;
            border-bottom: groove 2px lightskyblue;
            text-align: center;
            background: rgba(255, 255, 255, 0.3);
        }
        #mainHeaderPageMenu {
            width: 100%;
            position: relative;

        }

        .main-header-page-menu-inner {
            display: inline-flex;
            max-width: 100%;
            min-width: 100%;
            overflow-x: scroll;
            padding: 10px;
            width: 100%;
        }
        .main-header-page-menu-inner a {
            position: relative;
            padding: 10px;
            width: 150px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            text-align: center;
        }

        .choose-country-form {
            padding: 10px;
        }
        .choose-country-form select {
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 8px;
            outline: none;
            color: lightskyblue;
            background: #000;
            border: none;
            box-shadow:  0 0 4px lightskyblue;
        }
        .choose-country-form button {
            width: 100%;
            border-radius: 8px;
            padding: 10px;
            border: none;
            outline: none;
            border-top: groove 2px green;
            border-bottom: groove 2px green;
            text-align: center;
            color: #fff;
            background: rgba(0, 128, 0, 0.3);
        }
        .results-total {
            text-align: center;
            margin-top: 20px;
        }
        .article {
            position: relative;
            width: 100%;
            min-height: 350px;
            margin-bottom: 20px;
        }
        .article-image {
            position: relative;
            z-index: 80;
            text-align: center;
            width: 100%;
            height: 100%;
            min-height: 150px;
            top: 0;
            left: 0;
            z-index: 1;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
        }
        .article-image img {
            border-radius: 12px;
            max-width: 100%;
        }
        .article-header {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 2;
            background: rgba(0, 0, 0, 0.253);
            backdrop-filter: blur(2px);
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 5px;
            border-top: groove 2px lightskyblue;
            text-shadow: 0 0 2px #000;
        }
        .article-info {
            position: relative;
            z-index: 3;
            width: 90%;
            margin-left: 5%;
            text-align: center;
            background: rgba(0, 0, 0, 0.253);
            backdrop-filter: blur(2px);
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding-bottom: 10px;
            border-bottom: groove 2px lightskyblue;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        }
        .article-info p {
            padding: 10px;
            padding-top: 0;
            color: #fff;
        }
        .article-time {
            padding: 10px;
            padding-bottom: 0;
            color: lightskyblue;
        }
        .article-info p {
            padding-bottom: 0;
        }
        .article-info small {
            color: lightskyblue;
        }
    }
</style>
<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenuu">
        <div class="main-header-page-menu-inner">
            <a href="/news/local">Local</a>
            <a href="/news/national">National</a>
            <a href="/news/international">International</a>
            <a href="/news/business">Business</a>
            <a href="/news/health">Health</a>
            <a href="/news/technology">Technology</a>
            <a href="/news/politics">Politics</a>
            <a href="/news/newsmax">Newsmax</a>
            <a href="/news/events">Events</a>
        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>

<div class="news-outlet-container">
<h1>International News</h1>
</div>


<div class="choose-country-form">

    <form action="/news/international" method="POST">
        <select name="country" id="country">
            <option value="us">U.S.</option>
            <option value="de">Germany</option>
            <option value="ae">United Arab Emirates</option>
            <option value="gb">United Kingdom</option>
            <option value="hk">Hong Kong</option>
            <option value="cn">China</option>
            <option value="in">India</option>
            <option value="jp">Japan</option>
            <option value="ca">Canada</option>
            <option value="ph">Philippines</option>
            <option value="tw">Taiwan</option>
        </select>
        <button type="submit">Change Country</button>
    </form>
</div>
<div class="results-total">
    <h3><%= country %></h3>
    <h5>Total Results: <%= response.totalResults %></h5>
</div>
<div class="news-articles">

    <% response.articles.forEach(function(article){ %>
        <div class="article">
            <div class="article-image">
                <img src="<%= article.urlToImage %>" alt="">

                <div class="article-header">
                    <a href="<%= article.url %>" target="_blank"><h6><%= article.title %></h6> </a>
                </div>
            </div>
            <div class="">
                <div class="article-info">
                    <div class="article-time"><p><small><%= article.publishedAt %></small></p></div>
                    <p><%= article.description %></p>
                </div>
            </div>
        </div>
        
        <% }); %>
    </div>





