<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<style>
input {position: absolute; display: none}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu {
  margin: 0 auto;
  position: absolute;
  top: 5%;
  right: 15%;
  margin-top: 0;
  z-index: 2001;
}
.btn::after {
    transform: translateX(-75px) translateY(75px);
}
.btn {
    z-index: 2002;
  width: 40px;
  max-width: 40px;
  height: 40px;
  max-height: 40px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  background: rgba(135, 206, 250, 0.3);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 2px lightskyblue;
}

.material-icons.md-36 { 
    font-size: 18px;
    color: #fff;

}

.btn {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn:not(:first-child) {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: -2;
  transform: translateX(-85px) translateY(85px);
  -webkit-transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
  transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
}
.btn button {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.btn i {
    color: #fff;
    font-size: 1.2rem;
}
.btn i::before {
}
.btn:nth-child(2) {top:0px;-webkit-transition-delay: 0s;transition-delay: 0s}
.btn:nth-child(3) {top:0px;left:0px;-webkit-transition-delay: 0.1s;transition-delay: 0.1s}
.btn:nth-child(4) {left:0px;;-webkit-transition-delay: 0.2s;;transition-delay: 0.2s}
.btn:nth-child(5) {top:0px;left:0px;-webkit-transition-delay: 0.3s;transition-delay: 0.3s}
.btn:nth-child(6) {top:0px;-webkit-transition-delay: 0.4s;transition-delay: 0.4s}
.btn:nth-child(7) {top:0px;left:0px;-webkit-transition-delay: 0.5s;transition-delay: 0.5s}
.btn:nth-child(8) {left:0px;-webkit-transition-delay: 0.6s;transition-delay: 0.6s}
.btn:nth-child(9) {top:0px;left:0px;-webkit-transition-delay: 0.7s;transition-delay: 0.7s}

input.toggle:checked ~ #show-menu .btn:nth-child(2) {
  top:-70px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input.toggle:checked ~ #show-menu .btn:nth-child(3) {
  top:-40px;left:50px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input.toggle:checked ~ #show-menu .btn:nth-child(4) {
  left:70px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input.toggle:checked ~ #show-menu .btn:nth-child(5) {
  top :50px;left:50px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input.toggle:checked ~ #show-menu .btn:nth-child(6) {
  top:70px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input.toggle:checked ~ #show-menu .btn:nth-child(7) {
  top:50px;left:-50px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input.toggle:checked ~ #show-menu .btn:nth-child(8) {
  left:-70px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input.toggle:checked ~ #show-menu .btn:nth-child(9) {
  top:-40px;left:-50px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menuBtn, .closeBtn {
  position: absolute;
  transition: all 0.3s ease;
}

.closeBtn {
  transform: translateY(50px);
  opacity: 0;
}

input.toggle:checked ~ #show-menu .btn .menuBtn {
  transform: translateY(-50px);
  opacity: 0;
}

input.toggle:checked ~ #show-menu .btn .closeBtn {
  transform: translateY(0px);
  opacity: 1;
}
    .page-title h1 {
        text-align: center;
        padding: 20px;
    }
    .image-container {
        position: absolute;
        top: 300px;
        left: 0;
        overflow-y: scroll;
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
        
    }
    
    .image-container h5 {
        text-align: center;
        padding: 10px;
        padding-bottom: 0;
    }
    .image-container h6 {
        text-align: center;
    }
    .image {
        position: relative;
        width: 100vw;
        left: 0;
        height: auto;
    }
    .image img {
        z-index: 1;
        width: 100%;
    }
    .image-location {
        top: 0;
        left: 0;
        position: absolute;
        z-index: 2;
        text-align: left;
        padding: 5px;
        color: #fff;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        border-bottom: groove 1px lightskyblue;
        box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        display: inline-flex;
    }
    
    .artist-name {
        width: 90%;
    }
    .artist-link {
        width: 100%;
    }
    .artist-link a {
        text-align: center;
        padding-left: 15px;
        font-size: 0.8rem;
        text-shadow: 0 0 2px  rgba(135, 206, 250, 0.75);
        color: rgba(255, 255, 255, 0.25);
    }
    .image-location h5 {
        text-align: left;
        margin: 0;
    }
    .image-location p {
        width: 100%;
        text-align: left;
    }
    .location {
        max-width: 70%;
        padding: 10px;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
    .location p{
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
    .image-location a {
        color: #fff;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    }
    .image-links {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background:rgba(0, 0, 0, 0.3);
        border-top: groove 1px lightskyblue;
        box-shadow: 0 -2px 2px 1px rgba(0, 0, 0, 0.3);
    }
    .image-links p {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
        
    }
    .image-links a {
        color: lightskyblue;
    }
    .spread-menu {

    }
    .search-engines {
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 5px;
    border-top: groove 2px lightskyblue;
    border-bottom: groove 2px lightskyblue;
    margin-bottom: 15px;
}
.search-engines a {
    color: lightskyblue;
}
.search-engines p {
    color: lightskyblue;
    margin-bottom: 0;
}
</style>

<div class="page-title">
    <h3>PhotoSpread</h3>
</div>
<div class="search-engines">
    <p><a href="/socialspread/photospread/pexels">Pexels</a></p>
</div>
<div class="search-engines">
    <p><a href="/socialspread/photospread/pixabay">Pixabay</a></p>
</div>
<div class="image-container">
    <h5>Newest Images</h5>
    <% returnedData.forEach(function(data) { %>
        <div class="image">
            <img src="<%= data.urls.small %>" alt="">
            <div class="image-location">
                <div class="artist-name">
                    <h5><%= data.user.name %></h5>
                    <% if (data.user.location) { %>
                        <div class="location">
                            <p><%= data.user.location %></p>
                        </div>
                        <% } else { %>
                            <span style="display: none;"></span>
                    <% } %>
                    <div class="artist-link">
                        <a href="https://instagram.com/<%= data.user.instagram_username %>"><i class="fab fa-instagram"></i><%= data.user.instagram_username %></a>
                    </div>

                </div>
                <div class="spread-menu">
                    <div class="menu">
    <input type="checkbox" id="<%= data.id %>" class="toggle"/>
    <label id="show-menu" for="<%= data.id %>">
      <div class="btn">
        <i class="fas fa-project-diagram toggleBtn menuBtn"></i>
        <i class="material-icons md-36 toggleBtn closeBtn">close</i>
      </div>
      <div class="btn" title="Make your background image - Dashboard & Public Profile">
          <form action="/users/change-main-background-image-url?_method=PATCH" method="post">
            <input type="text" name="bgImage" value="<%= data.urls.full %>">
            <button type="submit"><i class="far fa-image"></i></button>
        </form>
      </div>
      <div class="btn" title="Like this">
        <i class="far fa-heart"></i>
      </div>
      <div class="btn" title="Share this">
        <form action="/users/share-image-url" method="post">
            <input type="text" name="shareImageURL" value="<%= data.urls.full %>" hidden>
            <button type="submit"><i class="fas fa-share-alt"></i></button>
        </form>
      </div>
        <i class="fas fa-share-alt"></i>
      <div class="btn" title="Comment on this">
        <i class="far fa-comment-alt"></i>
      </div>
      <div class="btn" title="Save this">
        <i class="far fa-save"></i>
      </div>
      <div class="btn" title="Add this">
        <i class="fas fa-plus"></i>
      </div>
      <div class="btn" title="Find more near this location">
        <i class="fas fa-search-location"></i>
      </div>
      <div class="btn" title="More Information">
        <i class="fas fa-info"></i>
      </div>
    </label>
  </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>