
<div class="jumbotron mt-4">
    <div class="row name-header">
        <h1 style="color: lightskyblue;" class="mb-3"><%= profile.fname %> <%= profile.lname %></h1>

    </div>
    <div class="row user-header">

        <div class="row info-header">
            <div class="col-5" style="padding: 20px;">
            <p class="lead mb-3"><i style="margin-right: 10px;;" class="far fa-envelope"></i><a href="mailto:<%= profile.email %>"><%= profile.email %></a></p>
            <p class="lead mb-3"><i style="margin-right: 10px;" class="fas fa-phone"></i><a href="tel:<%= profile.phone1 %>"><%= profile.phone1 %></a></p>
        </div>
        <div class="col-5" style="padding: 20px;">
            <p class="lead mb-3"><%= profile.town %>, <%= profile.state %> - <%= profile.country %></p>
            <p class="lead mb-3"> Age: <%= profile.age %></p>
            <p class="lead mb-3"> <%= profile.gender %></p>
            
        </div>
        <div class="col-2" style="display: flex; flex-direction: row; align-items: center; padding-top: 20px">
            <form action="/users/<%= profile._id %>/add-friend" method="POST">
                <input type="text" name="friends" value="<%= profile._id %>" style="display: none;">
                <input class="btn btn-success add-friend" type="submit" value="Add Friend" style="margin-bottom: 30px;">
            </form>
        </div>
    </div>
    <div class="row spread-container">
        <div class="col-4 spread-container-sub" style="background: #eee;">
            <h3 style="text-align: center; padding: 20px;">About <%= profile.fname %></h3>
            <p><%= profile.about %></p>
        </div>
        <div class="col-4 spread-container-sub" style="background: #eee;">
            <h3 style="text-align: center; padding: 20px;"><%= profile.fname %>'s Social Life</h3>
            <div class="list-item">
                <img src="/images/system/instagram_1a1a1a.png" alt="Instagram" width="25px" height="25px">
                <a href="<%= profile.social.instagram %>" target="_blank"><%= profile.social.instagram %></a>
            </div>
            <div class="list-item">
                <img src="/images/system/facebook_1a1a1a.png" alt="Facebook" width="25px" height="25px">
                <a href="<%= profile.social.facebook %>" target="_blank"><%= profile.social.facebook %></a>
            </div>
            <div class="list-item">
                <img src="/images/system/twitter_1a1a1a.png" alt="Twitter" width="25px" height="25px">
                <a href="<%= profile.social.twitter %>" target="_blank"><%= profile.social.twitter %></a>
            </div>
        </div>
        <div class="col-4 spread-container-sub" style="background: #eee;">
            <h3 style="text-align: center; padding: 20px;"><%= profile.fname %>'s Work Life</h3>
            <div class="list-item">
                <img src="/images/system/github_1a1a1a.png" alt="Github" width="25px" height="25px">
                <a href="<%= profile.social.github %>" target="_blank"><%= profile.social.github %></a>
            </div>
            <div class="list-item">
                <img src="/images/system/linkedin_1a1a1a.png" alt="LinkedIn" width="25px" height="25px">
                <a href="<%= profile.social.linkedin %>" target="_blank"><%= profile.social.linkedin %></a>
            </div>
        </div>
    </div>
    
</div>
    
    <hr class="my-4">
    <div class="outer_cont_container">
        <div class="cont_container">
            <div class="cont_inner_container">
        <% profile.friends.forEach(function(friend){ %>
                <div id="userCard_<%=friend.id %>" class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="/images/system/default-user_1a1a1a.png" alt="Default User Image">
                            <h3><%= friend.fname %> <%= friend.lname %></h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p><%= friend.about %></p>
                            <a href="/users/<%= friend.id %>">Profile</a>
                            <div class="add-friend">
                                <form action="/users/<%= profile._id %>/add-friend" method="POST">
                                    <input type="text" name="friends" value="<%= profile._id %>" style="display: none;">
                                    <button class="" type="submit">
                                        <i class="fas fa-user-plus"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
            </div>
            </div>
    <div class="row">
        
        <!-- 
        <div class="col-5 friends">
            
                 <h5>Friend List:</h5>
            <ul>
                <% profile.friends.forEach(function(friend){ %>
                    <li style="list-style: none;">
                        <div style="padding: 10px; margin: 5px; border-radius: 10px;">
                            <div>
                                <img src="/images/system/default-user_1a1a1a.png" alt="Default User" width="50px" height="50px">
                                </i><a href="/users/<%= friend._id %>"><%= friend.fname %> <%= friend.lname %></a>
                            </div>  
                            
                        </div>
                    </li>
                    <% }); %>
                </ul>
            </div>
            -->
            <div class="row">
            <div class="col-12">
                <h5 style="text-align: center;">Top Posts</h5>
                <ul>
                    <% posts.forEach(function(post){ %>
                        <li style="list-style: none;">
                            <div class="public-post-container">
                                <div class="public-post">
                                    <img src="/images/system/default-post_1a1a1a.png" alt="Default Post" width="50px" height="50px">
                                    <small class="d-inline"><%= post.createdAt.toLocaleDateString() %> - <%= post.createdAt.toLocaleTimeString('en-US') %></small>
                                    <p><%= post.postBody %></p>
                                    <a href="/users/posts/<%= post.id %>">See More</a>
                                    <div class="post-option-bar">
                                        <i class="fas fa-copy"></i>
                                        <i class="fas fa-hashtag"></i>
                                        <i class="fas fa-plus"></i>
                                        <i class="fas fa-share-alt"></i>
                                    </div>
                                </div>  
                                
                            </div>
                        </li>
                        <% }); %>
                    </ul> 
            </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h5 style="text-align: center;">Top Articles</h5>
                    <ul>
                        <% articles.forEach(function(article){ %>
                            <li style="list-style: none;">
                                <div class="public-post-container">
                                    <div class="public-post">
                                        <img src="/images/system/default-post_1a1a1a.png" alt="Default Post" width="50px" height="50px">
                                        <small class="d-inline"><%= article.createdAt.toLocaleDateString() %> - <%= article.createdAt.toLocaleTimeString('en-US') %></small>
                                        <h3><%= article.articleTitle %></h3>
                                        <h5><%= article.articleHeader %></h5>
                                        <p><%= article.articleBody %></p>
                                        <a href="/users/articles/<%= article.id %>">See More</a>
                                        <div class="post-option-bar">
                                            <i class="fas fa-copy"></i>
                                            <i class="fas fa-hashtag"></i>
                                            <i class="fas fa-plus"></i>
                                            <i class="fas fa-share-alt"></i>
                                        </div>
                                    </div>  
                                    
                                </div>
                            </li>
                            <% }); %>
                        </ul> 
                </div>
            </div>
        </div>
    
</div>
