<style>
  @media screen and (min-width: 1200px) {
    .widespread-header {
      text-align: center;
      padding: 0;
    }
    .logo {
      margin: 0;
      width: 95%;
    }
    .logo h1 {
      margin: 0;
    }
    .create-account {
      width: 80%;
      margin-left: 10%
    }
    .create-account img {
      width: 300px;
      height: 300px;
    }
    .create-account p {
      color: #fff;
    }
    .create-account-btns {
      background: transparent;
      width: 80%;
      margin-left: 10%;
    }
    .create-account-btns h1 {
      margin-bottom: 30px;
    }
    .login-input {
      box-shadow: none;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(2px);
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(2px);
      color: #fff;
    }
    .login-input:focus {
      color: #fff;
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(2px);
    }
    .login-button {
      box-shadow: none;
      background: rgba(0, 128, 0, 0.3);
      border-top: groove 2px green;
      border-bottom: groove 2px green;
    }
    .alert-warning {
      color: #fff;
      background: rgba(255, 0, 0, 0.3);
      border: none;
      border-top: groove 2px red;
      border-bottom: groove 2px red;
      outline: none;
      border-radius: 8px;
    }
  }
</style>
<div class="inner-container" style="height: auto; margin-bottom: 30px; ">
  <div class="video-background">
    <video autoplay muted loop id="vidBackground">
        <source src="/videos/space-particles_1a1a1a.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <!-- Space Particles - Video by <a href="https://pixabay.com/users/tommyvideo-3092371/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5200">Tomislav Jakupec</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5200">Pixabay</a> -->
        <!-- Earth Particles - Video by <a href="https://pixabay.com/users/llensgraf-2065862/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=17235">Leif Lensgraf</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=17235">Pixabay</a> -->
</div>
  <div class="row mt-5">
    <div class="create-account" style="margin-top: 45px;">
        <div class="text-center">
            <div class="create-account-btns">
              <h1>
          <i class="fas fa-user-plus"></i> Register
        </h1>
        <%- include ('./partials/messages') %>
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="name" style="color: #fff"> First Name</label>
            <input
              type="name"
              id="fname"
              name="fname"
              class="form-control login-input"
              placeholder="Enter First Name"
              value="<%= typeof name != 'undefined' ? fname : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="name" style="color: #fff"> Last Name</label>
            <input
              type="name"
              id="lname"
              name="lname"
              class="form-control login-input"
              placeholder="Enter Last Name"
              value="<%= typeof name != 'undefined' ? lname : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email" style="color: #fff">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control login-input"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password" style="color: #fff">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control login-input"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password2" style="color: #fff">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control login-input"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block login-button">
            Register
          </button>
        </form>
        <p class="lead mt-4">Have An Account? <a href="/users/login" style="color: lightskyblue">Login</a></p>
      </div>
        </div>
      </div>
    </div>
  </div>