<style>
    .page-title {
        padding-top: 20px;
        text-align: center;
        width: 100%;
    }
    .main-header-page-menu-container {
        padding: 10px;
        background: rgba(255, 255, 255, 0.308);
        backdrop-filter: blur(2px);
        border-radius: 12px;
        border: groove 1px rgba(135, 206, 250, 0.555);
        
    }
    .main-header-page-menu-inner {
        padding: 10px;
    }
    .main-header-page-menu-inner a {
        display: inline-flex;
        padding: 10px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.733);
        transition: ease-in 0.4s;
        background: rgba(135, 206, 250, 0.315);
        backdrop-filter: blur(4px);
        border-radius: 8px;
        text-align: center;
    }
    .main-header-page-menu-inner a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 3px lightskyblue;
        transition: ease-in 0.2s;
    }

    @media screen and (max-width: 500px) {
        .main-header-page-menu-container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            box-shadow: inset 0 0 4px black;
            background: rgba(0, 0, 0, 0.3);
        }
        .main-header-page-menu-container p {
            margin: 0 auto;
            color: lightskyblue;
            text-align: center;
            font-size: 0.6rem;
            
        }
        .main-header-page-menu-inner a {
            border-top: groove 2px lightskyblue;
            border-bottom: groove 2px lightskyblue;
            text-align: center;
            background: rgba(255, 255, 255, 0.3);
        }
        #mainHeaderPageMenu {
            width: 100%;
            position: relative;

        }

        .main-header-page-menu-inner {
            display: inline-flex;
            max-width: 100%;
            min-width: 100%;
            overflow-x: scroll;
            padding: 10px;
            width: 100%;
        }
        .main-header-page-menu-inner a {
            position: relative;
            padding: 10px;
            width: 150px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            text-align: center;
        }
    }
</style>
<%- include('partials/mainHeaderSiteMenu') %>
<div class="page-title">
    <h1><%= currentPageTitle %></h1>
</div>
<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenuu">
        <div class="main-header-page-menu-inner">
            <a href="/business">Business Home</a>
            <a href="/business/your-desk">Your Desk</a>
        </div>
    </div>
    <p>Scroll left & right for more options</p>
</div>


<div class="resume-container">
    <div class="resume-name">
        <h1><%= resume.resume_name %></h1>
        <hr>
    </div>
<div class="resume-bio">
    <h2>Bio</h2>
   <p> <%= resume.bio %></p>
</div>
<div class="resume-objective">
    <h2>Objective</h2>
   <p> <%= resume.objective %></p>
</div>
<hr style="border-color: rgba(135, 206, 250, 0.623); margin-top: 40px; margin-bottom: 40px; width: 80%; margin-left: 10%;">
<div class="resume-education">
    <% if (resume.education) { %>
            <h2>Education</h2>
            <div style="padding: 10px; margin: 5px; border-radius: 10px;">
                <div>
                    <div class="nav-bar">
                       <h5><%= resume.education.school %></h5>
                    </div>
                    <div class="education-school-details">
                        <p>Graduated: <%= resume.education.graduated %></p>
                        <p>Major: <%= resume.education.major %></p>
                        <p>GPA: <%= resume.education.gpa %></p>
                    </div>
                </div>  
                
            </div>
        <%} else { %>
            <span></span>
            <% } %>
    </div>
<div class="resume-employment-history">
    <% if (resume.employment_history) { %>
            <h2>Employment History</h2>
            <div style="padding: 10px; margin: 5px; border-radius: 10px;">
                <div>
                    <div class="nav-bar">
                        <h5><%= resume.employment_history.company %></h5>
                    </div>
                    <div class="employment-history-details">
                        <h6><%= resume.employment_history.position %></h6>
                        <p><%= resume.employment_history.year_start %> - <%= resume.employment_history.year_end  %></p>
                        <div class="employment-history-details-reference">
                            <h5>Reference</h5>
                            <p><%= resume.employment_history.reference.fname %></p>
                            <p><%= resume.employment_history.reference.lname %></p>
                            <p><%= resume.employment_history.reference.email %></p>
                            <p><%= resume.employment_history.reference.phone %></p>
                        </div>
                    </div>
                </div>  
                
            </div>
        <%} else { %>
            <span></span>
            <% } %>
    </div>


<div class="resume-skills">
    <div class="resume-skill">
        <p><%= resume.special_skill1 %></p>
        <p><%= resume.special_skill2 %></p>
        <p><%= resume.special_skill3 %></p>
        <p><%= resume.special_skill4 %></p>
        <p><%= resume.special_skill5 %></p>
    </div>
</div>

</div>