
<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <div class="row">
            <div class="col-10">
                <a href="/dashboard/wall">YourSpread</a>
                <a href="/academy">Academy</a>
                <a href="/business">Business</a>
                <a href="/news">News</a>
                <a href="/shopping">Shopping</a>
                <a href="/wellness">Wellness</a>
            </div>
            <div class="col-2">
                <a href="/users/logout" class="logout-button" style="padding-left: 10px; padding-right: 10px; text-shadow: 0 0 4px red; color: rgba(255, 255, 255, 0.712);">Logout</a>
            </div>
        </div>
    </div>
</div>

<h1><%= currentPageTitle %></h1>
<div class="nav-bar-outer">
  <div class="nav-bar nav-bar-ws">
      <div class="row">
          <div class="col-12">
              <a href="/shopping/outdoors-camping/tents">Tents</a>
              <a href="/shopping/outdoors-camping/sleeping-bags">Sleeping Bags</a>
              <a href="/shopping/outdoors-camping/survival-tools">Survival Tools</a>
              <a href="/shopping/outdoors-camping/firearms">Firearms</a>
          </div>
      </div>
  </div>
</div>


<div class="news-articles">

    <% results.forEach(function(item){ %>
        <div class="row">
            <div class="col-4">
                <div class="item-image">
                    <img src="<%= item.itemImage %>" alt="<%= item.itemImageAlt %>">
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-6">
                <div class="article-info">
                    <h5><%= item.price %></h5>
                    <a href="https://www.ems.com<%= item.link %>" target="_blank"><h5><%= item.item %></h5> </a>
                </div>
            </div>
        </div>

        <% }); %>
    </div>

