
<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <div class="row">
            <div class="col-10">
                <a href="/dashboard/wall">YourSpread</a>
                <a href="/academy">Academy</a>
                <a href="/business">Business</a>
                <a href="/news">News</a>
                <a href="/shopping">Shopping</a>
                <a href="/wellness">Wellness</a>
            </div>
            <div class="col-2">
                <a href="/users/logout" class="logout-button" style="padding-left: 10px; padding-right: 10px; text-shadow: 0 0 4px red; color: rgba(255, 255, 255, 0.712);">Logout</a>
            </div>
        </div>
    </div>
</div>

<h1><%= currentPageTitle %></h1>
<div class="social-tunnel">
    <h2>SocialTunnel</h2>
    
    <% profile.friends.forEach(function(friend){ %>
        <div style="padding: 7px;">
            <div> 
                <div> 
                    <p><%= friend.fname %> <%= friend.lname %></p>
                    <p><%= friend %></p>
                    <p><%= friend.about %></p>

                    <% profile.friends.forEach(function(friendSub){ %>
                    <h3 style="background: purple; color: #fff"><%= friendSub.fname %> <%= friendSub.lname %></h3>
                    <% friendSub.friends.forEach(function(friendSubSub){ %>
                        <p style="background: blue; color: #fff"><%= friendSubSub.fname %></p>
                        <% }); %>
                        <% }); %>
                    <hr>
                </div> 
            </div> 
            
        </div>
        <% }); %>
        
    </div>