<style>
    .spread-break hr {
    background: lightskyblue;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.534);
    width: 80%;
    margin-left: 10%;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
}

    .page-title {
        text-align: center;
        padding: 20px;
        padding-bottom: 0;
    }

    .main-header-page-menu-container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px;
    }
    .main-header-page-menu-container p {
        margin: 0 auto;
        color: rgba(255, 255, 255, 0.76);
        text-align: center;
        font-size: 0.6rem;
        color: lightskyblue;
    }
    .main-header-page-menu-inner a {
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        text-align: center;
        background: rgba(255, 255, 255, 0.3);
    }
    #mainHeaderPageMenu {
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        position: relative;
        border-left: 1px groove lightskyblue;
        border-right: 1px groove lightskyblue;
        border-radius: 8px;
    }

    .main-header-page-menu-inner {
        display: inline-flex;
        max-width: 100%;
        min-width: 100%;
        overflow-x: scroll;
        padding: 10px;
        width: 100%;
    }
    .main-header-page-menu-inner a {
        position: relative;
        padding: 10px;
        width: 150px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 8px;
        color: #fff;
    }

    .spread-break hr {
background: lightskyblue;
box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.534);
width: 80%;
margin-left: 10%;
border-radius: 50%;
margin-top: 40px;
margin-bottom: 30px;
}

    .edit-page-container {
    }
    .edit-page {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 8px;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
    }
    .edit-page h5 {
        text-align: center;
        padding: 10px;
    }
    .edit-page p {
        text-align: center;
        padding: 0;
        margin-top: 10px;
        font-size: 1rem;
        color: #fff;
    }
    .edit-page input {
        width: 90%;
        margin-left: 5%;
        border-radius: 8px;
        padding: 5px;
        outline: none;
        border: none;
    }
    .edit-page textarea {
        width: 90%;
        margin-left: 5%;
        border-radius: 8px;
        padding: 5px;
        outline: none;
        border: none;
    }
    .edit-page button {
        width: 80%;
        margin-left: 10%;
        background: green;
        border: groove 2px green;
        border-bottom: none;
        outline: none;
        color: #fff;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin-top: 10px;
    }
    .subpage-images {
        width: 100%;
        display: inline-flex;
        overflow-x: scroll;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        border-left: groove 1px lightskyblue;
        border-right: groove 1px lightskyblue;
        padding: 20px;
    }
    .subpage-image {
        max-width: 200px;
        max-height: 400px;
        border-radius: 8px;
        padding: 5px;
        background:rgba(255, 255, 255, 0.3)
    }
    .subpage-image img {
        width: 100%;
        max-width: 100%;
    }
    .add-subpage-image {
        display: inline-flex;
        width: 90%;
        margin-left: 5%;
        margin-top: 20px;
        padding-top: 10px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 8px;
    }
    .add-subpage-image input {
        width: 90%;
        margin-left: 5%;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        padding: 5px;
        border-radius: 8px;
    }
    .add-subpage-image button {
        width: 80%;
        margin-left: 10%;
        border: groove 2px green;
        border-bottom: none;
        outline: none;
        background: green;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin-top: 10px;
        color: #fff;
    }
</style>

<div class="page-title">
    <h1>Edit Subpage</h1>
</div>

<div class="spread-break">
    <hr>
</div>
<div class="edit-page-container">

<div class="edit-page">
    <h5><%= subpage.page_name %></h5>
    <form action="/business/<%= company.id %>/<%= subpage.id %>/edit?_method=PATCH" method="post">
        <p>Page Name</p>
        <input type="text" name="page_name" value="<%= subpage.page_name %>">
        <p>Page Type</p>
        <input type="text" name="page_type" value="<%= subpage.page_type %>">
        <p>Header 1</p>
        <input type="text" name="page_body.page_header1" value="<%= subpage.page_body.page_header1 %>">
        <p>Body 1</p>
        <textarea name="page_body.page_body1" value="<%= subpage.page_body.page_body1 %>"></textarea>
        <p>Header 2</p>
        <input type="text" name="page_body.page_header2" value="<%= subpage.page_body.page_header2 %>">
        <p>Body 2</p>
        <textarea name="page_body.page_body2" value="<%= subpage.page_body.page_body2 %>"></textarea>
        <p>Header 3</p>
        <input type="text" name="page_body.page_header3" value="<%= subpage.page_body.page_header3 %>">
        <p>Body 3</p>
        <textarea name="page_body.page_body3" value="<%= subpage.page_body.page_body3 %>"></textarea>
        <button type="submit">Update</button>
    </form>
</div>

<div class="add-subpage-image">
    <form action="/upload-subpage/<%= subpage.id %>/subpage-upload" method="post" enctype="multipart/form-data">
        <input type="text" name="companyId" value="<%= company.id %>">
        <input type="file" name="subpage_image">
        <button type="submit">Add</button>
    </form>
</div>


</div>