<style>
    @media screen and (max-width: 500px) {
    .page-title h1 {
        text-align: center;
    }
    .main-header-page-menu-container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px;
    }
    .main-header-page-menu-container p {
        margin: 0 auto;
        color: rgba(255, 255, 255, 0.76);
        text-align: center;
        font-size: 0.6rem;
        color: lightskyblue;
    }
    .main-header-page-menu-inner a {
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        text-align: center;
        background: rgba(255, 255, 255, 0.3);
    }
    #mainHeaderPageMenu {
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        position: relative;
        border-left: 1px groove lightskyblue;
        border-right: 1px groove lightskyblue;
        border-radius: 8px;
    }

    .main-header-page-menu-inner {
        display: inline-flex;
        max-width: 100%;
        min-width: 100%;
        overflow-x: scroll;
        padding: 10px;
        width: 100%;
    }
    .main-header-page-menu-inner a {
        position: relative;
        padding: 10px;
        width: 150px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 8px;
        color: #fff;
    }

    .spread-break hr {
background: lightskyblue;
box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.534);
width: 80%;
margin-left: 10%;
border-radius: 50%;
margin-top: 40px;
margin-bottom: 30px;
}

.back-home {
    padding: 10px;
}
.back-home h5 {
    text-align: center;
}
.shopping-container {
    width: 100%;
}
.shopping-container h5 {
    text-align: center;
    padding: 20px;
}
}
.article {
            position: relative;
            width: 100%;
            min-height: 200px;
            margin-bottom: 20px;
        }
        .article-image {
            position: relative;
            z-index: 80;
            text-align: center;
            width: 100%;
            height: 100%;
            min-height: 150px;
            top: 0;
            left: 0;
            z-index: 1;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
        }
        .article-image img {
            border-radius: 8px;
            max-width: 100%;
            width: 100%;
        }
        .article-header {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 2;
            background: rgba(0, 0, 0, 0.253);
            backdrop-filter: blur(2px);
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 5px;
            border-top: groove 2px lightskyblue;
            text-shadow: 0 0 2px #000;
        }
        .article-info {
            position: relative;
            z-index: 3;
            width: 90%;
            margin-left: 5%;
            text-align: center;
            background: rgba(0, 0, 0, 0.253);
            backdrop-filter: blur(2px);
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding-bottom: 10px;
            border-bottom: groove 2px lightskyblue;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        }
        .article-info p {
            padding: 10px;
            padding-top: 0;
            color: #fff;
        }
        .article-time {
            padding: 10px;
            padding-bottom: 0;
            color: lightskyblue;
        }
        .article-info p {
            padding-bottom: 0;
        }
        .article-info small {
            color: lightskyblue;
        }
</style>
<%- include('partials/mainHeaderSiteMenu') %>
<div class="page-title">
<h1><%= currentPageTitle %></h1>
</div>

<div class="back-home">
    <a href="/wellness"><h5>Go Back to Wellness Home</h5></a>
</div>

<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenu">
        <div class="main-header-page-menu-inner">
        <a href="/wellness/your-plans">Your Plans</a>
        <a href="/wellness/workout">Workout</a>
        <a href="/wellness/yoga">Yoga</a>
        <a href="/wellness/nutrition">Nutrition</a>
    </div>
</div>
<p>Scroll left & right for more options</p>
</div>





<div class="news-articles">

    <% results.forEach(function(article){ %>
        <div class="article">
            <div class="article-image">
                <img src="<%= article.articleImage %>" alt="">

                <div class="article-header">
                    <a href="<%= article.link %>" target="_blank"><h6><%= article.title %></h6> </a>
                </div>
            </div>
            <div class="">
                <div class="article-info">
                    <div class="article-time"><p><small><%= article.time %></small></p></div>
                    <p><%= article.newsPreview %></p>
                </div>
            </div>
        </div>
        
        <% }); %>
    </div>
