<style>
    @media screen and (max-width: 500px) {
    .page-title h1 {
        text-align: center;
    }
    .main-header-page-menu-container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px;
    }
    .main-header-page-menu-container p {
        margin: 0 auto;
        color: rgba(255, 255, 255, 0.76);
        text-align: center;
        font-size: 0.6rem;
        color: lightskyblue;
    }
    .main-header-page-menu-inner a {
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        text-align: center;
        background: rgba(255, 255, 255, 0.3);
    }
    #mainHeaderPageMenu {
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        position: relative;
        border-radius: 8px;
    }

    .main-header-page-menu-inner {
        display: inline-flex;
        max-width: 100%;
        min-width: 100%;
        overflow-x: scroll;
        padding: 10px;
        width: 100%;
    }
    .main-header-page-menu-inner a {
        position: relative;
        padding: 10px;
        width: 150px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 8px;
        color: #fff;
    }

    .spread-break hr {
background: lightskyblue;
box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.534);
width: 80%;
margin-left: 10%;
border-radius: 50%;
margin-top: 40px;
margin-bottom: 30px;
}

.back-home {
    padding: 10px;
}
.back-home h5 {
    text-align: center;
}
.shopping-container {
    width: 100%;
}
.shopping-container h5 {
    text-align: center;
    padding: 20px;
}
.tab {
  width: 100%;
  display: inline-flex;
  overflow-x: scroll;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.tabcontent {
  padding-bottom: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.tabcontent h5 {
  text-align: center;
  padding: 10px;
}
.session p {
  text-align: center;
  padding: 10px;
  width: 100%;
  border-top: groove 2px lightskyblue;
  border-bottom: groove 2px lightskyblue;
  border-radius: 8px;
  background:rgba(0, 0, 0, 0.3);
}
.session a {
  color: lightskyblue;
}
.tabcontent button {
  width: 60%;
  margin-left: 20%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: rgba(0, 128, 0, 0.3);
  border: groove 2px green;
  border-bottom: none;
  outline: none;
  color: #fff;
  padding: 10px;
}
.exercise {
  width: 100%;
  display: inline-flex;
  padding: 10px;
}
.exercise input {
  width: 10%;
}
.exercise h6 {
  width: 90%;
}
.exercise-list {
  max-height: 500px;
  overflow-y: scroll;
  margin-bottom: 20px;
  margin-top: 20px;
  border-top: groove 2px lightskyblue;
  border-bottom: groove 2px lightskyblue;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  padding-bottom: 10px;
}
.current-exercises {
  background:rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}
.current-exercises p {
  color: #fff;
  padding: 5px;
  margin-right: 5px;
  
}
.current-exercise {
  display: inline-flex;
  margin-right: 10px;
  margin-top: 10px;
  border-top: groove 2px lightskyblue;
  border-bottom: groove 2px lightskyblue;
  padding: 5px;
  background:rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  box-shadow: inset 0 0 5px rgba(135, 206, 250, 0.5);
}
.current-exercise p {
  margin-bottom: 0;
  min-width: fit-content;
  margin-bottom: 0;

}
.current-exercise button {
  background: transparent;
  line-height: 31px;
  border: none;
  outline: none;
  padding: 0;
  color: red;
  font-size: 1.2rem;
}
.remove {
  width: auto;
  line-height: 40px;
}
.remove button {
  width: 20px;
  background: none;
  border: none;
  outline: none;
  color: red;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  
}
.add-new-exercise {
  background:rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 10px;
  padding-bottom: 0;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}
.add-new-exercise h5 {
  text-align: center;
  padding: 10px;
}
.add-new-exercise input {
  width: 90%;
  border-radius: 8px;
  padding: 5px;
  margin-left: 5%;
  margin-bottom: 20px;
}
.add-new-exercise button {
  width: 80%;
  margin-left: 10%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: rgba(0, 128, 0, 0.3);
  border: groove 2px green;
  border-bottom: none;
  outline: none;
  color: #fff;
  padding: 10px;
}
}
</style>
<%- include('partials/mainHeaderSiteMenu') %>
<div class="page-title">
<h1><%= currentPageTitle %></h1>
</div>

<div class="back-home">
    <a href="/wellness"><h5>Go Back to Wellness Home</h5></a>
</div>

<div class="main-header-page-menu-container">
    <div id="mainHeaderPageMenu">
        <div class="main-header-page-menu-inner">
        <a href="/wellness/your-plans">Your Plans</a>
        <a href="/wellness/workout">Workout</a>
        <a href="/wellness/yoga">Yoga</a>
        <a href="/wellness/nutrition">Nutrition</a>
    </div>
</div>
<p>Scroll left & right for more options</p>
</div>

<p style="color: #fff; padding: 15px; background: rgba(255, 255, 0, 0.3); border-radius: 8px;"><i class="fas fa-info-circle"></i> There are only testing Exercises in the database so far. Feel free to add your own Exercise with the form at the bottom of this page.</p>

<div class="session">
  <form action="/wellness//your-plans/add-workout-schedule" method="post">
    <button type="submit">Start Your Workout Schedule</button>
  </form>
  <p><a href="/wellness/your-plans/history">Workout History</a></p>
</div>

<h2 style="text-align: center; padding: 10px;">Your Workout Schedule</h2>

<p style="color: #fff; padding: 15px;">Click on a day you'd like to populate with exercises, then add the exercises. Once you have finished with 1 day, do the same for the next day you want to work out. Repeat until you're happy with your workout schedule.</p>
<div class="tab">
  <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'sundayAdd')">Sunday</button>
  <button class="tablinks" onclick="openCity(event, 'mondayAdd')">Monday</button>
  <button class="tablinks" onclick="openCity(event, 'tuesdayAdd')">Tuesday</button>
  <button class="tablinks" onclick="openCity(event, 'wednesdayAdd')">Wednesday</button>
  <button class="tablinks" onclick="openCity(event, 'thursdayAdd')">Thursday</button>
  <button class="tablinks" onclick="openCity(event, 'fridayAdd')">Friday</button>
  <button class="tablinks" onclick="openCity(event, 'saturdayAdd')">Saturday</button>
</div>

<div id="sundayAdd" class="tabcontent">
  <h5>Sunday</h5>
  <div class="session">
    <p><a href="/wellness/your-plans/session/sunday">Start Session</a></p>
  </div>
  <div class="current-exercises">
    <% if (workoutSchedule) { %>
      <% workoutSchedule.sunday.forEach(function(exercise) { %>
        <div class="current-exercise">
          <p><%= exercise.exercise %> <!-- <span><form action="/wellness/your-plans/sunday/remove?_method=PATCH" method="post"><input type="text" name="exercise" value="<%= exercise.id %>" hidden><button type="submit"><i class="far fa-times-circle"></i></button></form></span> --></p>
        </div>
      <% }) %>  
      <% } else { %>
        <span></span>
      <% } %>
    </div>
    <div class="spread-break">
      <hr>
    </div>
    <form action="/wellness/your-plans/add/sunday?_method=PATCH" method="post">
      <div class="exercise-list">
        <% workouts.forEach(function(workout){ %>
          <div class="exercise">
            <input type="checkbox" name="sunday" value="<%= workout.id %>">
            <h6><%= workout.exercise %></h6>
          </div>
        <% }); %>
      </div>
      <button type="submit">Update Workout</button>
  </form>
</div>

<div id="mondayAdd" class="tabcontent">
  <h5>Monday</h5>
  <div class="session">
    <p><a href="/wellness/your-plans/session/monday">Start Session</a></p>
  </div>
    <div class="current-exercises">
      <% if (workoutSchedule) { %>
      <% workoutSchedule.monday.forEach(function(exercise) { %>
        <div class="current-exercise">
          <p><%= exercise.exercise %></p>
        </div>
      <% }) %>  
      <% } else { %>
        <span></span>
      <% } %>
    </div>
    <div class="spread-break">
      <hr>
    </div>
    <form action="/wellness/your-plans/add/monday?_method=PATCH" method="post">
      <div class="exercise-list">
        <% workouts.forEach(function(workout){ %>
          <div class="exercise">
            <input type="checkbox" name="monday" value="<%= workout.id %>">
            <h6><%= workout.exercise %></h6>
          </div>
        <% }); %>
      </div>
      <button type="submit">Update Workout</button>
  </form>
</div>



<div id="tuesdayAdd" class="tabcontent">
  <h5>Tuesday</h5>
  <div class="session">
    <p><a href="/wellness/your-plans/session/tuesday">Start Session</a></p>
  </div>
    <div class="current-exercises">
      <% if (workoutSchedule) { %>
      <% workoutSchedule.tuesday.forEach(function(exercise) { %>
        <div class="current-exercise">
          <p><%= exercise.exercise %></p>
        </div>
      <% }) %>  
      <% } else { %>
        <span></span>
      <% } %>
    </div>
    <div class="spread-break">
      <hr>
    </div>
    <form action="/wellness/your-plans/add/tuesday?_method=PATCH" method="post">
      <div class="exercise-list">
        <% workouts.forEach(function(workout){ %>
          <div class="exercise">
            <input type="checkbox" name="tuesday" value="<%= workout.id %>">
            <h6><%= workout.exercise %></h6>
          </div>
        <% }); %>
      </div>
      <button type="submit">Update Workout</button>
  </form>
</div>

<div id="wednesdayAdd" class="tabcontent">
  <h5>Wednesday</h5>
  <div class="session">
    <p><a href="/wellness/your-plans/session/wednesday">Start Session</a></p>
  </div>
    <div class="current-exercises">
      <% if (workoutSchedule) { %>
      <% workoutSchedule.wednesday.forEach(function(exercise) { %>
        <div class="current-exercise">
          <p><%= exercise.exercise %></p>
        </div>
      <% }) %> 
      <% } else { %>
        <span></span>
      <% } %>
    </div>
    <div class="spread-break">
      <hr>
    </div>
    <form action="/wellness/your-plans/add/wednesday?_method=PATCH" method="post">
      <div class="exercise-list">
        <% workouts.forEach(function(workout){ %>
          <div class="exercise">
            <input type="checkbox" name="wednesday" value="<%= workout.id %>">
            <h6><%= workout.exercise %></h6>
          </div>
        <% }); %>
      </div>
      <button type="submit">Update Workout</button>
  </form>
</div>

<div id="thursdayAdd" class="tabcontent">
  <h5>Thursday</h5>
  <div class="session">
    <p><a href="/wellness/your-plans/session/thursday">Start Session</a></p>
  </div>
    <div class="current-exercises">
      <% if (workoutSchedule) { %>
      <% workoutSchedule.thursday.forEach(function(exercise) { %>
        <div class="current-exercise">
          <p><%= exercise.exercise %></p>
        </div>
      <% }) %>  
      <% } else { %>
        <span></span>
      <% } %>
    </div>
    <div class="spread-break">
      <hr>
    </div>
    <form action="/wellness/your-plans/add/thursday?_method=PATCH" method="post">
      <div class="exercise-list">
        <% workouts.forEach(function(workout){ %>
          <div class="exercise">
            <input type="checkbox" name="thursday" value="<%= workout.id %>">
            <h6><%= workout.exercise %></h6>
          </div>
        <% }); %>
      </div>
      <button type="submit">Update Workout</button>
  </form>
</div>

<div id="fridayAdd" class="tabcontent">
  <h5>Friday</h5>
  <div class="session">
    <p><a href="/wellness/your-plans/session/friday">Start Session</a></p>
  </div>
    <div class="current-exercises">
      <% if (workoutSchedule) { %>
      <% workoutSchedule.friday.forEach(function(exercise) { %>
        <div class="current-exercise">
          <p><%= exercise.exercise %></p>
        </div>
      <% }) %>  
      <% } else { %>
        <span></span>
      <% } %>
    </div>
    <div class="spread-break">
      <hr>
    </div>
    <form action="/wellness/your-plans/add/friday?_method=PATCH" method="post">
      <div class="exercise-list">
        <% workouts.forEach(function(workout){ %>
          <div class="exercise">
            <input type="checkbox" name="friday" value="<%= workout.id %>">
            <h6><%= workout.exercise %></h6>
          </div>
        <% }); %>
      </div>
      <button type="submit">Update Workout</button>
  </form>
</div>

<div id="saturdayAdd" class="tabcontent">
  <h5>Saturday</h5>
  <div class="session">
    <p><a href="/wellness/your-plans/session/saturday">Start Session</a></p>
  </div>
    <div class="current-exercises">
      <% if (workoutSchedule) { %>
      <% workoutSchedule.saturday.forEach(function(exercise) { %>
        <div class="current-exercise">
          <p><%= exercise.exercise %></p>
        </div>
      <% }) %>  
      <% } else { %>
        <span></span>
      <% } %>
    </div>
    <div class="spread-break">
      <hr>
    </div>
    <form action="/wellness/your-plans/add/saturday?_method=PATCH" method="post">
      <div class="exercise-list">
        <% workouts.forEach(function(workout){ %>
          <div class="exercise">
            <input type="checkbox" name="saturday" value="<%= workout.id %>">
            <h6><%= workout.exercise %></h6>
          </div>
        <% }); %>
      </div>
      <button type="submit">Update Workout</button>
  </form>
</div>






<div class="spread-break">
    <hr>
</div>

<div class="add-new-exercise">
  <h5>Add a New Exercise</h5>
  <form action="/wellness/your-plans/exercise" method="post">
    <input required type="text" name="exercise" placeholder="Exercise name...">
    <input required type="text" name="category" placeholder="Exercise category...">
    <button type="submit">Add Exercise</button>
  </form>
</div>
<script>
  document.getElementById("defaultOpen").click();
  function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
