
<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <div class="row">
            <div class="col-10">
                <a href="/dashboard/wall">YourSpread</a>
                <a href="/academy">Academy</a>
                <a href="/business">Business</a>
                <a href="/news">News</a>
                <a href="/shopping">Shopping</a>
                <a href="/wellness">Wellness</a>
            </div>
            <div class="col-2">
                <a href="/users/logout" class="logout-button" style="padding-left: 10px; padding-right: 10px; text-shadow: 0 0 4px red; color: rgba(255, 255, 255, 0.712);">Logout</a>
            </div>
        </div>
    </div>
</div>

<div class="nav-bar-outer">
    <div class="nav-bar nav-bar-ws">
        <div class="row">
            <div class="col-12">
                <a href="/wellness/your-plans">Your Plans</a>
                <a href="/wellness/workout">Workout</a>
                <a href="/wellness/yoga">Yoga</a>
                <a href="/wellness/nutrition">Nutrution</a>
            </div>

        </div>
    </div>
</div>

<h1 style="text-align: center; margin-bottom: 30px; margin-top: 30px;"><%= currentPageTitle %></h1>

<h2>Fitness News</h2>

<div class="news-articles">

    <% results.forEach(function(article){ %>
        <div class="row">
            <div class="col-4">
                <div class="article-image">
                    <img src="<%= article.articleImage %>" alt="<%= article.articleImageAlt %>">
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-6">
                <div class="article-info">
                    <small><%= article.time %></small>
                    <a href="<%= article.link %>" target="_blank"><h5><%= article.title %></h5> </a>
                    <p><%= article.newsPreview %></p>
                </div>
            </div>
        </div>
        
        <% }); %>
    </div>
