<style>
    .your-collections-container {
        width: 90vw;
        overflow-x: scroll;
        border-left: groove 1px lightskyblue;
        border-right: groove 1px lightskyblue;
        border-radius: 8px;
        background:rgba(0, 0, 0, 0.3)
    }
    .your-collections {
        display: inline-flex;
    }
    .collection {
        width: 90vw;
        max-height: 500px;
        overflow-y: scroll;
    }
    .post-list {
        padding: 10px;
    }
    .post-list h5 {
        text-align: center;
        padding: 20px;
    }
    .post-list h6 {
        text-align: center;
    }
    .post-container p {
        color: #fff;
    }
    .movie-list {
        padding: 10px;
        text-align: center;
        margin-bottom: 10px;
    }
    .movie-list h5 {
        text-align: center;
        padding: 20px;
    }
    .movie-container {
        padding: 10px;
    }
    .movie-container p {
        padding: 10px;
        border-top: groove 2px lightskyblue;
        border-bottom: groove 2px lightskyblue;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 8px;
        text-align: center;
        box-shadow: inset 0 0 8px 5px rgba(255, 255, 255, 0.5);
    }
    .movie-container a {
        color: #fff;
    }
    .show-container {
        width: 100%;
        height: 300px;
        position: relative;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    .show-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -25;
    }
    .show-image img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
</style>
<h1 style="text-align: center; margin-bottom: 30px;">YourSpread</h1>
<p style="text-align: center; color: lightskyblue;"><small>Scroll left & right for more collections</small></p>
<div class="your-collections-container">
<div class="your-collections">
    
<!-- Saved Posts -->
    <div class="collection">
        <div class="post-list">
            <h5>Saved Posts</h5>
                <% userInfo.saved_posts.forEach(function(post) { %>
                    <div class="post-container">
                        <h6><%= post.author.fname %> <%= post.author.lname %></h6>
                        <p><%= post.postBody %></p>
                    </div>
                <% }) %>
            </div>
        </div>
            
<!-- Saved Articles -->
    <div class="collection">
        <div class="post-list">
            <h5>Saved Articles</h5>
                <% userInfo.saved_articles.forEach(function(article) { %>
                    <div class="post-container">
                        <a href="/users/articles/<%= article.id %>">
                            <h3><%= article.title %></h3>
                            <h6><%= article.header %></h6>
                        </a>
                    </div>
                <% }) %>
            </div>
        </div>
            
<!-- Movie List -->
<div class="collection">

    <div class="movie-list">
        <h5>Your Movies</h5>
        <% userInfo.movie_list.forEach(function(movie) { %>
            <div class="show-container">
                <div class="show-image">
                    <img src="<%= movie.movie_poster %>" alt="">
                </div>
                <p><a href="/entertainment/movies/<%= movie.movie_link %>"><%= movie.movie_name %></a></p>
            </div>
            <% }) %>
        </div>
    </div>
        
        
        
        
    </div>
</div>