<style>
    p {
        color: #fff;
    }

</style>

<h1><%= city.name %> Home</h1>

<% places.forEach(function(place) { %>
    <div class="place-container">
        <h5><a href="/aether/universe/<%= universe.id %>/galaxy/<%= galaxy.id %>/solar-system/<%= solarSystem.id %>/planet/<%= planet.id %>/sector/<%= sector.id %>/city/<%= city.id %>/place/<%= place.id %>"><%= place.name %></a></h5>
    </div>
<% }) %>
<div class="add-universe">
    <form action="/aether/universe/<%= universe.id %>/galaxy/<%= galaxy.id %>/solar-system/<%= solarSystem.id %>/planet/<%= planet.id %>/sector/<%= sector.id %>/city/<%= city.id %>/place/add" method="post">
        <input type="text" name="name" placeholder="Name of Place">
        <input type="number" name="dimXpos" placeholder="Dimension X Positive">
        <input type="number" name="dimXneg" placeholder="Dimension X Negative">
        <input type="number" name="dimXspeed" placeholder="Dimension X Speed">
        <input type="number" name="dimYpos" placeholder="Dimension Y Positive">
        <input type="number" name="dimYneg" placeholder="Dimension Y Negative">
        <input type="number" name="dimYspeed" placeholder="Dimension Y Speed">
        <input type="number" name="dimZpos" placeholder="Dimension Z Positive">
        <input type="number" name="dimZneg" placeholder="Dimension Z Negative">
        <input type="number" name="dimZspeed" placeholder="Dimension Z Speed">
        <input type="number" name="posX" placeholder="Position X">
        <input type="number" name="posY" placeholder="Position Y">
        <input type="number" name="posZ" placeholder="Position Z">
        <input type="number" name="time" placeholder="Age in Years">
        <select name="placeType" id="placeType">
            <option value="Commercial">Commercial</option>
            <option value="Industrial">Industrial</option>
            <option value="Residential">Residential</option>
            <option value="Agriculture">Agriculture</option>
            <option value="Medical">Medical</option>
            <option value="Security">Security</option>
            <option value="Storage">Storage</option>
            <option value="Maintenence">Maintenence</option>
            <option value="Travel">Travel</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Stadium">Stadium</option>
            <option value="Museum">Museum</option>
            <option value="Library">Library</option>
            <option value="Utility">Utility</option>
        </select>
        <input type="text" name="leader" placeholder="Place Owner">
        <button type="submit">Add Place</button>
    </form>
</div>
