<style>
    p {
        color: #fff;
    }

</style>


<% solarSystem.forEach(function(system) { %>
    <p><a href="/aether/universe/<%= universe.id %>/galaxy/<%= galaxy.id %>/solar-system/<%= system.id %>"><%= system.name %></a></p>

<% }) %>
<div class="add-universe">
    <form action="/aether/universe/<%= universe.id %>/galaxy/<%= galaxy.id %>/solar-system/add" method="post">
        <input type="text" name="name" placeholder="Name of Solar System">
        <input type="number" name="dimXpos" placeholder="Dimension X Positive">
        <input type="number" name="dimXneg" placeholder="Dimension X Negative">
        <input type="number" name="dimXspeed" placeholder="Dimension X Speed">
        <input type="number" name="dimYpos" placeholder="Dimension Y Positive">
        <input type="number" name="dimYneg" placeholder="Dimension Y Negative">
        <input type="number" name="dimYspeed" placeholder="Dimension Y Speed">
        <input type="number" name="dimZpos" placeholder="Dimension Z Positive">
        <input type="number" name="dimZneg" placeholder="Dimension Z Negative">
        <input type="number" name="dimZspeed" placeholder="Dimension Z Speed">
        <input type="number" name="posX" placeholder="Position X">
        <input type="number" name="posY" placeholder="Position Y">
        <input type="number" name="posZ" placeholder="Position Z">
        <input type="number" name="rotX" placeholder="Rotation X">
        <input type="number" name="rotY" placeholder="Rotation Y">
        <input type="number" name="rotZ" placeholder="Rotation Z">
        <input type="number" name="time" placeholder="Age in Years">
        <button type="submit">Add Solar System</button>
    </form>
</div>
