<style>
    p {
        color: #fff;
    }

</style>

<h5><%= solarSystem.name %> Home</h5>
<% planets.forEach(function(planet) { %>
    <div class="planet">
        <p style="color: lime;"><a href="/aether/universe/<%= universe.id %>/galaxy/<%= galaxy.id %>/solar-system/<%= solarSystem.id %>/planet/<%= planet.id %>"><%= planet.name %></a></p>
    </div>
<% }) %>

<div class="add-universe">
    <form action="/aether/universe/<%= universe.id %>/galaxy/<%= galaxy.id %>/solar-system/<%= solarSystem.id %>/planet/add" method="post">
        <input type="text" name="name" placeholder="Name of Planet">
        <input type="text" name="solar_system" placeholder="For Solar System" value="<%= solarSystem.id %>">
        <input type="number" name="dimXpos" placeholder="Dimension X Positive">
        <input type="number" name="dimXneg" placeholder="Dimension X Negative">
        <input type="number" name="dimXspeed" placeholder="Dimension X Speed">
        <input type="number" name="dimYpos" placeholder="Dimension Y Positive">
        <input type="number" name="dimYneg" placeholder="Dimension Y Negative">
        <input type="number" name="dimYspeed" placeholder="Dimension Y Speed">
        <input type="number" name="dimZpos" placeholder="Dimension Z Positive">
        <input type="number" name="dimZneg" placeholder="Dimension Z Negative">
        <input type="number" name="dimZspeed" placeholder="Dimension Z Speed">
        <input type="number" name="posX" placeholder="Position X">
        <input type="number" name="posY" placeholder="Position Y">
        <input type="number" name="posZ" placeholder="Position Z">
        <input type="number" name="rotX" placeholder="Rotation X">
        <input type="number" name="rotY" placeholder="Rotation Y">
        <input type="number" name="rotZ" placeholder="Rotation Z">
        <input type="number" name="srtX" placeholder="Single Rotation Time X">
        <input type="number" name="srtY" placeholder="Single Rotation Time Y">
        <input type="number" name="srtZ" placeholder="Single Rotation Time Z">
        <input type="number" name="dayLength" placeholder="Length of Day in Seconds">
        <input type="number" name="time" placeholder="Age in Years">
        <button type="submit">Add Planet</button>
    </form>
</div>
