<style>
    p {
        color: #fff;
    }

</style>

<h1><%= city.name %> Home</h1>

<% places.forEach(function(place) { %>
    <div class="place-container">
        <h5><a href="/aether/universe/<%= universe.id %>/galaxy/<%= galaxy.id %>/solar-system/<%= solarSystem.id %>/planet/<%= planet.id %>/sector/<%= sector.id %>/city/<%= city.id %>/place/<%= place.id %>"><%= place.name %></a></h5>
    </div>
<% }) %>
